@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  #searchProductPopup {
    z-index: 7;

    .k-dialog {
      width: 700px;
      min-height: 450px;
      border-radius: 3px;

      .k-dialog-titlebar {
        color: white;
        background-color: $dark-green;
        text-transform: uppercase;
        font-weight: 700;
        padding: 14px;
        border-radius: 3px 3px 0 0;

        .k-dialog-title {
          justify-content: center;
          font-size: 20px;
        }
      }

      .k-dialog-content.k-window-content {
        padding: 0 13px 13px;
        overflow: hidden;
        overflow-y: scroll;

        .label {
          margin: 13px 0 6px;
          font-weight: 700;
          font-size: 13px;
          color: $gray-700;
        }

        .productCbx {
          position: relative;

          .k-i-cart {
            position: absolute;
            z-index: 1;
            height: 100%;
            padding-left: 15px;
          }
          .k-combobox {
            width: 100%;
            padding-left: 30px;

            .k-input {
              color: $good-green;
            }
          }
        }

        .left-col {
          .textarea {
            background-color: $gray-100;
            padding: 4px 10px;
            border-radius: 3px;
          }
        }

        .right-col{
          img {
            max-width: 100%;
            margin: 13px 0 6px;
          }
          .priceGroup {
            display: flex;
            align-items: center;
            column-gap: 16px;
  
            .label {
              margin: 0;
            }
  
            .price {
              .newPrice {
                color: $red;
              }
              .oldPrice {
                margin-top: 6px;
                text-decoration: line-through;
              }
            }
          }
          .description {
            margin-top: 13px;
            font-size: 10px;
            color: $blue;
          }
        }

        .warehouseList {
          margin-top: 6px;
          // width: 60%;

          .warehouseItem {
            display: flex;
            justify-content: space-between;
            padding: 4px 0;

            .quantity {
              min-width: 50px;
              text-align: right;
            }

            &.total {
              font-weight: 600;
              font-size: 13px;

              .warehouse {
                display: flex;
                align-items: flex-end;
              }
              .line {
                height: 1px;
                width: 50px;
                margin: 0 auto 5px;
                background-color: $gray-700;
              }
            }

            &.notReceived{
              color: $bad-red;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .k-popup {
    .productItem {
      display: flex;
      column-gap: 15px;

      .code {
        color: $gray-600;
      }
    }
  }
}
