<div class="main">
    <div class="header header-1" [ngClass]="{'disabled-block': isFilterDisable || isLoading}">
        <app-p-kendo-breadcrumb (loadData)="handleLoadFilter()"></app-p-kendo-breadcrumb>
        <div class="button-group">
            <app-checkbox-button-group title="Đang soạn thảo" [field]="'Status'" [value]="0" [checked]="isDraft"
                (selectedChange)="handleFilterChange($event, 'isDraft', false)"
                (filterChange)="handleFilterChange($event, 'draftDescriptor')">
            </app-checkbox-button-group>
            <app-checkbox-button-group title="Gửi duyệt" [field]="'Status'" [value]="1" [checked]="isSent"
                (selectedChange)="handleFilterChange($event, 'isSent', false)"
                (filterChange)="handleFilterChange($event, 'sentDescriptor')">
            </app-checkbox-button-group>
            <app-checkbox-button-group title="Đã duyệt" [field]="'Status'" [value]="2" [checked]="isApproved"
                (selectedChange)="handleFilterChange($event, 'isApproved', false)"
                (filterChange)="handleFilterChange($event, 'approvedDescriptor')">
            </app-checkbox-button-group>
            <app-checkbox-button-group title="Ngưng áp dụng" [field]="'Status'" [value]="3" [checked]="isSuspended"
                (selectedChange)="handleFilterChange($event, 'isSuspended', false)"
                (filterChange)="handleFilterChange($event, 'suspendedDescriptor')">
            </app-checkbox-button-group>
        </div>
        <div class="btnWrapper">
            <button kendoButton iconClass="k-icon k-i-plus" class="btn-hachi hachi-primary" (click)="openDetail(true)"
                *ngIf="isMaster || isCreator">
                THÊM MỚI
            </button>
        </div>
    </div>

    <div class="header header-2" [ngClass]="{'disabled-block': isFilterDisable || isLoading}">
        <!-- FILTER BY TERM -->
        <app-search-filter-group placeholder="Tìm theo mã, tiêu đề của quyết định, CMND/CCCD, mã, tên nhân sự"
            class="filter-search" [fields]="['DecisionID', 'DecisionName']"
            (filterChange)="handleFilterChange($event, 'SearchTermComposite')" (onReset)="hanldeResetFilter()">
        </app-search-filter-group>

        <!-- FILTER EFFDATE -->
        <kendo-label text="Ngày hiệu lực">
            <div class="in-label">
                <p-kendo-dropdownlist class="filter-by-date" [data]="ListDateFilterOperator" textField="TypeFilter"
                    valueField="ValueFilter" [(ngModel)]="curDateFilterOperator"
                    (selectionChange)="handleFilterChange($event, 'curDateFilterOperator')" [hasValueNull]="false">
                </p-kendo-dropdownlist>
                <app-datepicker [format]="'dd/MM/yyyy'" [placeholder]="'dd/MM/yyyy'" [(ngModel)]="curDateFilterValue"
                    [formatPlaceholder]="{ year: 'yyyy', month: 'MM', day: 'dd' }"
                    (valueChange)="handleFilterChange($event,'curDateFilterValue')"></app-datepicker>
            </div>
        </kendo-label>
    </div>


    <div class="grid-wrapper grid-hiring">
        <app-p-kendo-grid class="grid scrollable" [ngClass]="{'pagerDisable': isFilterDisable}"
            [data]="gridView | async" [scrollable]="'none'" [loading]="isLoading" [selectable]="selectable"
            [pageable]="true" [pageSizes]="pageSizes" [pageSize]="pageSize" [take]="gridState.take"
            [skip]="gridState.skip" [sortable]="true" [sort]="gridState.sort"
            [onPageChangeCallback]="onPageChangeCallback" [getActionDropdownCallback]="getActionDropdownCallback"
            [onActionDropdownClickCallback]="onActionDropDownClickCallback"
            [getSelectionPopupCallback]="getSelectionPopupCallback"
            [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback" [onSelectCallback]="onSelectCallback">
            <!-- COL-1 -->
            <kendo-grid-column field="DecisionName" title="Tiêu đề" class="name-col" [width]="500">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span class="decision-name"
                        [title]="'Tiêu đề: ' + dataItem?.DecisionName">{{dataItem?.DecisionName}}</span>
                    <div class="id-seperate-block">
                        <span class="decision-id"
                            title="Mã QĐ: {{dataItem?.DecisionID}}">{{dataItem?.DecisionID}}</span>
                        <div *ngIf="dataItem?.EffDate && dataItem?.DecisionID" class="seperate-bar">|</div>
                        <span
                            title="Ngày hiệu lực: {{dataItem?.EffDate | date : 'dd/MM/yyyy' : 'Indochina Time' : 'vi_VN'}}">{{dataItem?.EffDate
                            | date : "dd/MM/yyyy" : "Indochina Time" : "vi_VN"}}</span>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <!-- COL-2 -->
            <kendo-grid-column title="Chi tiết" class="detail-col" [width]="400">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div *ngIf="TypeDecision == 1">
                        <div [title]="'Số ứng viên: ' + dataItem?.NumOfStaff" class="title-detail">
                            <div class="title">Số ứng viên</div>
                            <div *ngIf="TypeDecision == HiringENUM">
                                : {{[2, 3].includes(dataItem.Status) ? dataItem.NumOfStaff :
                                dataItem.NumOfProfile}}
                            </div>
                            <div *ngIf="TypeDecision == TransferingENUM">
                                : {{dataItem.NumOfStaff}}
                            </div>
                        </div>
                        <div [title]="'Số vị trí tuyển dụng: ' + dataItem?.NumOfPosition" class="title-detail">
                            <div class="title">Số vị trí tuyển dụng</div>
                            <div>: {{dataItem?.NumOfPosition}}</div>
                        </div>
                    </div>

                    <div *ngIf="TypeDecision == 2">
                        <div [title]="'Số nhân sự: ' + dataItem?.NumOfStaff" class="title-detail">
                            <div class="title">Số nhân sự</div>
                            <div>: {{dataItem.NumOfStaff}}</div>
                        </div>
                        <div [title]="'Số vị trí điều chuyển: ' + dataItem?.NumOfPosition" class="title-detail">
                            <div class="title">Số vị trí điều chuyển</div>
                            <div>: {{dataItem.NumOfPosition}}</div>
                        </div>
                    </div>

                </ng-template>
            </kendo-grid-column>

            <!-- COL-3 -->
            <kendo-grid-column field="PolicyName" title="Người lập" headerClass="flex-center-col"
                class="flex-center-col" [width]="400">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="name-ellipsis">
                        <nav [title]="dataItem?.CreatedBy">
                            {{dataItem?.CreatedBy}}
                        </nav>

                    </div>
                    <i [title]="dataItem?.CreatedTime | date : 'dd/MM/yyyy' : 'Indochina Time' : 'vi_VN'">
                        {{dataItem?.CreatedTime | date : 'dd/MM/yyyy' : 'Indochina Time' : 'vi_VN'}}
                    </i>
                </ng-template>
            </kendo-grid-column>


            <!-- COL-4 -->
            <kendo-grid-column field="PolicyName" title="Người phê duyệt" headerClass="flex-center-col"
                class="flex-center-col" [width]="400">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <ng-container *ngIf="dataItem?.ApprovedBy">
                        <div class="name-ellipsis">
                            <nav [title]="dataItem?.ApprovedBy">
                                {{dataItem?.ApprovedBy}}
                            </nav>

                        </div>
                        <i [title]="dataItem?.ApprovedTime | date : 'dd/MM/yyyy' : 'Indochina Time' : 'vi_VN'">
                            {{dataItem?.ApprovedTime | date : 'dd/MM/yyyy' : 'Indochina Time' : 'vi_VN'}}
                        </i>
                    </ng-container>
                    <span title='Chưa có nhân sự duyệt' *ngIf="!dataItem?.ApprovedBy" class="not-yet-staff">
                        (Chưa có nhân sự duyệt)
                    </span>
                </ng-template>
            </kendo-grid-column>

            <!-- COL-5 -->
            <kendo-grid-column field="StatusName" title="Tình trạng" headerClass="flex-end-col"
                class="flex-end-col col-status">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span class="status-name"
                        [innerHTML]="dataItem.StatusName | colorStatus: dataItem.Status">{{dataItem.StatusName}}</span>
                </ng-template>
            </kendo-grid-column>
        </app-p-kendo-grid>
    </div>

    <!-- POPUP CONFIRM DELETE POLICY -->
    <kendo-dialog class="dialog-delete popup-confirm-custom" [minHeight]="250" [minWidth]="400" *ngIf="isDialogShow">
        <!-- HEADER -->
        <div class="dialog-header">
            <span class="k-icon k-i-warning"></span>
            <div>{{'Xóa quyết định' | uppercase}}</div>
        </div>

        <!-- CONTENT -->
        <div class="dialog-content">
            <div class="text-confirm">
                <span class="text-request-dialog-custom">Bạn chắc chắn muốn xoá các quyết định được chọn không ?</span>
            </div>
            <div class="warning">
                <span>Quyết định bị xoá sẽ</span>
                <span style="color: #FD7676;">KHÔNG</span>
                <span>thể khôi phục lại.</span>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="dialog-footer">
            <button kendoButton (click)="handleCloseDialog()" class="cancel-button">Không xóa</button>
            <button kendoButton icon="trash" class="btn-delete" (click)="handleDeleteRequest()">xóa</button>
        </div>
    </kendo-dialog>

    <!-- POPUP HUỶ QUYẾT ĐỊNH -->
    <kendo-dialog class="dialog-stopped popup-confirm-custom" [minHeight]="250" [minWidth]="400"
        *ngIf="isStoppedDecisionDialogShow">
        <!-- HEADER -->
        <div class="dialog-header-stopped">
            <div *ngIf="TypeDecision == HiringENUM">HỦY TUYỂN DỤNG</div>
            <div *ngIf="TypeDecision == TransferingENUM">HỦY ĐIỀU CHUYỂN</div>
        </div>

        <!-- CONTENT -->
        <div class="dialog-content-stopped">
            <!-- TEXT -->
            <div class="text-confirm">
                <span>Hãy nêu lý do tại sao
                    <span class="text-stop"> NGƯNG </span>
                    <span *ngIf="TypeDecision == HiringENUM">tuyển dụng </span>
                    <span *ngIf="TypeDecision == TransferingENUM">điều chuyển </span>
                    đối với tất cả nhân sự
                </span>
            </div>

            <!-- LÝ DO HUỶ QUYẾT ĐỊNH -->
            <div class="box-input">
                <div class="box-input-reason">
                    <span class="header-box-input">
                        Lý do hủy quyết định
                        <span class="important">(*)</span>
                    </span>
                    <p-kendo-dropdownlist [loading]="isLoadingDropdownReasonStopProfile" [data]="listReason"
                        [textField]="'ListName'" [valueField]="'Code'"
                        (selectionChange)="getValueChangeDropdownReason($event)">
                    </p-kendo-dropdownlist>
                </div>

                <div class="box-input-remark">
                    <span class="header-box-input">Mô tả lý do <span *ngIf="isObligatoryReason"
                            class="important">(*)</span></span>
                    <kendo-textarea #remark [resizable]="'none'"></kendo-textarea>
                </div>

                <!-- Đối với huỷ quyết định điều chuyển thêm hướng xử lý -->
                <div *ngIf="TypeDecision == TransferingENUM" class="box-input-solution">
                    <span class="header-box-input">Hướng xử lý</span>
                    <div class="box-checkbox">
                        <div class="box-checkbox">
                            <div class="box-checkbox-return" (click)="toggleRadioButton('return')">
                                <input [checked]="isReturnChecked" type="radio" name="solution" id="return" />
                                <span class="text-checkbox">Trở lại vị trí cũ</span>
                            </div>

                            <div class="box-checkbox-quit" (click)="toggleRadioButton('quit')">
                                <input [checked]="isQuitChecked" type="radio" name="solution" id="quit" />
                                <span class="text-checkbox">Nghỉ việc</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="dialog-footer">
            <button kendoButton class="btn cancel-button" (click)="handleDialogStopDecision(2)">ĐÓNG</button>
            <button kendoButton class="btn confirm-button" (click)="handleDialogStopDecision(3)">XÁC NHẬN</button>

        </div>
    </kendo-dialog>

    <!-- DIALOG XÁC NHAN NGƯNG QUYẾT ĐỊNH -->
    <!-- <kendo-dialog class="dialog-stopped-decision popup-confirm-custom" [minHeight]="250" [minWidth]="400"
        *ngIf="isStoppedDecisionDialogShow">
        <div class="dialog-header-stopped">
            <div>NGƯNG QUYẾT ĐỊNH</div>
        </div>

        <div class="dialog-content">
            <div class="text-confirm">
                <span class="text-request-dialog-custom">
                    Bạn có chắc chắn muốn ngưng quyết định được chọn không ?
                </span>
            </div>
            <div class="warning">
                <span>Quyết định bị ngưng sẽ</span>
                <span style="color: #FD7676;">KHÔNG</span>
                <span>thể phê duyệt lại.</span>
            </div>
        </div>

        <div class="dialog-footer">
            <button kendoButton class="btn cancel-button" (click)="handleDialogStopDecision(2)">ĐÓNG</button>
            <button kendoButton class="btn confirm-button"
                (click)="handleDialogStopDecision(3, listStoppedDecision)">XÁC NHẬN</button>
        </div>
    </kendo-dialog> -->
</div>