
kendo-dropdownlist{
    background-color: white;
    border-width: 2px;
    height: 33px;
}    
kendo-textbox{
    background-color: white;
    border-width: 2px;
    height: 33px;
}   

.short-textbox{
    background-color: white;
    border-width: 2px;
    height: 33px;
    width: 65px;
    display: flex;
    text-align: center;
}

.medium-textbox{
    background-color: white;
    border-width: 2px;
    height: 33px;
    width: 135px;
}

::ng-deep{
    .k-list-optionlabel.k-selected {
        background-color: #1A6634; 
    }
    .k-checkbox:checked {
        accent-color: #1A6634;
        background-color: #1A6634;
        border: 1px solid #1A6634;
    }
    
    .k-checkbox:focus{
        box-shadow: none;
    }
    
    .k-i-search.k-input-icon.k-icon{
        display: none;
    }
    
    .k-list-optionlabel{
        color: black;
    }
    .k-list-optionlabel.k-selected:hover{
        background-color: #1A6634; 
    }
    
    .k-list-item.k-selected {
        background-color: #1A6634; 
    }
    
    .k-list-item.k-selected:hover{
        background-color: #1A6634;
    }
} 



.body{
    margin-right: 5px;
    margin-left: 2px;
    height: 100%;

    .header-hamper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        kendo-breadcrumb{
            background-color: transparent;
        }
        .aria-button{
            width: 300px;
            display: flex;
            .btn-function{
                background-color: red;
            }
            .btn-addNew{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 85px;
                height: 32px;
                color: white;
                background-color: #1A6634;

                .title-btn{
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .block-hamper{
        height: 306px;
        width: 100%;
        .header{
            display: flex;
            margin-bottom: 10px;
            
            .title-header{
                margin-right: 20px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
        }

        .content-hamper{
            height: 282px;
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: white;
            .group-item{
                display: flex;
                padding: 0px 20px;
                div{
                    margin-right: 10px;
                }

                .import-image{
                    height: 222px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .group {
                    width: 377px;
                    margin-top: 5px;
                    .kendo-label {
                        display: flex;
                        color: #959DB3;
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        div{
                            margin-left: 5px;
                            color: red;
                        }
                    }
                   
                  }
            }
            
        }
    }

    .hamper-info-package{
        width: 100%;
        height: 390px;
        margin-top: 20px;
        .content-hamper{
            height: 352px;
            .group-item{
                div{
                    .group{
                        .box-group{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .box{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                color: #959DB3;
                                font-weight: bold;

                                .package{
                                    margin-right: 40px;
                                }

                                .textbox-change-package{
                                    width: 167px;
                                    margin: 0 20px;
                                }
                            }
                        }

                        .box-group-change{
                            width: 100%;

                            .box{
                                margin-top: 10px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                color: #959DB3;
                                font-weight: bold;

                                .package{
                                    width: 100px;
                                }

                                .textbox-change-package{
                                    width: 167px;
                                    margin: 0 10px;
                                }

                                .title-base-unit{
                                    font-weight: 100;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hamper-company{
        margin-top: 10px;
        .header{

        }
        .content-hamper{
            height: 516px;
            .item-company{
                padding: 10px 10px;
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                app-item-company{
                    margin-right: 20px;
                }
            }
        }
    }
}

