

<button (click)="log()">click</button>
<div class="body">
    <app-hamper-drawer [titleText]="'SẢN PHẨM THUỘC HAMPER'" [expanded]="isOpenDrawer">
        <div class="drawer"> 
            <div>
                <kendo-label>Nhập mã sản phẩm</kendo-label>
                <kendo-textbox (blur)="findProductByBarcode(idProductItem)" [(value)]="idProductItem" class="kendo-textbox"></kendo-textbox>
            </div>
            <div *ngIf="itemProductFilter.Barcode" class="item-group-name">
                <div>
                    <kendo-label>Tên sản phẩm</kendo-label>
                </div>
                <div class="name">
                    <kendo-label>{{itemProductFilter.Name}}</kendo-label>
                </div>


            </div>
            <div *ngIf="itemProductFilter.Barcode" class="item-group">
                <div>
                    <kendo-label>Số lượng có trong hamper</kendo-label>
                    <kendo-numerictextbox format="##" [(value)]="quantityProduct" class="kendo-textbox"></kendo-numerictextbox>
                </div>
                <div class="item-group-image">
                    <img *ngIf="itemProductFilter.Image" [ngStyle]="{ 'width': '100%', 'height': '100%', 'border': 'none' }" [src]="itemProductFilter.Image" alt="">
                </div>
            </div>

            <div class="btn-aria">
                <button kendoButton class="btn btn-close" data-type="success" (click)="closeDrawer()">
            
                    {{'đóng' | uppercase}}
                </button>
                <button (click)="handleAddProductHamper()" kendoButton class="btn btn-add" data-type="success">
                
                    {{'Thêm' | uppercase}}
                </button>
                <!-- <button kendoButton class="btn btn-update" data-type="success">
                    {{'Cập nhật' | uppercase}}
                </button> -->
            </div>
        </div>
    </app-hamper-drawer>
    <form #myForm="ngForm" [formGroup]="formHamper">
        <div class="header-hamper">
            <kendo-breadcrumb [items]="itemBreadCrumb" SetClassSVGIcon HamperBreadcrumb class="breadcrumb"></kendo-breadcrumb>
            <div class="aria-button">
                <div *ngFor="let btn of dataButtonStatus">
                    <button *ngIf="formHamper.get('status').value && btn.dataShow.includes(formHamper.get('status').value.id)" class="btn-addNew" HamperButtons [attr.data-type]="btn.status" (click)="handleChangeStatus(btn.id)">
                        <kendo-svg-icon [icon]="btn.icon"></kendo-svg-icon>
                        {{ btn.text | uppercase }}
                    </button>
                </div>
                
                <button (click)="addNewHamper()" class="btn-addNew" HamperButtons data-type="success"><kendo-svg-icon [icon]="plusIcon"></kendo-svg-icon>{{'Thêm mới' | uppercase}}</button>
            </div>
            
        </div>
        <div class="hamper-info block-hamper">
            <div class="header"> 
                 <div class="title-header">{{'Thông tin hamper' | uppercase}}</div>
                 <div *ngIf="barcodeHamper!=''" class="title-status" [style.color]="getStatusColor(formHamper.get('status').value.id)">
                    {{ getStatusText(formHamper.get('status').value.id) }}
                </div>
            </div>
            <div class="content-hamper">
                <div class="group-item grid-cols-3">
                    <div class="col-limit col-span-1">
                        <div class="group ">
                            <kendo-label class="kendo-label"> 
                                Barcode gốc &nbsp; <span Necessary></span>
                            </kendo-label>
                            <kendo-textbox class="kendo-textbox barcode" [(value)]="barcodeHamper" [disabled]="true"></kendo-textbox>
                        </div>
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Tên tiếng Việt  &nbsp; <span Necessary ></span>
                            </kendo-label>
                            <kendo-textbox [readonly]="formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3" class="kendo-textbox" formControlName="nameVietNames" (blur)="onBlurNameVietNames()"></kendo-textbox>
                        </div>
                        <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="group">
                            <kendo-label class="kendo-label"> 
                                Tên tiếng Anh
                            </kendo-label>
                            <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="nameEnglish"></kendo-textbox>
                        </div>
                        <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}"class="group">
                            <kendo-label class="kendo-label"> 
                                Tên tiếng Nhật
                            </kendo-label>
                            <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3"class="kendo-textbox" formControlName="nameJapan"></kendo-textbox>
                        </div>
                    </div>
    
                    <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="col-limit col-span-1">
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Xuất xứ
                            </kendo-label>
                            <kendo-dropdownlist
                                [defaultItem]="defaultItemDropdown"
                                [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3"
                                class="kendo-dropdownlist"
                                iconClass="fa-solid fa-angle-down"
                                fillMode="outline"
                                [data]="dataMadeHameper"
                                textField="made"
                                valueField="made"
                                formControlName="made"
                                [filterable]="true"
                                SetClassSVGIcon
                            ></kendo-dropdownlist>
                        </div>
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Chất liệu tiếng Việt
                            </kendo-label>
                            <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="materialVietnames"></kendo-textbox>
                        </div>
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Chất liệu tiếng Anh
                            </kendo-label>
                            <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="materialEnglish"></kendo-textbox>
                        </div>
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Chất liệu tiếng Nhật
                            </kendo-label>
                            <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="materialJapan"> </kendo-textbox>
                        </div>
                    </div>

                    <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="col-limit import-image col-span-1">
                        <app-import-image (fileSelected)="getImage($event)"></app-import-image>
                    </div>
                   
                </div>
            </div>
        </div>
        <div  class="hamper-info-package block-hamper">
            <div class="header"> 
                 <div class="title-header">{{'Thông tin đóng gói' | uppercase}}</div>
            </div>
            <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="content-hamper">
                <div class="group-item grid-cols-3">
                    <div class="col-span-1">
                        <div class="group">
                            <kendo-label class="kendo-label"> 
                                Đơn vị  sản phẩm (Base unit)
                            </kendo-label>
                            <kendo-dropdownlist 
                            [defaultItem]="defaultItemDropdownOgirin" 
                            [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3"
                            class="kendo-dropdownlist" 
                            iconClass="fa-solid fa-angle-down"
                            fillMode="outline"
                            [data]="dataUnitProduct"
                            textField="text"
                            valueField="text"
                            formControlName="text"
                            [filterable]="true" formControlName="unit" SetClassSVGIcon></kendo-dropdownlist>
                        </div>
                        <div formGroupName="sizeProduct" class="group">
                            <kendo-label class="kendo-label"> 
                                Kích thước sản phẩm (dài x rộng x cao x cân nặng) (cm - g)
                            </kendo-label>
                            <div class="box-group">
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="lenght" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"     [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="width" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="height" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="weight" class="medium-textbox"></kendo-numerictextbox>
                            </div>
                        </div>
                        <div formGroupName="sizeInner" class="group">
                            <kendo-label class="kendo-label"> 
                                Kích thước inner (dài x rộng x cao x cân nặng) (cm - g)
                            </kendo-label>
                            <div class="box-group">
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="lenght" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="width" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="height" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="weight" class="medium-textbox"></kendo-numerictextbox>
                            </div>
                        </div>
                        <div formGroupName="sizeCartoon" class="group">
                            <kendo-label class="kendo-label"> 
                                Kích thước carton (dài x rộng x cao x cân nặng) (cm - g)
                            </kendo-label>
                            <div class="box-group">
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true"  format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="lenght" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="width" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="height" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="weight" class="medium-textbox"></kendo-numerictextbox>
                            </div>
                        </div>
                        <div formGroupName="sizePallet" class="group">
                            <kendo-label class="kendo-label"> 
                                Kích thước pallet (dài x rộng x cao x cân nặng) (cm - g)
                            </kendo-label>
                            <div class="box-group">
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##" [readonly]="!barcodeHamper" class="kendo-textbox" formControlName="lenght" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##" [readonly]="!barcodeHamper" class="kendo-textbox" formControlName="width" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##" [readonly]="!barcodeHamper" class="kendo-textbox" formControlName="height" class="short-textbox"></kendo-numerictextbox>
                                <kendo-numerictextbox [min]="0" [autoCorrect]="true" format="##" [readonly]="!barcodeHamper" class="kendo-textbox" formControlName="weight" class="medium-textbox"></kendo-numerictextbox>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-1">
                       <div class="group">
                            <kendo-label class="kendo-label"> 
                                Quy đổi quy cách sản phẩm
                            </kendo-label>
                            <div class="box-group-change">
                                <div class="box">
                                    <kendo-label class="package">Inner</kendo-label>
                                    <kendo-label class="equal">=</kendo-label>
                                    <kendo-numerictextbox
                                        [min]="0"
                                        [autoCorrect]="true"
                                        formControlName="changeInner"
                                        format="##"
                                           [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3"
                                        class="textbox-change-package">
                                    </kendo-numerictextbox>
                                    <kendo-label class="title-base-unit">Base unit</kendo-label>
                                </div>
                                <div class="box">
                                    <kendo-label class="package">Carton</kendo-label>
                                    <kendo-label class="equal">=</kendo-label>
                                    <kendo-numerictextbox  [min]="0"
                                        [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" formControlName="changeCarton" class="textbox-change-package"></kendo-numerictextbox>
                                    <kendo-label class="title-base-unit">Base unit</kendo-label>
                                </div>
                                <div class="box">
                                    <kendo-label class="package">Pallet</kendo-label>
                                    <kendo-label class="equal">=</kendo-label>
                                    <kendo-numerictextbox  [min]="0"
                                        [autoCorrect]="true" format="##"    [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" formControlName="changePallet" class="textbox-change-package"></kendo-numerictextbox>
                                    <kendo-label class="title-base-unit">Base unit</kendo-label>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div  class="hamper-otherInfor block-hamper">
            <div class="header"> 
                 <div class="title-header">{{'Thông tin khác' | uppercase}}</div>
            </div>
            <div [ngClass]="{'disable-aria': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="content-hamper">
                <div class="group-item grid-cols-3">
                    <div class="group col-span-1">
                        <kendo-label class="kendo-label"> 
                            Thông số kỹ thuật
                        </kendo-label>
                        <kendo-textbox [readonly]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" class="kendo-textbox" formControlName="specifications"></kendo-textbox>
                    </div>
                </div>
              
            </div>
        </div>

        <div  [ngClass]="{'product-list-disable': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" >
           <app-product-list  
                (sendDataOpenDrawer)="openDrawer()" 
                [stateHamper]="formHamper.get('status').value?.text"  
                [products]="dataItemProductInHamper">
            </app-product-list>

        </div>

        <div class="hamper-company block-hamper">
            <div class="header"> 
                 <div class="title-header">{{'Công ty áp dụng' | uppercase}}</div>
            </div>
            <div  [ngClass]="{'company-disable': barcodeHamper == '' || formHamper.get('status').value?.id == 2 || formHamper.get('status').value?.id == 3 ? true : false}" class="content-hamper">
                <div class="group-item grid-cols-3 item-company">
                    <div class="group col-span-1">
                        <app-item-company [disableCheckbox]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" [setValue]="vietHaCom" (getValue)="getValueCompany1($event)" [important]="true" [totalPrice]="200" >></app-item-company>
                    </div>
                    <div class="group col-span-1">
                        <app-item-company [disableCheckbox]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" [setValue]="motThanhCom" (getValue)="getValueCompany2($event)" [important]="false" [totalPrice]="200" >></app-item-company>
                    </div>
                    <div class="group col-span-1">
                        <app-item-company [disableCheckbox]="!barcodeHamper || formHamper.get('status').value.id == 2 || formHamper.get('status').value.id == 3" [setValue]="PSCom" (getValue)="getValueCompany3($event)" [important]="false" [totalPrice]="200" >></app-item-company>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="actor">©️ Luong Phu</div>
    
</div>

