@import '../shared/styles/styles.scss';



.kendo-dropdownlist{
    background-color: white;
    height: 33px;
    border: 2px solid #DBDEE7;
    border-radius: 2px !important;
    // outline: none;
    &:hover{
        border-color: #1A6634;
        background-color: white;
        color: black;
    }
    &.k-focus{
        box-shadow: none;
        outline: none;
        border-color: #1A6634;
    }
}    

.k-input-outline:focus-within{
    border-color: #1A6634;
    border-width: 2px;
    box-shadow: none !important;
    border-radius: 2px;
}

.kendo-textbox{
    background-color: white;
    height: 33px;
    border: 2px solid #DBDEE7;
    border-radius: 2px !important;
    &:hover{
        border-color: #1A6634;
        background-color: white;
    }
    &.k-focus{
        box-shadow: none;
        outline: none;
        border-color: #1A6634;
    } 
} 

.k-input-spinner{
    display: none;
}


.short-textbox{
    background-color: white;
    border-width: 2px;
    height: 33px;
    width: 18%;
    display: flex;
    text-align: center;
    align-items: center;
    &:hover{
        border-color: #1A6634;
        background-color: white;
    }
    &.k-focus{
        box-shadow: none;
        outline: none;
        border-color: #1A6634;
    } 
    .k-input-inner{
        align-items: center;
        text-align: center;
    }
    
}

.medium-textbox{
    background-color: white;
    border-width: 2px;
    height: 33px;
    width: 40%;
    &:hover{
        border-color: #1A6634;
        background-color: white;
    }
    &.k-focus{
        box-shadow: none;
        outline: none;
        border-color: #1A6634;
    } 
    .k-input-inner{
        align-items: center;
        text-align: center;
    }
    
}

.disable-aria{
    opacity: 0.7;
    .kendo-textbox{
        .k-input-inner{
            cursor: default;
        }
        &.k-focus{
            user-select: none;
        } 
    } 

    .kendo-dropdownlist{
        cursor: default;
        &.k-focus{
            user-select: none;
        }
    } 
}



.body{
    width: 100%;
    margin-left: 2px;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 50px;

    .drawer{
        div{
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
            kendo-label{
                color: black;
                font-weight: bold;
            }
        }
        .item-group-name{
            display: inline-block;

            .name{
                padding-left: 10px;
                padding-right: 10px;
                color: #959DB3;
                font-weight: 100;
                margin-top: 5px;
            }
        }
        .item-group{
            margin-bottom: 10px;
            display: flex;
            kendo-label{
                color: black;
                font-weight: bold;
            }

            .kendo-textbox{
                margin-top: 5px;
                width: 146px;
            }

      

            .item-group-image{
                height: 161px;
                width: 181px;

                // .image{
                //     width: 100%;
                //     height: 100%;
                // }
            }
        }

        .btn-aria{
            display: flex;

            .btn{
                height: 30px;
                width: 90px;
                margin-right: 10px;
                box-shadow: rgba(3, 102, 214, 0.3) 0px 3px 5px 0px
            }

            .btn-close{
                color: #1A6634;
                font-weight: bold;
            }

            .btn-add{
                background-color: #1A6634;
                color: white;
                font-weight: bold;
            }

            .btn-update{
                background-color: #1A6634;
                color: white;
                font-weight: bold;
            }
        }
      
    }

    .header-hamper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #BDC2D2;
        overflow-x: auto;
        kendo-breadcrumb{
            display: flex;
            align-items: center;
            height: 100%;

            margin: 0;
            margin-left: -20px;
            background-color: transparent;
        }
        .aria-button{
            display: flex;
            font-size: 13px;
            color: white;
            justify-content: end;
            margin-right: 10px;
            .btn-function{
               height: 32px;
               padding: 0px 10px;
               margin-left: 10px;
            }
            .btn-addNew{
                height: 32px;
                padding: 0px 10px;
                margin-left: 10px;

            }
        }
    }

    .block-hamper{
        margin-top: 10px;

        width: 100%;
        .header{
            display: flex;
            margin-bottom: 10px;
            align-items: center;
            
            .title-header{
                margin-right: 20px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }

            .title-status{
                color: black;
                font-weight: bold; 
            }
        }
        .content-hamper{
            overflow-x: auto;
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: white;
            .group-item{
                padding: 0px 20px;
                .col-span-1 {
                    margin-right: 20px;
                    min-width: 377px;
                }

                .import-image{
                    height: 222px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .group {
                    margin-top: 5px;
                    padding-right: 15px;
                    .kendo-label {
                        display: flex;
                        color: #959DB3;
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                   
                  }
            }
            
        }
    }

    .hamper-info{
        margin-top: 10px;
        width: 100%;
        .header{
            display: flex;
            margin-bottom: 10px;
            .title-header{
                margin-right: 20px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
        }
        .content-hamper{
            overflow-x: auto;
            padding-bottom: 20px;
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: white;
            .group-item{
                padding: 0px 20px;
                .col-span-1 {

                    .barcode{
                        background-color: #BDC2D2;
                        opacity: 0.7;
                    }
                    margin-right: 10px;
                    min-width: 377px;
                }

                .import-image{
                    height: 222px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .group {
                    margin-top: 5px;
                    .kendo-label {
                        display: flex;
                        color: #959DB3;
                        font-size: 13px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                   
                  }
            }
            
        }
    }

    .hamper-info-package{
        width: 100%;
        margin-top: 20px;
        .content-hamper{
            height: 332px;
            .group-item{
                div{
                    .group{
                        .box-group{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            .box{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                color: #959DB3;
                                font-weight: bold;

                                .package{
                                    margin-right: 40px;
                                }
                            }
                        }

                        .box-group-change{
                            width: 100%;

                            .box{
                                margin-top: 10px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                color: #959DB3;
                                font-weight: bold;

                                .package{
                                    width: 100px;
                                }

                                .textbox-change-package{
                                    background-color: white;
                                    height: 33px;
                                    border: 2px solid #DBDEE7;
                                    border-radius: 2px !important;
                                    width: 167px;
                                    margin: 0 20px;
                                    &:hover{
                                        border-color: #1A6634;
                                        background-color: white;
                                    }
                                    &.k-focus{
                                        box-shadow: none;
                                        outline: none;
                                        border-color: #1A6634;
                                    } 
                                }

                                .title-base-unit{
                                    font-weight: 100;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hamper-otherInfor{
        height: 106px;
        overflow-x: auto;
        overflow-y: hidden;
        .content-hamper{
            height: 82px;
            .kendo-label {
                display: flex;
                color: #959DB3;
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 5px;
            
            }
        }
    }

    .product-list-disable{
        pointer-events: none;
        opacity: 0.7;
        // height: 0px;
        // max-height: 388px;
        // background-color: red;
        // .product-list{
        //     max-height: 388px;
        //     height: 10000px;
        //     pointer-events: none;
        // }

        // .product-list-disable{
        //     pointer-events: none;
        //     background-color: red;
        // }
    }

    .hamper-company{
        width: 100%;
        margin-top: 20px;
  
        .content-hamper{
            overflow-y:hidden ;
            height: 440px;
        }

        .company-disable{
            pointer-events: none;
            opacity: 0.7;
        }
    }

    .actor{
        margin-top: 20px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 20px;
        color: black;
        font-weight: bold;
    }
}

