$icomoon-font-family: "icohachi" !default;
$icomoon-font-path: "fonts" !default;

$hachi-icon-brand: "\e939";
$hachi-icon-like: "\e938";
$hachi-icon-list: "\e935";
$hachi-icon-home: "\e936";
$hachi-icon-top: "\e937";
$hachi-icon-hachi24: "\e934";
$hachi-icon-star: "\e933";
$hachi-icon-up: "\e92f";
$hachi-icon-down: "\e930";
$hachi-icon-right: "\e931";
$hachi-icon-left: "\e932";
$hachi-icon-heart: "\e92d";
$hachi-icon-information: "\e900";
$hachi-icon-gift: "\e92e";
$hachi-icon-vppdochoi: "\e907";
$hachi-icon-freephone-path1: "\e901";
$hachi-icon-freephone-path2: "\e902";
$hachi-icon-freephone-path3: "\e903";
$hachi-icon-maymacphukien: "\e904";
$hachi-icon-diendientu: "\e905";
$hachi-icon-ngoaitroidilai: "\e906";
$hachi-icon-thucpham: "\e908";
$hachi-icon-mevabe: "\e909";
$hachi-icon-sapxeptrangtri: "\e90a";
$hachi-icon-suckhoesacdep: "\e90b";
$hachi-icon-giatgiuvesinh: "\e90c";
$hachi-icon-nhabep: "\e90d";
$hachi-icon-combogiftset: "\e90e";
$hachi-icon-spkhuyenmai: "\e90f";
$hachi-icon-spmoi: "\e910";
$hachi-icon-hangnhatdocdao: "\e911";
$hachi-icon-handbag: "\e912";
$hachi-icon-truck: "\e913";
$hachi-icon-fax: "\e914";
$hachi-icon-phone: "\e915";
$hachi-icon-refesh: "\e916";
$hachi-icon-filterline: "\e917";
$hachi-icon-trashbin: "\e918";
$hachi-icon-eyeopen: "\e919";
$hachi-icon-comment: "\e91a";
$hachi-icon-onoff: "\e91b";
$hachi-icon-close: "\e91c";
$hachi-icon-minus: "\e91d";
$hachi-icon-plus: "\e91e";
$hachi-icon-roadpath: "\e91f";
$hachi-icon-location: "\e920";
$hachi-icon-email: "\e921";
$hachi-icon-pricetag: "\e922";
$hachi-icon-bag: "\e923";
$hachi-icon-calendar: "\e924";
$hachi-icon-scancode: "\e925";
$hachi-icon-package: "\e926";
$hachi-icon-bell: "\e927";
$hachi-icon-user: "\e928";
$hachi-icon-search: "\e929";
$hachi-icon-love: "\e92a";
$hachi-icon-introlley: "\e92b";
$hachi-icon-trolley: "\e92c";

