<div class="config-product-order-info">
    <div class="title">
        THÔNG TIN KHÁC
    </div>
    <div class="content">
        <div class="block-1">
            <div class="item item1">
                <div class="label">Thông số kỹ thuật</div>
                <app-p-textbox  [propName]="'VNSpec'" [(ngModel)]="hamper.VNSpec" (keydown.Enter)="$event.target.blur()" (blur)="onBlurTextbox('VNSpec')" [disabled]="disable"></app-p-textbox>
            </div>
        </div>

        <div class="block-2" *ngIf="typeInfo == 4">
            <div class="item item1">
                <div class="label">Số ngày sử dụng kể từ NSX</div>
                <app-p-numeric-textbox  propName="sl"  [format]="'n0'"  [spinners]="false" [min]="0" class="k-textbox"
          [(ngModel)]="hamper.WebLotDate"  (keydown.Enter)="$event.target.blur()" [disabled]="disable"
          (blur)="onBlurTextbox('WebLotDate')"
          >
        </app-p-numeric-textbox>
            </div>
        </div>
    </div>
</div>
