<div class="price-request-info-container">
    <div class="price-request-info-title">
        <h1>thông tin đề nghị báo giá</h1>
    </div>

    <div class="price-request-info-section">
        <div class="code">
            <label>Mã nhà cung cấp</label>
            <input type="text" disabled placeholder="90044">
        </div>

        <div class="name">
            <label>Tên nhà cung cấp</label>
            <input type="text" disabled placeholder="NCCVN - Lê Mây">
        </div>
    </div>
</div>