.product-list {
  width: 100%;
  overflow: auto;
  .product-content {
    .btn-upload {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: white;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      text-wrap: nowrap;
      padding: 0 5px;
    }
    .btn {
      height: 30px;
      text-wrap: nowrap;
      color: #959db3;
      fill: #959db3;
    }
    header {
      width: 100%;
      background-color: #edeff3;
      min-width: 1300px;
      position: sticky;
      top: 0;
      z-index: 60;
      padding: 10px 0;
      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .title {
          text-wrap: nowrap;
          display: flex;
          gap: 5px;
          span {
            font-size: 20px;
          }
        }
        .search {
          display: flex;
          justify-content: center;
          gap: 10px;
          kendo-textbox {
            width: 500px;
            padding: 0 10px;
            background-color: white;
            input::placeholder {
              color: #a8a9ab;
            }
          }
        }
        .actions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }
    }
    main {
      height: 400px;
      table {
        min-width: 1300px;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 10px;
        text-align: start;
        thead {
          background-color: #edeff3;
          th {
            padding: 0 10px;
            &.actions {
              background-color: #edeff3;
              position: sticky;
              right: 0;
              z-index: 59;
            }
          }
        }
        tbody {
          tr {
            max-height: 76px;
            &.active {
              z-index: 50;
            }
            background-color: white;
            position: relative;
            td {
              background-color: white;
              padding: 5px 10px;
              &.product-td-width {
                width: 100px;
              }
              &.product-img {
                width: 40px;
                height: 40px;
              }
              &.product-name {
                .name-area{
                  display: flex;
                  align-items: center;
                  div {
                    overflow: hidden;
                    display: -webkit-inline-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    max-width: 400px;
                  }
                }
              }
              &.product-quantity {
                text-align: center;
              }
              &.actions {
                position: sticky;
                right: 0;
                z-index: 1;
                .action-area {
                  display: flex;
                  justify-content: right;
                }
                padding-right: 20px;
                .action-content {
                  cursor: pointer;
                  position: relative;
                  padding: 10px;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  &.active {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    background-color: #959db3;
                    .action-list {
                      display: block;
                      z-index: 50;
                      button {
                        z-index: 50;
                      }
                    }
                  }
                  .action-list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    background-color: #959db3;
                    border-radius: 5px;
                    border-top-right-radius: 0px;
                    min-width: 130px;
                    button {
                      display: flex;
                      width: 100%;
                      background-color: #959db3;
                      border: none;
                      padding: 5px 10px;
                      justify-content: start;
                      gap: 10px;
                      align-items: center;
                      color: white;
                      border-radius: 5px;
                      cursor: pointer;
                      &:hover {
                        background-color: #bdc2d2;
                        border-radius: 0px;
                        &:first-of-type {
                          border-top-left-radius: 5px;
                        }
                        &:last-of-type {
                          border-bottom-left-radius: 5px;
                          border-bottom-right-radius: 5px;
                        }
                      }
                      span {
                        text-wrap: nowrap;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
