@import "../../../../../../../styles.scss";
.product-list {
  width: 100%;
  .not-found {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      span {
        text-transform: uppercase;
      }
    }
  }
  .product-content {
    padding-right: 10px;
    .btn-upload {
      display: flex;
      height: 32px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: white;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      text-wrap: nowrap;
      padding: 0 10px;
      &:hover {
        background-color: #7ae37a;
        color: white;
      }
    }
    .btn {
      height: 32px;
      text-wrap: nowrap;
      color: #959db3;
      fill: #959db3;
    }

    .header-product-list {
      width: 100%;
      background-color: #edeff3;
      height: 65px;
      // position: sticky;
      top: 0;
      z-index: 60;
      padding: 10px 0;
      overflow: auto;
      .header-content {
        min-width: 1250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .title {
          text-wrap: nowrap;
          display: flex;
          gap: 5px;
          span {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          kendo-textbox {
            width: 500px;
            padding: 0 10px;
            background-color: white;
            input::placeholder {
              color: #a8a9ab;
            }
            height: 35px;
            border-width: 2px;
            border-radius: 2px;
            outline: none;
            border-color: #dbdee7;
            z-index: 0;
            &.k-focus {
              box-shadow: none;
              outline: none;
              border-color: $dark-green;
            }

            &:hover {
              background-color: transparent;
              border-color: $dark-green;
              color: black;
            }
          }
        }
        .actions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .main-product-list {
      height: 400px;
      overflow: auto;
      position: relative;
      table {
        min-width: 1250px;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 10px;
        text-align: start;
        thead {
          background-color: #edeff3;
          position: sticky;
          top: 0;
          z-index: 61;
          th {
            padding: 0 10px;
            background-color: #edeff3;
            padding: 10px 0;
            font-weight: 600;
            color: #5a6276;
            &.actions {
              position: sticky;
              right: 0;
              z-index: 62;
            }
          }
        }
        tbody {
          tr {
            max-height: 76px;
            &.active {
              z-index: 50;
            }
            background-color: white;
            position: relative;
            td {
              color: #26282e;
              background-color: white;
              padding: 5px 10px;
              &.product-td-width {
                width: 100px;
              }
              &.product-img {
                width: 40px;
                height: 40px;
                .img{
                  width: 40px;
                  height: 40px;
                }
              }
              &.product-name {
                .name-area {
                  display: flex;
                  align-items: center;
                  div {
                    overflow: hidden;
                    display: -webkit-inline-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    max-width: 400px;
                  }
                }
              }
              &.product-quantity {
                text-align: center;
              }
              &.actions {
                position: sticky;
                right: 0;
                z-index: 1;
                .action-area {
                  display: flex;
                  justify-content: right;
                }
                padding-right: 20px;
                .action-content {
                  cursor: pointer;
                  position: relative;
                  padding: 10px;
                  width: 30px;
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  border: 1px solid transparent;
                  &:hover {
                    border-color: #959db3;
                  }
                  &.active {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    background-color: #959db3;
                    .action-list {
                      display: block;
                      z-index: 50;
                      button {
                        z-index: 50;
                      }
                    }
                  }
                  .action-list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: -1px;
                    background-color: #959db3;
                    border-radius: 5px;
                    border-top-right-radius: 0px;
                    min-width: 130px;
                    button {
                      display: flex;
                      width: 100%;
                      background-color: #959db3;
                      border: none;
                      padding: 5px 10px;
                      justify-content: start;
                      gap: 10px;
                      align-items: center;
                      color: white;
                      border-radius: 5px;
                      cursor: pointer;
                      &:hover {
                        background-color: #bdc2d2;
                        border-radius: 0px;
                        &:first-of-type {
                          border-top-left-radius: 5px;
                        }
                        &:last-of-type {
                          border-bottom-left-radius: 5px;
                          border-bottom-right-radius: 5px;
                        }
                      }
                      span {
                        text-wrap: nowrap;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
