<kendo-dialog #folderDialogPopup title="Banner hiển thị ở các trang" [style.display]="webpageDialogDisplay()"
  (close)="closeWebpageDialog()" id="webpageDialogPopup">

  <div id="body">
    <div class="label">Tên banner</div>
    <kendo-textbox [value]="banner.VNTitle" disabled></kendo-textbox>

    <div class="label">Phân nhóm</div>
    <kendo-textbox [value]="groupBanner.BannerGroup" disabled></kendo-textbox>

    <div class="label">Hiển thị ở các trang</div>

    <div class="grid-container">
      <div *ngFor="let item of listWebpageBanner" class="grid-item" >
        <div class="checkbox-div">
          <input type="checkbox" kendoCheckBox [disabled]="isLockAll" [checked]="item.Active"
            (change)="clickCheckbox($event, 'Active', item)" [id]="'webpage' + item.Code" />
        </div>

        <label class="text" [for]="'webpage' + item.Code">
          {{ item.WebpageName }}
        </label>
      </div>
    </div>
  </div>

  <div id="footer">
    <button kendoButton id="closeWebpagePopupBtn" (click)="closeWebpageDialog()" class="k-button">
      <span>Đóng</span>
    </button>
    <!-- <button kendoButton class="k-button">
      <span>Chọn</span>
    </button> -->
  </div>
</kendo-dialog>