
.kendo-drawer-container{
    position: fixed;
    z-index: 501;
    .k-overlay{
        z-index: 500;
    }
    .drawer{
        top: 50px;
        height: calc(100% - 50px); 

        .drawer-header {
            display: flex;
            align-items: center;
            height: 32px;
            width: 100%;
            background-color: #FFFFFF;
            color: #1A6634;
            user-select: none;
            border-bottom: 1px solid #000000;
    
            .icon-block {
                display: flex;
                width: 50px;
                align-items: center;
                justify-content: center;
    
                .drawer-icon {
                    width: 20px;
                    height: 20px;
                }

            }
     
            .text-holder {
                width: calc(100% - 100px);
                text-align: left;
                padding-left: 10px;
    
                .drawer-text {
                    font-size: 14px;
                    font-weight: 700;
                    overflow: hidden;
                    text-transform: uppercase;
                }
            }
    
    
    
        }

        .drawer-content {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        .k-drawer-wrapper {
            height: 100%;
            overflow: hidden;
        }
    }

    
}
