<div class="Drawer-right">
    <kendo-drawer-container>

        <!-- START DRAWER RIGHT -->
        <kendo-drawer #drawerRight mode="overlay" [(expanded)]="isOpenDrawer" fillMode="flat" [position]="'end'"
            [(autoCollapse)]="isautoCollapse" width="428px">
            <ng-template kendoDrawerTemplate let-item let-dataItem>


                <!-- <form [formGroup]="formData"> -->
                <!-- <form [formGroup]="form"> -->
                <div class="wrapper-drawer-right">
                    <div class="header-drawer-right">
                        <span class="icon-header-right"></span>
                        <h3>THÔNG TIN QUỐC GIA</h3>
                    </div>

                    <div class="content-drawer-right" [formGroup]="CountryForm">
                        <!--  -->

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Tên Tiếng Việt</span>
                                    <span class="symbol" *ngIf="isAllPers || isCanCreate">(*)</span>
                                </span>

                            </div>

                            <app-p-textbox class=" VNName" [propName]="'VNName'" formControlName="VNName"
                                [disabled]="isAction === 2 || !(isAllPers || isCanCreate)" required>
                            </app-p-textbox>
                        </kendo-label>

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Tên 日本語</span>
                                </span>
                            </div>
                            <app-p-textbox class="JPName" [propName]="'JPName'" formControlName="JPName"
                                [disabled]="isAction === 2 || !(isAllPers || isCanCreate)">
                            </app-p-textbox>
                        </kendo-label>

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Tên English</span>
                                </span>
                            </div>
                            <app-p-textbox class="ENName" [propName]="'ENName'" formControlName="ENName"
                                [disabled]="isAction === 2 || !(isAllPers || isCanCreate)">
                            </app-p-textbox>
                        </kendo-label>

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Tên Xuất xứ</span>
                                    <span class="symbol" *ngIf="isAllPers || isCanCreate">(*)</span>
                                </span>

                            </div>

                            <app-p-textbox class="VNOrigin" [propName]="'VNOrigin'" formControlName="VNOrigin"
                                [disabled]="isAction === 2 || !(isAllPers || isCanCreate)" required>
                            </app-p-textbox>
                        </kendo-label>

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Mã Hành Chính</span>
                                    <span class="symbol" *ngIf="isAllPers || isCanCreate">(*)</span>
                                </span>

                            </div>

                            <app-p-textbox class="CountryID" [propName]="'CountryID'" formControlName="CountryID"
                                [disabled]="isAction === 1 || isAction === 2 || !(isAllPers || isCanCreate)" required>
                            </app-p-textbox>
                        </kendo-label>

                        <kendo-label class="k-form customLabel">
                            <div class="lable">
                                <span class="labelName">
                                    <span class="name">Thứ tự hiển thị</span>
                                </span>

                            </div>

                            <app-p-textbox class="OrderBy" [propName]="'OrderBy'" formControlName="OrderBy"
                                [disabled]="isAction === 2 || !(isAllPers || isCanCreate)">
                            </app-p-textbox>
                        </kendo-label>

                    </div>

                    <i *ngIf="isAllPers || isCanCreate">
                        <span class="impose">(*) Thông tin bắt buộc nhập </span>
                    </i>
                    <!-- FOOTER, BUTTON -->
                    <div class="footer-drawer-right d-flex col-gap">
                        <button class="btn-hachi hachi-secondary" kendoButton (click)=" onOpendDrawer(3)">
                            ĐÓNG
                        </button>
                        <button *ngIf="isAction !== 2" kendoButton class="btn-hachi hachi-primary"
                            (click)="onUpdateCountry()" [disabled]="!(isAllPers || isCanCreate)">
                            {{isAction == 0 ? "TẠO MỚI" : "CẬP NHẬT"}}
                        </button>
                        <button *ngIf="isAction === 1" kendoButton class="btn-hachi hachi-danger"
                            (click)="onActionDropdownClick({ Link: 'delete', Code: 'trash', Name: 'Xóa', Actived: true }, dataCountry)"
                            [disabled]="!(isAllPers || isCanCreate)">
                            XOÁ
                        </button>
                    </div>
                </div>
                <!-- </form> -->
            </ng-template>
        </kendo-drawer>
        <!-- END DRAWER RIGHT -->

        <!-- START CONTENT -->
        <kendo-drawer-content>
            <div class="config009-enterprise-country">

                <!-- HEADER 1: BREAD CUM AND BUTTON CREATE -->
                <div class="header header-1">
                    <app-p-kendo-breadcrumb (loadData)="reloadData()"></app-p-kendo-breadcrumb>
                    <div class="nav-btn nav-crud">
                        <button *ngIf="isAllPers || isCanCreate" kendoButton
                            class=" onAddBtn k-button btn-hachi hachi-primary" [icon]="'globe'"
                            (click)="onOpendDrawer(0)">
                            TẠO MỚI
                        </button>

                    </div>
                </div>

                <!-- HEADER 2: SEARCH -->
                <div class="header header-2">
                    <div id="functionbar">
                        <app-search-filter-group placeholder="Tìm theo tên Quốc gia"
                            [fields]="['VNName', 'JPName', 'ENName']" (filterChange)="onSearch($event)"
                            (onReset)="onResetFilter()" [ignoreCase]="true" #search>
                        </app-search-filter-group>
                    </div>
                </div>

                <div class="grid-wrapper">
                    <app-p-kendo-grid class="grid" [data]="gridCountries" [scrollable]="'none'" [loading]="loading"
                        [pageable]="false" [getActionDropdownCallback]="getActionDropdownCallback"
                        [onActionDropdownClickCallback]="onActionDropdownClickCallback">

                        <kendo-grid-column field="VNName" title="Tên Quốc gia" class="col_address"
                            headerClass="col_address" [width]="280">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="text-ellipsis" title="{{dataItem.VNName}}">{{dataItem.VNName}}</div>
                            </ng-template>
                        </kendo-grid-column>

                        <kendo-grid-column field="VNOrigin" title="Tên Xuất Xứ" class="col_country"
                            headerClass="col_country">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="CountryCompany" title="{{dataItem.VNOrigin}}">{{dataItem.VNOrigin}}</div>
                            </ng-template>
                        </kendo-grid-column>
                    </app-p-kendo-grid>
                </div>

            </div>
        </kendo-drawer-content>

        <!-- START DIALOG DELETE -->
        <app-p-kendo-dialog *ngIf="opened" [title]="'XÓA QUỐC GIA'" (close)="onCloseDialog()"
            (handleButton)="onDeleteDialog(0)" [iconButton]="'delete'" [dialogType]="1"
            [iconTitle]="'k-icon k-i-warning'">
            <div class="text-center">
                Bạn có chắc chắn muốn xóa Quốc Gia <br> <strong>{{dataCountry.VNName }}</strong>
                <p class="content-sub">
                    Quốc Gia bị xóa sẽ <span style="color: red">KHÔNG</span> thể khôi phục lại.
                </p>
            </div>
        </app-p-kendo-dialog>
        <!-- END DIALOG DELETE -->

    </kendo-drawer-container>
</div>
<!-- END CONTENT -->