.hamber-003{
    width: 100%;
    height: calc(100vh - 50px);
    header{
        background-color: #EDEFF3;
        height: 60px;
        overflow-x: auto;
        border-bottom: 1px solid #BDC2D2;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            padding: 10px 0;
            .actions-hamber{
                button{
                    padding: 5px 10px;
                }
                display: flex;
                justify-content: end;
                gap: 10px;
            }
        }
    }
    main{
        height: calc(100vh - 120px);
        overflow: auto;
        .product-list-area{
            width: 100%;
        }
    }
}