<div class="hamber-003">
  <!-- 
  <button kendoButton [svgIcon]="rotateIcon" (click)="refreshBreadCrumb()">
    Refresh breadcrumb
    
  </button> -->
  <!-- <button type="button" HamperButtons data-type="success">Content <kendo-svg-icon [icon]="rotateIcon"></kendo-svg-icon></button> -->
  <div class="product-list-area">
    <app-product-list [products]="hamperCrr.ProductList" [stateHamper]="hamperCrr.State"></app-product-list>
  </div>
  <header>
    <div class="header">
      <kendo-breadcrumb
        [collapseMode]="collapseMode"
        [items]="items"
        SetClassSVGIcon
        HamperBreadcrumb
      ></kendo-breadcrumb>
      <div class="actions-hamber">
        
        <button type="button" HamperButtons data-type="success"><kendo-svg-icon [icon]="icons.plusIcon"></kendo-svg-icon>Thêm mới</button>
      </div>
    </div>
  </header>
  <main></main>

</div>
