<div class="hamber-003">
  <!-- 
  <button kendoButton [svgIcon]="rotateIcon" (click)="refreshBreadCrumb()">
    Refresh breadcrumb
    
  </button> -->
  <!-- <button type="button" HamperButtons data-type="success">Content <kendo-svg-icon [icon]="rotateIcon"></kendo-svg-icon></button> -->

  <header>
    <div class="header">
      <kendo-breadcrumb [collapseMode]="collapseMode" [items]="items" SetClassSVGIcon
        HamperBreadcrumb></kendo-breadcrumb>
      <div class="actions-hamber">
        <button type="button" HamperButtons data-type="danger"><kendo-svg-icon
            [icon]="icons.trashIcon"></kendo-svg-icon>Xóa</button>
        <button type="button" HamperButtons data-type="return"><kendo-svg-icon
            [icon]="icons.undoIcon"></kendo-svg-icon>Trả về</button>
        <button type="button" HamperButtons data-type="danger"><kendo-svg-icon
            [icon]="icons.minusCircleIcon"></kendo-svg-icon>Ngưng hiển thị</button>
        <button type="button" HamperButtons data-type="success"><kendo-svg-icon
            [icon]="icons.checkOutlineIcon"></kendo-svg-icon>Duyệt áp dụng</button>
        <button type="button" HamperButtons data-type="success"><kendo-svg-icon
            [icon]="icons.redoIcon"></kendo-svg-icon>Gửi duyệt</button>
        <button type="button" HamperButtons data-type="success"><kendo-svg-icon
            [icon]="icons.plusIcon"></kendo-svg-icon>Thêm mới</button>
      </div>
    </div>
  </header>
  <main>
    <div class="product-list-area">
      <app-product-list [products]="hamperCrr.ProductList" [stateHamper]="hamperCrr.State"></app-product-list>
    </div>
  </main>

</div>

