@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  .mat-drawer {
    padding: 0 !important;
    overflow: hidden;

    .title-formProduct {
      padding: 10px !important;
      height: 40px;
    }

    .container-hamper-detail {
      height: calc(100vh - 180px);
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 14px;
      padding: 0 10px;

      .containerProductHamper {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-top: 15px;

        .title {
          color: #343a40;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .listProductCurrentHamper {
          display: flex;
          column-gap: 10px;
          align-items: center;

          app-p-numeric-textbox {
            .customized-input {
              width: auto;
            }
          }

          .containerImg {
            width: 71px;
            height: 53px;

            img {
              width: 100%;
            }
          }

          .contentProduct {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: -webkit-fill-available;

            .productName {
              color: $gray-850;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }

            .specifications {
              display: flex;
              align-items: center;
              row-gap: 10px;

              .barcode,
              .quantity {
                color: #5a6276;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }

              .quantity {
                padding: 0 5px;
              }

              .price {
                color: $worse-red;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
      }
    }

    .footer-formProduct {
      display: flex;
      align-items: center;
      column-gap: 10px;
      height: 36px;
      background-color: #ffffff;
      padding: 0 10px;
    }

    .formProduct {
      padding: 0 !important;

      // height: 100%;
      .formFieldset {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
      }

      .productID_img {
        // padding-top: 10px;
        justify-content: space-between;

        .img {
          width: 130px;
          flex-shrink: 0;

          img {
            width: 100%;
          }
        }
      }

      .formfield-grid {
        display: grid;
        grid-template-columns: 33% 33%;
        column-gap: 29px;

        .item1 {
          grid-row: 1;
          grid-column: 1 / span 2;
        }

        .item4 {
          .k-label {
            white-space: nowrap;

            +i {
              white-space: nowrap;
            }
          }

          .k-numerictextbox::after {
            content: "-";
            position: absolute;
            right: -15px;
            top: 5px;
            height: 100%;
          }
        }

        .item2,
        .item6 {
          .k-label {
            white-space: nowrap;
          }
        }

        .item7 {
          .k-textbox {
            font-weight: 700;
            color: $worse-red;
            text-decoration: line-through;
          }
        }

        .item8,
        .item9 {
          .k-textbox .k-input-inner {
            text-align: right;
          }
        }

        .item8 {
          .k-textbox::after {
            content: "-";
            position: absolute;
            right: -15px;
            top: 5px;
            height: 100%;
          }
        }
      }

      .formfield {
        margin-top: 10px;

        kendo-label {
          .k-icon {
            font-weight: bold;
            cursor: pointer;
            width: 32px;

            &.k-i-export {
              margin-left: auto;
              color: $dark-green;
            }

            &.k-i-trash {
              margin-left: 12px;
              color: $bad-red;
            }
          }
        }
      }
    }

    .IsApDung_radio_group {
      column-gap: 15px;

      .my_label {
        align-items: center;
        column-gap: 5px;
        margin: 0 !important;
        font-weight: normal !important;
        white-space: nowrap;
      }
    }
  }

  .app-drawer-container {
    #folderDialogPopup .k-dialog .k-dialog-content.k-window-content {
      overflow: hidden !important;
    }

    .myCustomGrid.k-grid tr.k-selected>td {
      border-color: transparent !important;
    }
  }

  .app-mar021-discount-gift-order {
    display: flex;
    flex-direction: column;

    .col-gap-10 {
      column-gap: 10px !important;
    }
  
    .alignItemCenter {
      align-items: center !important;
    }
  
    .color-blue-gray {
      color: $light-blue-gray !important;
    }
  
    .green {
      color: $dark-green !important;
    }
  
    .red {
      color: $bad-red !important;
    }
  
    .yellow {
      color: $medium-yellow !important;
    }
  
    .text-ellipsis {
      max-height: 2.4em;
      /* Điều này tương đương với 2 dòng văn bản */
      line-height: 1.2em;
      /* Điều này tương ứng với độ cao của mỗi dòng */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* Số dòng tối đa */
      -webkit-box-orient: vertical;
      white-space: normal;
    }

    .textEnd {
      text-align: end;
    }

    .header {
      display: flex;
      padding: 9px 0;
      margin-bottom: 0;
      border-bottom: 1px solid rgba($gray-500, 0.4);

      @media screen and (max-width: 480px) {
        display: none;
      }

      &.header-1 {
        height: 60px;
        // padding: 0 15px 35px 20px;
        padding: 0px 15px 0 20px;
        overflow-x: auto;

        .checkbox-btn-group {
          margin-right: 10px;
        }

        app-p-kendo-breadcrumb {
          min-width: 380px;
        }

        .btn-hachi {
          min-width: fit-content;
        }

        kendo-groupbutton {
          display: flex;
          flex-wrap: nowrap;
        }

        .onAddBtn {

          .k-button {
            height: 32px;
            background-color: $dark-green !important;
            color: white;
            font-weight: bold;
          }


          .k-button-icon {
            position: relative;
            right: unset;
            top: unset;
            height: unset;
          }
        }
      }

      .label {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 13px;
        color: $gray-700;
      }

      .nav-btn {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }

      .nav-breadcrumb {
        font-weight: bold;
        color: $gray-500;

        .breadcrumb-item {
          &:first-child {
            cursor: none !important;
            color: $gray-500 !important;
          }

          cursor: pointer;

          &:last-child {
            color: $dark-green;
          }
        }

        .breadcrumb-chevron {
          display: flex;
        }
      }

      .nav-crud {
        flex-grow: 0;
        justify-content: flex-end;

        .crud-btn {
          height: 32px;
          margin-left: 10px;
          font-size: 11px;
          font-weight: bold;
          background-color: white !important;
          box-shadow: 1px 3px 6px 1px rgba($gray-500, 0.2) !important;
        }

        #reloadBtn {
          color: $gray-500;
        }

        #updateOrderType_Treo_Btn {
          color: $bad-red;
        }

        // .onApproved {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $white;
        //   color: $dark-green;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        //   text-transform: uppercase;
        // }

        // .onDelete {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $gray-1;
        //   color: $white;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        //   text-transform: uppercase;
        // }

        // .onNew {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $dark-green;
        //   color: $white;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        //   text-transform: uppercase;
        // }

        // .onSent {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $white;
        //   color: $dark-green;
        //   border: 1px solid $dark-green;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        //   text-transform: uppercase;
        // }

        // .onReturned {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $white;
        //   color: $bad-red;
        //   border: 1px solid $bad-red;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        //   text-transform: uppercase;
        // }

        // .onStopped {
        //   width: fit-content;
        //   height: 32px;
        //   background-color: $bad-red;
        //   color: $white;
        //   border: 1px solid $white;
        //   box-shadow: 0 0 8px $lightgray;
        //   font-weight: 700;
        //   font-size: 11px;
        // }

        .border-center {
          margin: auto 0 1px 10px;
          border-right: 1px solid $gray-300;
          height: 31px;
        }
      }

      .nav-file {
        flex-grow: 0;
        column-gap: 10px;

        .file-btn-group {
          background: white;
          box-shadow: 1px 3px 6px 1px rgba($gray-500, 0.2);
          border-radius: 3px;
          color: $gray-500;
          min-width: fit-content;
          height: 32px;
          display: flex;
          // margin-left: 10px;
          // margin-right: 5px;
          cursor: pointer;

          span.text {
            margin: auto;
            padding-right: 9px;
          }
        }
      }

      .nav-filter {
        padding-left: 15px;

        .search-btn-group {
          margin-right: 5px;

          .search-btn {
            position: relative;
            font-weight: 400;

            .k-i-search {
              position: absolute;
              height: 100%;
              width: 30px;
              z-index: 1;
            }

            .k-textbox {
              padding-left: 30px;
              min-width: fit-content;
              width: 303px;
            }
          }
        }

        .searchBtn {
          height: 31px;
          margin-bottom: 1px;
          margin-top: auto;
          background-color: $dark-green !important;
          color: white;
          font-size: 11px;
          font-weight: bold;
        }
      }

      // .title {
      //   margin: 12px 0;
      //   font-weight: bold;
      //   font-size: 16px;
      //   display: flex;
      //   justify-content: space-between;
      // }

      &.header-2 {
        .title {
          font-size: 16px !important;
        }
      }
    }

    .main-content-hamper {
      height: calc(100vh - 120px - #{$footer-height});
      padding: 0px 15px 10px 20px;
      overflow-y: scroll;
      overflow-x: hidden;

      .symbol {
        color: $dark-red !important;

        &.fst-italic {
          font-style: italic !important;
        }
      }

      .body {
        .sections {
          .section {
            .title {
              margin: 12px 0;
              font-weight: bold;
              font-size: 16px;
              display: flex;
              justify-content: space-between;
            }

            .crud-btn {
              height: 32px;
              font-size: 11px;
              font-weight: bold;
              background-color: $dark-green !important;
              color: white;
            }

            .section-grid {
              display: grid;
              column-gap: 27px;
              row-gap: 10px;
              background-color: white;
              padding: 15px;
              overflow-x: auto;

              .grid-item {
                display: flex;
                flex-direction: column;
              }

              .k-textbox {
                flex-grow: 1;
                width: auto;
              }

              .k-numerictextbox {
                flex-grow: 1;
                width: auto;

                &.red-color input {
                  color: $bad-red;
                }
              }

              .k-dropdownlist {
                flex-grow: 1;
                width: auto;
              }

              .k-datepicker {
                flex-grow: 1;
                width: auto;
              }

              .k-timepicker {
                flex-grow: 1;
                width: auto;

                .k-input {
                  width: 70px;
                }
              }

              .k-checkbox {
                margin-right: 10px;
              }

              textarea {
                resize: none;
                border-radius: 3px;
                border-color: rgba(0, 0, 0, 0.08);
                outline: none;
                height: 100%;
                padding: 4px 8px;

                &:hover,
                &:focus-visible {
                  border-color: $dark-green;
                }
              }

              label {
                margin-bottom: 0;
                // cursor: pointer;
              }

              .input_label {
                margin-bottom: 10px;
              }

              .row {
                align-items: center;
                margin-bottom: 7px;
              }

              .subrow {
                margin-left: 20px;
              }
            }
          }
        }
      }

      // #thongtinkhuyenmaiTbl {
      //   .title {
      //     justify-content: flex-start;
      //     column-gap: 15px;

      //     .type {
      //       color: $gray-500;

      //       &.red {
      //         color: $bad-red;
      //       }
      //       &.green {
      //         color: $dark-green;
      //       }
      //     }

      //     .languages {
      //       margin-left: auto;
      //       font-style: normal;
      //       font-weight: normal;
      //       font-size: 13px;
      //       line-height: 20px;
      //       color: #bbc0bb;

      //       .active,
      //       :hover {
      //         color: #626662;
      //         cursor: pointer;
      //       }
      //       .borderRight {
      //         border-right: 1px solid #bbc0bb;
      //         padding-right: 5px;
      //         margin-right: 5px;
      //       }
      //     }
      //   }

      //   .section-grid {
      //     grid-template-columns: 260px auto;

      //     .item1 {
      //       grid-column: 1;
      //       grid-row: 1;
      //     }
      //     .item2 {
      //       grid-column: 1;
      //       grid-row: 2;
      //     }
      //     .item3 {
      //       grid-column: 1;
      //       grid-row: 3;

      //       .d-flex {
      //         column-gap: 10px;
      //       }
      //     }
      //     .item4 {
      //       grid-column: 1;
      //       grid-row: 4;

      //       .status {
      //         color: $light-blue-gray;

      //         &.green {
      //           color: $dark-green;
      //         }
      //         &.red {
      //           color: $bad-red;
      //         }
      //         &.yellow {
      //           color: $medium-yellow;
      //         }
      //       }
      //     }
      //     .item5 {
      //       grid-column: 2;
      //       grid-row: 1;
      //     }
      //     .item6 {
      //       grid-column: 2;
      //       grid-row: 2 / span 2;
      //     }
      //     .item7 {
      //       grid-column: 2;
      //       grid-row: 4;
      //     }
      //     .item8 {
      //       grid-column: 2;
      //       grid-row: 5;

      //       .row {
      //         .col-6 {
      //           height: 100%;
      //           display: flex;
      //           flex-direction: column;
      //           justify-content: space-between;
      //           row-gap: 7px;

      //           .d-flex {
      //             align-items: center;
      //             column-gap: 10px;

      //             .k-icon {
      //               color: #959db3;
      //               font-size: 19px;
      //               cursor: pointer;
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }
      // }

      // #dieukienapdungTbl {
      //   .section-grid {
      //     grid-template-columns: 250px 320px 370px;
      //     column-gap: 60px;

      //     .item1 {
      //       grid-column: 1;
      //     }
      //     .item2 {
      //       grid-column: 2;
      //     }
      //     .item3 {
      //       grid-column: 3;

      //       .sublabel {
      //         color: $light-blue-gray;
      //       }
      //     }
      //   }
      // }

      // #chitietkhuyenmaiTbl {
      //   .section-grid {
      //     grid-template-columns: 240px 560px;
      //     column-gap: 100px;

      //     .item1,
      //     .item2 {
      //       grid-column: 1;

      //       .k-radio {
      //         margin-right: 5px;
      //       }
      //     }
      //     .item3 {
      //       grid-column: 2;
      //       grid-row: 1 / span 2;

      //       .k-grid {
      //         height: 180px !important;
      //         border: none;

      //         .k-grid-content {
      //           background-color: #f5f6f8;
      //         }

      //         tr {
      //           background-color: #f5f6f8;

      //           &:hover {
      //             background-color: #dbdee7;
      //           }
      //         }

      //         .k-header {
      //           border: none;
      //           color: $light-blue-gray;
      //           text-align: right;
      //         }

      //         td {
      //           border: none;
      //           text-align: right;

      //           .k-textbox {
      //             width: 100% !important;
      //             text-align: right;
      //           }
      //         }

      //         .k-command-cell {
      //           display: flex;
      //           column-gap: 6px;

      //           .k-button {
      //             border-radius: 50%;
      //             margin: 0;
      //           }
      //           .k-grid-edit-command {
      //             color: $dark-green;
      //           }
      //           .k-grid-remove-command {
      //             color: $bad-red;
      //           }
      //         }
      //       }
      //     }
      //     .item4 {
      //       grid-column: 2;

      //       .themGiaTri_btn {
      //         width: 128px;
      //       }
      //     }
      //   }
      // }

      #listHamper {
        .k-grid {
          .k-grid-header .k-header>.k-link {

            .promoPrice,
            .discount,
            .status {
              width: 100%;
            }
          }

          .action {
            .btnCell {
              text-align: center;
            }
          }
        }

        .grid {
          &.scrollable {
            .k-grid {

              // .k-grid-aria-root {
              //   overflow-x: auto;
              // }
              table {
                // width: 1090px;
                width: 100%;
              }

              //đặt lại more action btn absolute theo table relative
              // tr {
              //   position: initial;

              //   td,
              //   th {
              //     &:last-child {
              //       position: absolute;
              //       top: initial;
              //       margin-top: calc(1% - 10px);
              //     }
              //   }
              // }
            }

            // &.scroll5 table {
            //   width: 1370px;
            // }
            // &.scroll6 table {
            //   // width: 1400px;

            //   td {
            //     &.purchaseLimit,
            //     &.promoPrice,
            //     &.discount {
            //       min-width: 150px;
            //     }

            //     &.status {
            //       min-width: 210px;
            //     }
            //   }
            // }
          }

          tr>td {
            padding: 0;
          }

          tr:not(.k-grouping-row) {
            td {
              &:first-child {
                padding-left: 10px;
              }
            }

            &.showHamper {
              td {
                &:first-child {
                  padding-top: 30px;
                  height: 79px;
                  display: flex;
                }
              }
            }
          }

          .col_img_productName-productID {
            max-width: 60%;
            width: 46%;
          }

          .img_productName-productID {
            display: flex;

            .img {
              height: 65px;
              width: 87px;

              img {
                max-height: 100%;
              }
            }

            .productName-productID {
              flex-direction: column;
              justify-content: space-between;

              .productName {
                white-space: normal;
              }

              .tbarcode {
                border-left: 1px solid;
                padding-left: 5px;
                margin-left: 5px;
                color: $dark-green;
              }

              .lastdate {
                border-left: 1px solid;
                padding-left: 5px;
                margin-left: 5px;
                color: $worse-red;
              }

              a {
                font-weight: normal;
                color: dodgerblue;
                cursor: pointer;
              }
            }

            >.main-hamper:first-child {
              flex-direction: row;
              justify-content: start;
            }
          }

          .purchaseLimit .quantity {
            // min-width: 150px;

            .quantity {
              display: flex;
              justify-content: space-between;
            }
          }

          .contentPromoPrice {
            text-align: right;
            // min-width: 150px;
            // max-width: 10%;
            // width: 5%;

            .baseprice {
              color: $worse-red;
              text-decoration: line-through;
            }
          }

          .discount {
            text-align: right;
            // min-width: 150px;

            .percent {
              font-weight: 600;
            }
          }

          .status {
            text-align: right;
            // padding-right: 50px;
            // min-width: 200px;

            .red {
              color: $worse-red;
            }

            .green {
              color: $dark-green;
            }
          }

          td {
            &.status {
              // padding-right: 60px;
            }
          }

          .main-hamper {
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 8px 12px;

            &.img_productName-productID {
              flex-direction: row;
              justify-content: left;

              >.img {
                margin-right: 10px;

                img {
                  max-width: 100%;
                }
              }
            }

            +.hamperDetail {
              position: relative;

              &:after {
                border-top: 1px solid darkgray;
                content: "";
                position: absolute;
                left: -12px;
                top: 0;
                width: 100vw;
                margin-top: 4px;
              }
            }
          }

          .promoPrice,
          .discount,
          .status {
            .k-cell-inner {
              .k-link {
                text-align: right;
                justify-content: end;
              }
            }
          }

          .hamperDetail {
            // display: none;
            height: 75px;
            // padding-top: 8px;
            padding: 8px 12px;

            .productName-productID {
              flex-direction: column;
            }

            .hamper_item_index {
              font-weight: bold;
              display: flex;
              align-items: center;
              // padding-right: 12px;
            }

            .quantity,
            .unitprice_baseprice,
            .amount_percent,
            .statusName {
              padding-bottom: 0;
            }

            .purchaseLimit .quantity {
              white-space: break-spaces;
            }
          }

          // .img_productName-productID .hamperDetail {
          // padding-top: 8px;
          // }

          tr.showHamper {
            .hamperDetail {
              display: flex;
              flex-direction: column;
              justify-content: center;

              // &:first-of-type {
              //   flex-direction: row;
              //   justify-content: start;
              // }
            }
          }

          .border-top-500 {
            border-top: 1px solid $gray-500;
          }
        }
      }
    }

    // .label {
    //   margin-bottom: 6px;
    //   font-weight: bold;
    //   color: $gray-500;

    //   &.thick-label {
    //     color: $gray-900;

    //     +.number {
    //       font-weight: bold;
    //     }

    //     +.k-numerictextbox {
    //       input {
    //         font-weight: bold;
    //       }
    //     }
    //   }

    //   &.thin-label {
    //     font-weight: normal;
    //     color: $gray-800;
    //   }
    // }
  }

  .popup-add-mar021-discount-gift-order {
    .k-item:focus {
      box-shadow: none;
    }
  }

  .custom-dialog {
    .k-dialog{
      width: 800px !important;
    }

    .display .k-dialog-titlebar {
      background-color: $dark-green;
    }

    .k-window-titlebar-action {
      display: none;
    }

    .body-gift-adder {
      padding: 20px 30px;

      .filter-area {
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 10px;
        padding-bottom: 20px;

        kendo-svg-icon{
          width: 20px !important;
        }

        .input {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 1px solid #DBDEE7;
          width: 100%;
          padding: 5px;
          border-radius: 5px;

          input {
            width: 100%;
            border: none
          }

          input:focus,
          input:active {
            border: none;
            outline: none;
            /* Loại bỏ viền mặc định của trình duyệt */
          }



        }

        .btn-search {
          display: flex;
          gap: 5px;
          background: $dark-green;
          padding: 5px;
          border-radius: 5px;
          color: white;
          font-size: 16px;
          align-items: center;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }



      }

      .grid-item {

        .grid-custom {
          .name {
            white-space: normal;
            width: 300px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            height: 40px;
          }
        }

        .k-grid-header .k-header:first-child {
          padding-left: 30px !important;
        }

        .k-grid-aria-root {
          min-height: 300px !important;
          height: calc(-564px + 100vh) !important;
          overflow: auto;
          overflow-x: hidden;
          background-color: white !important;

          tr {
            // height: 80px !important;

            .header-2-area{
              display: flex;
              justify-content: end;
              padding-right: 40px;
            }

            .block-2-area{
              display: flex;
              align-items: start;
              justify-content: end;
              padding-right: 20px;
            }

            td {
              .col-info-gift{
                padding: 8px 12px !important;
                display: flex;
                gap: 10px;
              }

              .image-product-parent {
                max-height: 70px !important;
                border-radius: 5px;
                height: 65px;
                width: 65px;
                object-fit: cover;              
              }

              .name {
                padding-top: 5px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                word-break: break-word;
                width: 300px;
                height: 50px;
              }

              .col-bardcode{
                text-align: center;
              }
            }

            td[aria-colindex="2"] {
              padding: 0px !important;
            }

            td[aria-colindex="3"] {
              width: 100%;
              display: flex;
              justify-content: center;
              padding-right: 40px;
            }

            th[aria-colindex="3"]{
              padding-right: 40px;
              display: flex;
              justify-content: center;
            }
          }
        }

        .k-pager {
          display: none !important;
        }
      }

      .button-area {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
      }
    }

  }

  .disabled {
    pointer-events: none;
    opacity: 0.7;
    display: none;
  }

  .disabledSearch {
    pointer-events: none;
    display: none;
  }

  .disabledBtn {
    pointer-events: none;
    opacity: 0.7;
  }
}