<div class="app-drawer-container">
  <mat-drawer-container [hasBackdrop]="true">
    <!-- <mat-drawer #drawer [mode]="'over'" position="end" opened="false" [disableClose]="expanded">
      <legend class="title-formProduct">HAMPER THUỘC CHƯƠNG TRÌNH</legend>
      <div class="container-hamper-detail">
        <form class="formProduct k-form" [formGroup]="form" (keydown.Enter)="onKeydownEnter($event)">
          <fieldset class="formFieldset">
            <div class="productID_img d-flex pt-2 col-gap-10">
              <kendo-formfield class="m-0">
                <div>
                  <kendo-label class="alignItemCenter" text="Nhập mã hamper" [for]="Barcode">
                    <span class="symbol">(*)</span>
                  </kendo-label>
                  <fieldset [disabled]="!isAddDetail || isLockAll">
                    <kendo-textbox formControlName="Barcode" #Barcode (keydown.Enter)="$event.target.blur()"
                      (inputBlur)="onTextboxLoseFocus('Barcode')" [(value)]="curPromotionDetail.Barcode"
                      [disabled]="!isAddDetail || isLockAll">
                    </kendo-textbox>
                  </fieldset>
                </div>

                <div class="productName">
                  <div class="col-gap-10 alignItemCenter d-flex pt-2">
                    <span class="font-weight-bold">Tên Hamper</span>
                  </div>
                  <div class="VNName text-ellipsis" title="{{ curPromotionDetail.VNName }}">
                    {{ curPromotionDetail.VNName }}
                  </div>
                </div>
              </kendo-formfield>

              <div class="img">
                <img loading="lazy" [src]="getRes(curPromotionDetail.ImageSetting)" alt="" />
              </div>
            </div>

            <div class="formfield-grid">
              <kendo-formfield class="formfield-item item4">
                <kendo-label class="alignItemCenter" text="Hạn mức mua:" [for]="Quantity">
                  <i>&nbsp;(Tối thiểu - tối đa)</i><span class="symbol">(*)</span>
                </kendo-label>
                <kendo-numerictextbox formControlName="Quantity" [min]="1" #Quantity format="#,0"
                  [(value)]="curPromotionDetail.Quantity" [disabled]="isLockAll">
                </kendo-numerictextbox>
              </kendo-formfield>

              <kendo-formfield class="formfield-item item5">
                <kendo-label class="alignItemCenter" text="Hạn" [for]="MaxQuantity" class="invisible">
                </kendo-label>
                <kendo-numerictextbox formControlName="MaxQuantity" #MaxQuantity format="#,0" [min]="0"
                  [(value)]="curPromotionDetail.MaxQuantity" [disabled]="isLockAll">
                </kendo-numerictextbox>
              </kendo-formfield>

              <kendo-formfield class="formfield-item item6">
                <kendo-label class="alignItemCenter" text="Giá khuyến mãi" [for]="PriceDiscount">
                  <span class="symbol">(*)</span>
                </kendo-label>
                <kendo-numerictextbox formControlName="PriceDiscount" #PriceDiscount format="#,0" [disabled]="true"
                  [disabled]="isLockAll">
                </kendo-numerictextbox>
              </kendo-formfield>

              <kendo-formfield class="formfield-item item7">
                <kendo-label class="alignItemCenter" text="." [for]="Price" class="invisible"></kendo-label>
                <kendo-textbox formControlName="Price" #Price class="red-color"
                  value="{{ curPromotionDetail.Price | number : '1.0-0' }}">
                </kendo-textbox>
              </kendo-formfield>

              <kendo-formfield class="formfield-item item8">
                <kendo-label class="alignItemCenter" text="Chiết khấu" [for]="DiscountAmount"></kendo-label>
                <kendo-textbox formControlName="DiscountAmount" #DiscountAmount value="{{
                      curPromotionDetail.DiscountAmount | number : '1.0-0'
                    }}">
                </kendo-textbox>
              </kendo-formfield>

              <kendo-formfield class="formfield-item item9">
                <kendo-label class="alignItemCenter" text="Chiết khấu" [for]="DiscountPercent" class="invisible">
                </kendo-label>
                <kendo-textbox formControlName="DiscountPercent" #DiscountPercent value="{{
                      curPromotionDetail.DiscountPercent | number : '1.0-0'
                    }}&nbsp;%">
                </kendo-textbox>
              </kendo-formfield>
            </div>

            <div class="formfield">
              <kendo-label text="Banner Card">
                <span class="k-icon k-i-export" (click)="onUploadFile(-1)"></span>
                <span class="k-icon k-i-trash" (click)="clearBannerCard()"></span>
              </kendo-label>

              <img loading="lazy" width="250" height="auto" *ngIf="curPromotionDetail.BannerCard != undefined"
                [src]="getRes(curPromotionDetail.BannerCard)">
            </div>

            <kendo-formfield>
              <kendo-label class="alignItemCenter" text="Tình trạng" [for]="StatusID"></kendo-label>
              <div class="d-flex IsApDung_radio_group">
                <label for="f_rdo_1" class="my_label">
                  <input type="radio" id="f_rdo_1" formControlName="StatusID" name="StatusID" #StatusID class="k-radio"
                    kendoRadioButton [value]="2" [attr.disabled]="isLockAll ? '' : null"
                    [(ngModel)]="curPromotionDetail.StatusID" />
                  Áp dụng
                </label>
                <label for="f_rdo_2" class="my_label">
                  <input type="radio" id="f_rdo_2" formControlName="StatusID" name="StatusID" #StatusID class="k-radio"
                    kendoRadioButton [value]="1" [attr.disabled]="isLockAll ? '' : null"
                    [(ngModel)]="curPromotionDetail.StatusID" />
                  Ngừng áp dụng
                </label>
              </div>
            </kendo-formfield>

            <kendo-formfield>
              <kendo-label class="alignItemCenter" text="Ghi chú" [for]="Remark"></kendo-label>
              <textarea formControlName="Remark" #Remark [(ngModel)]="curPromotionDetail.Remark"
                [attr.disabled]="isLockAll ? '' : null"></textarea>
            </kendo-formfield>

            <kendo-formerror>(*) Trường bắt buộc nhập.</kendo-formerror>
          </fieldset>
        </form>
        <div class="containerProductHamper" *ngIf="
              curPromotionDetail.ListProduct &&
              curPromotionDetail.ListProduct.length > 0
            ">
          <div class="d-flex align-items-center justify-content-between">
            <span class="title">Sản phẩm có trong Hamper</span>
            <kendo-label text="Giá KM">
              <span class="symbol pr-1">(*)</span>
            </kendo-label>
          </div>
          <div class="listProductCurrentHamper" *ngFor="let item of curPromotionDetail.ListProduct">
            <div class="containerImg">
              <img loading="lazy" [src]="getRes(item.ImageSetting)" alt="ảnh sản phẩm" />
            </div>
            <div class="contentProduct">
              <div class="row align-items-center justify-content-between">
                <span class="productName text-ellipsis col-6" title="{{ item.VNName }}">{{ item.VNName }}</span>
                <div class="col-6 alignItemCenter productName text-nowrap">
                  <app-p-numeric-textbox [propName]="'PriceDiscount'" [(ngModel)]="item.PriceDiscount" (blur)="
                        onCalculateTotalPriceDiscount(
                          curPromotionDetail.ListProduct
                        )
                      " [format]="'#,0'" [spinners]="false" required="true" [disabled]="isLockAll">
                  </app-p-numeric-textbox>
                </div>
              </div>
              <div class="specifications">
                <span class="barcode">{{ item.Barcode }}</span>
                <span class="quantity"><span class="color-blue-gray">|</span> SL:
                  {{ item.Quantity }}</span>
                <span class="price"><span class="color-blue-gray">|</span> Giá bán lẻ:
                  {{ item.Price | number : '1.0-0' }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-formProduct">
        <button kendoButton class="k-button btn-hachi hachi-primary hachi-secondary" (click)="onCloseForm()">
          Đóng
        </button>
        <button kendoButton class="k-button btn-hachi hachi-primary" (click)="onSubmit()" *ngIf="!isLockAll">
          {{ isAddDetail ? "THÊM MỚI" : "CẬP NHẬT" }}
        </button>
      </div>
    </mat-drawer> -->
    <!-- center content -->
    <mat-drawer-content>
      <div class="app-mar021-discount-gift-order">
        <div class="header header-1">
          <div class="nav-btn nav-breadcrumb">
            <app-p-kendo-breadcrumb (loadData)="onLoadPage()"></app-p-kendo-breadcrumb>
          </div>

          <div class="nav-btn nav-crud">
            <button *ngFor="let item of listActionStatus" kendoButton class="k-button {{ item.class }}"
              [icon]="item.code" (click)="onUpdatePromotionStatus(item)" [disabled]="isDisabled || isDisabledSelectChild">
              {{ item.text }}
            </button>

            <div class="nav-btn nav-crud">
              <kendo-dropdownbutton *ngIf="M_C" [data]="ListActionCreate" iconClass="k-icon k-i-plus" [disabled]="isDisabled || isDisabledSelectChild"
                (itemClick)="onBtnDropdownlistClick($event)" class="onAddBtn"
                [popupSettings]="{ align: 'right', popupClass: 'popup-add-mar021-discount-gift-order' }"
                textField="PromotionType">
                TẠO MỚI<span class="k-icon k-i-arrow-chevron-down ml-3"></span>
              </kendo-dropdownbutton>
            </div>
          </div>
        </div>

        <div class="main-content-hamper">
          <div class="body">
            <div class="sections">
              <app-mar-promotion-infor #promotionInfor [blockName]="'CHƯƠNG TRÌNH'"
                mode="2" hasImages="false" TypeDataPromotion="4"
                (getListActionPromotion)="onGetListActionPromotion($event)" [disabled]="isDisabled || isDisabledSelectChild"
                (getPromotion)="onGetPromotion($event)"></app-mar-promotion-infor>

              <app-mar-condition-apply #conditionApply [mode]="2" [isHiddenCondition]="false" 
                (valueChange)="onGetCurrentPromotion($event)"
                (getListDayOfWeek)="onGetListDayOfWeek($event)" (getListGroupOfCard)="onGetListGroupOfCard($event)"
                [disabled]="isDisabled || isDisabledSelectChild" [isHiddenCondition]="![2,3,4].includes(curPromotion.PromotionType)"
                (getListCOPOLApplyScope)="onGetListCOPOLApplyScope($event)"></app-mar-condition-apply>


              <!-- RANGE PROMOTION -->
              <app-mar-promotion-gift-rules #gridGiftRules *ngIf="curPromotion.Code !== 0" [curPromotion]="curPromotion" 
                (listRangeOutput)="getListRange($event)" (isDisabledSearch)="getDisabledSearch($event)"
                (addGift)="handleOpenAddGift($event)"></app-mar-promotion-gift-rules>
            </div>
          </div>

          <p class="symbol fst-italic mt-2">(*) Trường bắt buộc nhập.</p>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <!-- popup confirm delete -->
  <kendo-dialog #dialog id="deleteDialog" class="deleteDialog" title="Xóa {{ context[contextIndex] }}"
    [hidden]="!isDeleteDialogOpened" (close)="onCloseDeleteDialog()" [minWidth]="250">
    <p style="margin: 30px; text-align: center">
      Bạn chắc chắn muốn xóa vĩnh viễn {{ context[contextIndex] }}&nbsp; "{{curPromotion.PromotionNo}}" &nbsp;này?
    </p>
    <div class="dialog-footer">
      <button kendoButton class="btn-hachi hachi-secondary" (click)="onCloseDeleteDialog()" [icon]="'close'">
        Không
      </button>
      <button kendoButton class="btn-hachi hachi-warning" (click)="delete()" [icon]="'trash'">
        Có
      </button>
    </div>
  </kendo-dialog>

  <div *ngIf="isOpenDialogAddGift" class="custom-dialog">
    <app-p-kendo-dialog [title]="'THÊM QUÀ TẶNG'" [width]="1191" [dialogType]="3">
        <div class="body-gift-adder">
          <div class="filter-area">
            <div class="input" [ngClass]="{'disabled': isDisabledPopup || isDisabledSelectChild}">
                <kendo-svg-icon class="iconSearch" [icon]="icons.searchIcon"></kendo-svg-icon>
                <input (keydown.enter)="handleSearch()" [(ngModel)]="searchKeyDialog"
                    placeholder="Tìm theo barcode, postcode, tên quà tặng" />
            </div>
            <div (click)="handleSearch()" class="btn-search" [ngClass]="{'disabled': isDisabledPopup || isDisabledSelectChild}">
                <kendo-svg-icon class="iconSearch" [icon]="icons.searchIcon"></kendo-svg-icon>
                <span>Tìm</span>
            </div>

        </div>
            <div class="grid-item">
                <app-p-kendo-grid #myCustomGrid #grid class="grid scrollable grid-custom"
                    [loading]="isLoading" [pageSizes]="pageSizes" [scrollable]="'none'"
                    [data]="listProductTemp" [selectable]="selectable" [pageSize]="pageSize"
                    [sortable]="true" [sort]="gridState.sort" [onPageChangeCallback]="onPageChangeCallback"
                    [onSortChangeCallback]="onSortChangeCallback" [onSelectCallback]="onSelectCallbackPopup"
                    [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback" [hasShowColumnAction]="false"
                    [typeMasterDetail]="0" (getSelectedRowitem)="getSelectedRowitem($event)">

                    <ng-container>
                        <!-- Col-1: Ảnh và tên sản phẩm -->
                        <kendo-grid-column title="Quà tặng" headerClass="header-grid" [width]="200">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                    <div class="col-info-gift">
                                        <img class="image-product-parent" [src]="dataItem.ProductImage" alt="" (error)="onImageError($event)">
                                        <span class="name" [title]="dataItem.ProductName">{{
                                            dataItem.ProductName }}
                                        </span>
                                    </div>
                            </ng-template>
                        </kendo-grid-column>
                        <!-- Col-2: Loại quà tặng -->
                        <kendo-grid-column title="Mã quà tặng" headerClass="header-grid header-type"
                            [width]="100">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="col-bardcode" [attr.code-task]="dataItem.ProductBarcode">
                                    <div>
                                        <span class="type-gift" [title]="dataItem.ProductBarcode">{{
                                            dataItem.ProductBarcode }}
                                        </span>
                                    </div>


                                </div>
                            </ng-template>
                        </kendo-grid-column>
                    </ng-container>
                </app-p-kendo-grid>
            </div>
            <div class="button-area">
                <button (click)="closeDialog()" kendoButton class="btn-hachi hachi-primary hachi-secondary"
                (click)="handleClosePopup()">đóng</button>
                <button (click)="handleAddGift()" kendoButton [ngClass]="{'disabledBtn': listProductSelected.length == 0}"
                    class="btn-hachi hachi-primary">
                    THÊM QUÀ TẶNG
                </button>

            </div>
        </div>
    </app-p-kendo-dialog>
</div>
</div>

<!-- <app-folder-popup [pickFileCallback]="pickFileCallback" [GetFolderCallback]="GetFolderCallback"></app-folder-popup> -->

<app-import-popup [uploadEventHandlerCallback]="uploadEventHandlerCallback"></app-import-popup>