<kendo-dialog #folderDialogPopup title="THAY ĐỔI MẬT KHẨU" [hidden]="!isDialogOpen()" (close)="closeDialog()"
  id="changePasswordPopup">
  <form class="k-form" [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.Enter)="keydownEnter($event)">
    <kendo-formfield>
      <div class="label">Nhập mật khẩu hiện tại</div>

      <div class="form-group">
        <input #Password type="password" formControlName="Password" class="form-control k-textbox"
          placeholder="Mật khẩu hiện tại" required title="Nhập mật khẩu hiện tại" value=""
          [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />

        <kendo-svg-icon class="icon-right" [icon]="icons.eyeIcon" [size]="'medium'"
          [style.right]="submitted && f.Password.errors ? '35px' : '10px'" #eyeIconPassword
          (click)="togglePassword('Password')">
        </kendo-svg-icon>

        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
          <div *ngIf="f.Password.errors.required">Mật khẩu hiện tại không đúng</div>
        </div>
      </div>
    </kendo-formfield>

    <kendo-formfield>
      <div class="label">Nhập mật khẩu mới</div>

      <div class="form-group">
        <input #NewPassword type="password" formControlName="NewPassword" class="form-control k-textbox"
          placeholder="Mật khẩu mới" required title="Nhập mật khẩu mới" value=""
          [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }" />

        <kendo-svg-icon class="icon-right" [icon]="icons.eyeIcon" [size]="'medium'"
          [style.right]="submitted && f.NewPassword.errors ? '35px' : '10px'" #eyeIconNewPassword
          (click)="togglePassword('NewPassword')">
        </kendo-svg-icon>

        <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
          <div *ngIf="f.NewPassword.errors.required">Mật khẩu mới không khớp</div>
        </div>
        <mat-error *ngIf="form.hasError('notSame')">
          Mật khẩu mới không khớp
        </mat-error>
      </div>
    </kendo-formfield>

    <kendo-formfield>
      <div class="label">Xác nhận mật khẩu mới</div>

      <div class="form-group">
        <input #RenewPassword type="password" formControlName="RenewPassword" class="form-control k-textbox"
          placeholder="Mật khẩu mới" required title="Xác nhận mật khẩu mới" value=""
          [ngClass]="{ 'is-invalid': submitted && f.RenewPassword.errors }" />

        <kendo-svg-icon class="icon-right" [icon]="icons.eyeIcon" [size]="'medium'"
          [style.right]="submitted && f.RenewPassword.errors ? '35px' : '10px'" #eyeIconRenewPassword
          (click)="togglePassword('RenewPassword')">
        </kendo-svg-icon>

        <div *ngIf="submitted && f.RenewPassword.errors || form.hasError('notSame')" class="invalid-feedback">
          <div *ngIf="f.RenewPassword.errors?.required">Xác nhận mật khẩu mới không khớp</div>
        </div>
        <mat-error *ngIf="form.hasError('notSame')" >
          Xác nhận mật khẩu mới không khớp
        </mat-error>
      </div>
    </kendo-formfield>

    <div class="k-form-buttons">
      <button kendoButton class="k-button"  (click)="closeDialog()">Đóng</button>
      <button kendoButton class="k-button updateBtn"  type="submit">CẬP NHẬT</button>
    </div>
  </form>
</kendo-dialog>