@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  #changePasswordPopup {
    z-index: 7;

    .k-dialog {
      width: 470px;
      min-height: 321px;
      border-radius: 3px;

      .k-dialog-titlebar {
        color: white;
        background-color: $dark-green;
        text-transform: uppercase;
        font-weight: 700;
        padding: 14px;
        border-radius: 3px 3px 0 0;

        .k-dialog-title {
          justify-content: center;
          font-size: 20px;
        }
      }

      .k-dialog-content.k-window-content {
        padding: 15px 30px;
        overflow: hidden;

        form {
          margin: 0 auto;

          .label {
            margin-bottom: 9px;
            font-weight: 700;
            font-size: 13px;
            color: $gray-800;
          }

          .form-group {
            max-height: 65px;
            position: relative;

            .icon-right {
              position: absolute;
              cursor: pointer;
              right: 10px;
              top: 0;
              z-index: 11;

              > svg {
                fill: $gray-200;
                flex: 1 0 auto;
              }
            }
            .icon-right:hover {
              > svg {
                fill: $light-blue-gray !important;
              }
            }
          }

          input {
            height: 48px;
            font-size: 1rem;
            font-weight: 400;
          }
          input:focus {
            box-shadow: 0 0 0 2px $dark-green;
          }

          .invalid-feedback {
            font-size: 14px;
          }
          .mat-error {
            color: $bad-red;
          }

          .k-form-buttons {
            justify-content: center;
            
          .k-button {
            height: 32px;
            width: 103px;
            border-radius: 3px;
            border: 1px solid;
            background-color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;

            &:hover {
              background-color: $medium-blue-gray;
              color: white;
            }

            &.updateBtn {
              background-color: $dark-green;
              border: none;
              color: white;

              &:hover {
                background-color: $worse-green;
                border: 1px solid;
              }
            }
          }
          }
        }
      }
    }
  }
}
