<div class="body">
    <div class="header">
        <input [disabled]="disableCheckbox" (change)="handleClear()" type="checkbox" id="terms" kendoCheckBox [(ngModel)]="isSelectedCompany"  />
        <div class="name-company">
            <label class="k-checkbox-label" for="terms"
            >Áp dụng tại công ty {{setValue[0].name}}</label>
            <div *ngIf="important == true" class="conpany-important">(*)</div>
        </div>
    </div>

    <div class="group">
        <div class="kendo-label">
            Phân nhóm cấp 1
        </div>
        <kendo-dropdownlist
            fillMode="outline"
            iconClass="fa-solid fa-angle-down"
            [defaultItem]="defaultItem"
            [disabled]="isSelectedCompany == false"
            (filterChange)="handleFilter($event, 1)"
            [filterable]="true"
            textField="name"
            [(ngModel)]="selectedItem1"
            valueField="id"
            [data]="searchType1"
            (valueChange)="onItemChange($event, 1)"
            [filterInput]="false"
            [closeOnClick]="false"
            > 
        </kendo-dropdownlist>
      
    </div>
    
    
    
    <div class="group">
        <div class="kendo-label">
            Phân nhóm cấp 2
        </div>
        <kendo-dropdownlist fillMode="outline"  iconClass="fa-solid fa-angle-down" [defaultItem]="defaultItem" [disabled]="!selectedItem1 || selectedItem1.id == -1 || isSelectedCompany == false" 
        (filterChange)="handleFilter($event, 2)" [filterable]="true"  
        textField="name" valueField="id" [(ngModel)]="selectedItem2" 
        [data]="selectedItem1?.child" (valueChange)="onItemChange($event, 2)" 
        [data]="searchType2" >
        
        </kendo-dropdownlist>
    </div>
    
    <div class="group">
        <div class="kendo-label">
            Phân nhóm cấp 3
        </div>
        <kendo-dropdownlist fillMode="outline"  iconClass="fa-solid fa-angle-down" [defaultItem]="defaultItem" [disabled]="!selectedItem2 || selectedItem2.id == -1 || isSelectedCompany == false" 
        (filterChange)="handleFilter($event, 3)" [filterable]="true"
        textField="name" valueField="id" [(ngModel)]="selectedItem3" [data]="selectedItem2?.child" 
        (valueChange)="onItemChange($event, 3)"
        [data]="searchType3" >
        </kendo-dropdownlist>
    </div>
    
    <div class="group">
        <div class="kendo-label">
            Phân nhóm cấp 4
        </div>
        <kendo-dropdownlist fillMode="outline"  iconClass="fa-solid fa-angle-down" [defaultItem]="defaultItem" [disabled]="!selectedItem3 || selectedItem3.id == -1 || isSelectedCompany == false" 
        (filterChange)="handleFilter($event, 4)" [filterable]="true"
        textField="name" valueField="id" [(ngModel)]="selectedItem4" [data]="selectedItem3?.child" 
        (valueChange)="onItemChange($event, 4)"
        [data]="searchType4" >
       
        </kendo-dropdownlist>
    </div>
    
    <div class="group">
        <div class="kendo-label">
            Phân nhóm cấp 5
        </div>
        <kendo-dropdownlist fillMode="outline"  iconClass="fa-solid fa-angle-down" [defaultItem]="defaultItem" [disabled]="!selectedItem4 || selectedItem4.id == -1 || isSelectedCompany == false" 
        (filterChange)="handleFilter($event, 5)" [filterable]="true"
        textField="name" valueField="id" [(ngModel)]="selectedItem5" [data]="selectedItem4?.child" 
        (valueChange)="onItemChange($event, 5)"
        [data]="searchType5" >
        </kendo-dropdownlist>
    </div>
    

    <div class="price">
        <div  class="kendo-label">
            Giá bán lẻ (bao gồm VAT)
        </div>
        <div class="input">
            <div class="inputTotalPrice">
                <input [disabled]="true" class="inputPrice" [value]="totalPrice"/>
            </div>
            <kendo-dropdownlist  iconClass="fa-solid fa-angle-down" [disabled]="true" [data]="typeOfMoney" value="VND">
            </kendo-dropdownlist>
        </div>
    </div>
</div>
