

.k-checkbox{
    border: 1px solid #999999;
    border-radius: 2px;
    &.k-focus{
        box-shadow: none;
        outline: none;
        border-color: #008000;
    }
}


::ng-deep{
    .k-list-optionlabel.k-selected {
        background-color: #008000; 
    }
    .k-checkbox:checked {
        accent-color: #008000;
        background-color: #008000;
        border: 1px solid #008000;
    }
    
    .k-checkbox:focus{
        box-shadow: none;
    }

    
    .k-i-search.k-input-icon.k-icon{
        display: none;
    }
    
    .k-list-optionlabel{
        color: black;
    }
    .k-list-optionlabel.k-selected:hover{
        background-color: #1A6634; 
    }
    
    .k-list-item.k-selected {
        background-color: #1A6634; 
    }
    
    .k-list-item.k-selected:hover{
        background-color: #1A6634;
    }

    .k-checkbox:checked:focus{
        box-shadow: none;
    }

    .k-list-filter{
       
    }
    .k-input-outline:focus-within{
        border-color: #008000;
        border-width: 2px;
        box-shadow: none !important;
        border-radius: 2px;
    }
} 



.body{
    width: 100%;
    height: 414px;
    background-color: white;
    .header{
        display: flex;
        align-items: center;
        height: 24px;

        .name-company{
            display: flex;
            align-items: center;

            label{
                margin:0 10px;
                font-size: 13px;
                font-weight: bold;
                color: black;
            }

            .conpany-important{
                color: red;
            }
        }
    }

    .group {
        margin-top: 10px;
        .kendo-label {
          color: #959DB3;
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        kendo-dropdownlist{
            background-color: rgb(255, 255, 255);
            border: 2px solid #DBDEE7;
            border-radius: 2px;
            &.k-focus{
                box-shadow: none;
                outline: none;
                border-color: #008000;
            }

            &:hover{
                color: black;
                border-color: #008000;
            }
        }
      }
      

    .price{
        margin-top: 10px;
        width: 100%;
        .kendo-label{
            color: #959DB3;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .input{
            display: flex;
            width: 100%;
            justify-content: space-between;
   
            .inputTotalPrice{
                width: 65%;
                .inputPrice{
                    width: 100%;
                    text-align: right;
                    height: 33px;
                    border: 2px solid #DBDEE7;
                    border-radius: 2px;
                    padding: 0 10px;
                }
            }

            kendo-dropdownlist{
                width: 30%;
                border: 2px solid #DBDEE7;
                border-radius: 2px;
            }
        }
    }
}