<p-loading-spinner class="loading-spiner"
    [isLoading]="isLoading"></p-loading-spinner>

<div class="app-drawer-container">
    <kendo-drawer-container id="drawerContainerRight" class="drawer-container">
        <kendo-drawer id="drawerRight" #drawerRight position="end" mode="overlay" [(expanded)]="isOpenDrawer"
            class="drawer" [autoCollapse]="false">
            <ng-template kendoDrawerHeaderTemplate>
                <div>
                    <div class="title">
                        {{"Sản phẩm thuộc chương trình" | uppercase}}

                    </div>
                    <div class="info-area-block">
                        <div class="block-1 block">
                            <div class="box-area box-area-1">
                                <div class="block-left">
                                    <div>
                                        <div class="label">
                                            Nhập mã sản phẩm <span *ngIf="isVisible('im-id-position')"
                                                class="important">(*)</span>
                                        </div>
                                        <kendo-textbox [(ngModel)]="barcode" (inputBlur)="handleGetProductByBarcode()"
                                        class="k-textbox" [disabled]="!isAddProduct">
                                        </kendo-textbox>
                                    </div>

                                    <div *ngIf="isShowElementDrawer()">
                                        <div class="label">
                                            Tên sản phẩm
                                        </div>
                                        <div class="name-product">
                                            &nbsp; {{curDataProduct.VNName}}
                                        </div>
                                    </div>

                                    <div *ngIf="isShowElementDrawer()">
                                        <div class="label">
                                            Giá bán lẻ
                                        </div>
                                        <div class="name-product">
                                            &nbsp; {{ curDataProduct.Price || '0' | number:'1.0-0' }}
                                          </div>
                                    </div>
                                </div>

                                <div class="block-right" *ngIf="isShowElementDrawer()">
                                    <div class="imageProduct">
                                        <img [src]="curDataProduct.ImageSetting" (error)="onImageError($event)">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="block-5 block" *ngIf="isShowElementDrawer()">
                            <div class="box-area box-area-5">
                                <div>
                                    <div class="label">
                                        Tình trạng <span *ngIf="isVisible('im-id-position')"
                                            class="important">(*)</span>
                                    </div>
                                    <div class="radio-area">
                                        <label class="radio-layout">
                                            <input name="statusGift" type="radio" [defaultChecked]="true" kendoRadioButton 
                                                [ngModel]="curDataProduct.StatusID" [disabled]="isView" 
                                                [value]="2" (ngModelChange)="handleSetValueRadio($event)" />
                                            <div>Áp dụng</div>
                                        </label>
                                        

                                        <label class="radio-layout">
                                            <input name="statusGift" type="radio" kendoRadioButton [ngModel]="curDataProduct.StatusID" 
                                            [value]="3" (ngModelChange)="handleSetValueRadio($event)" [disabled]="isView"/>
                                            <div>Ngưng áp dụng</div>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- BUTTON CONTROL -->
                    <div class="btnControl">
                        <button (click)="handleCloseDrawer()" kendoButton
                            class="btn-hachi hachi-primary hachi-secondary">đóng</button>
                        <div *ngIf="isAddProduct && isShowElementDrawer()">
                            <button kendoButton class="btn-hachi hachi-primary" (click)="handleActionDrawer(1)">
                                THÊM MỚI
                            </button>
                        </div>

                        <ng-container *ngIf="!isAddProduct && isShowElementDrawer() && !isView">
                            <div>
                                <button kendoButton class="btn-hachi hachi-primary" (click)="handleSubmitForm($event)">
                                    CẬP NHẬT
                                </button>
                            </div>

                            <div>
                                <button kendoButton *ngIf="handleCheckPermission()" class="btn-hachi hachi-warning" (click)="handleDeleteGiftDrawer()">
                                    XÓA
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-template>

        </kendo-drawer>
        <!-- center content -->
        <kendo-drawer-content class="drawer-content">
            <div class="app-mar021-discount-gift-item">
                <div class="header header-1">
                    <div class="nav-btn nav-breadcrumb">
                        <app-p-kendo-breadcrumb (loadData)="onLoadPage()"></app-p-kendo-breadcrumb>
                    </div>

                    <div class="nav-btn nav-crud">
                        <button *ngFor="let item of listActionStatus" kendoButton class="k-button {{ item.class }}" [disabled]="isDisabled || isDisabledSelectChild"
                            [icon]="item.code" (click)="onUpdatePromotionStatus(item)">
                            {{ item.text }}
                        </button>
                    </div>

                    <kendo-dropdownbutton [data]="ListActionCreate" *ngIf="M_C" iconClass="k-icon k-i-plus"
                    (itemClick)="onBtnDropdownlistClick($event)" [disabled]="isDisabled || isDisabledSelectChild" class="onAddBtn"
                    [popupSettings]="{ align: 'right', popupClass: 'popup-add-mar021-discount-gift-order' }"
                    textField="PromotionType">
                    TẠO MỚI<span class="k-icon k-i-arrow-chevron-down ml-3"></span>
                </kendo-dropdownbutton>
                </div>

                <div class="main-content-hamper">
                    <div class="body">
                        <div class="sections">
                            <app-mar-promotion-infor #promotionInfor [blockName]="'CHƯƠNG TRÌNH'" mode="2"
                                hasImages="false" TypeDataPromotion="4" [disabled]="isDisabled || isDisabledSelectChild" 
                                (getListActionPromotion)="onGetListActionPromotion($event)" 
                                (getPromotion)="onGetPromotion($event)"></app-mar-promotion-infor>

                            <app-mar-condition-apply #conditionApply [mode]="2" [isHiddenCondition]="false"
                                (getListDayOfWeek)="onGetListDayOfWeek($event)" (valueChange)="onGetCurrentPromotion($event)"
                                (getListGroupOfCard)="onGetListGroupOfCard($event)" [disabled]="isDisabled || isDisabledSelectChild" 
                                (getListCOPOLApplyScope)="onGetListCOPOLApplyScope($event)"></app-mar-condition-apply>


                            <!-- RANGE PROMOTION -->
                            <app-mar-promotion-gift-rules #gridGiftRules *ngIf="curPromotion.Code !== 0" (isDisabledSearch)="getDisabledSearch($event)"
                                [curPromotion]="curPromotion" (listRangeOutput)="getListRange($event)" 
                                [isDisabledSelect]="isDisabledSelectParent"  (importRange)="getIsImportRange($event)"
                                (addGift)="handleOpenAddGift($event)"></app-mar-promotion-gift-rules>

                            <div *ngIf="curPromotion.Code !== 0" class="grid-container">
                                <div class="header-list-container header header-2">
                                    <!-- FILTER SEARCH -->
                                    <div class="filter-container">
                                        <div class="title-text">
                                            <div>
                                                <span>DANH SÁCH SẢN PHẨM <span class="important">(*)</span></span>

                                            </div>
                                        </div>

                                        <app-search-filter-group #search [clearButton]="true" title="" [disabled]="isDisabledSelectChild || isDisabledSelectParent"
                                            placeholder="Tìm theo barcode, postcode, tên sản phẩm"
                                            [fields]="['GiftBarcode', 'GiftPoscode', 'GiftName', 'DetailBarcode', 'DetailPoscode', 'DetailName']"
                                            (filterChange)="handleSearchProduct($event)">
                                        </app-search-filter-group>

                                    </div>

                                    <!-- BUTTON -->
                                    <div class="button-container">
                                        <!-- Button import -->
                                        <!-- [ngClass]="{'disabled': !handleCheckPermission()}" -->
                                        <button kendoButton iconClass="k-icon k-i-export" class="addImport" [disabled]="isDisabled || isDisabledSelectChild"
                                        (click)="onImportExcel()" [ngClass]="{'disabled': !handleCheckPermission()}">
                                        </button>
                                        <!-- Button export -->
                                        <!-- [ngClass]="{'disabled': !handleCheckPermission()}" -->
                                        <button kendoButton iconClass="k-icon k-i-import" class="addExport" 
                                        (click)="onExportExcel()" [disabled]="isDisabled || isDisabledSelectChild">
                                            Template
                                        </button>
                                        <!-- Button thêm mới công việc bảng công việc -->
                                        <!-- [ngClass]="{'disabled': !handleCheckPermission()}" -->
                                        <button  kendoButton iconClass="k-icon k-i-plus" class="addBtn" [disabled]="isDisabled || isDisabledSelectChild"
                                        (click)="handleOpenDrawer()" [ngClass]="{'disabled': !handleCheckPermission()}">
                                            Thêm mới sản phẩm
                                        </button>
                                    </div>
                                </div>

                                <!-- TASK LIST FIELD -->
                                <div class="task-list-container">
                                    <div class="grid-wrapper">
                                        <app-p-kendo-grid #myCustomGrid #grid class="grid scrollable grid-custom" [pageable]="true"
                                            [loading]="isLoadingDetail" [pageSizes]="pageSizes" [scrollable]="'none'" [pageSize]="pageSize"
                                            [data]="listProductDetailGrid" [selectable]="selectable" [skip]="gridStateDetail.skip" [take]="gridStateDetail.take"
                                            [sortable]="true" [sort]="gridStateDetail.sort"
                                            [onPageChangeCallback]="onPageChangeCallback"
                                            [onActionDropdownClickCallback]="onActionDropDownClickCallback"
                                            [getActionDropdownCallback]="getActionDropdownCallback"
                                            [getSelectionPopupCallback]="getSelectionPopupCallback"
                                            [onSortChangeCallback]="onSortChangeCallback"
                                            [onSelectCallback]="onSelectCallback" [ngClass]="{'disabledSelect': isDisabledSelectChild}"
                                            [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback">

                                            <ng-container>
                                                <!-- Col-1: Tên sản phẩm -->
                                                <kendo-grid-column title="Tên sản phẩm"
                                                    headerClass="header-grid header-name" [width]="300">
                                                    <ng-template kendoGridCellTemplate let-dataItem
                                                        let-rowIndex="rowIndex">
                                                        <div class="col-1">
                                                            <div>
                                                                <img class="image-product-parent" [src]="dataItem.ImageSetting" alt="" (error)="onImageError($event)">
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <span class="name" [title]="dataItem.VNName">{{
                                                                        dataItem.VNName }}
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="code" [title]="dataItem.Barcode">
                                                                        {{ dataItem.Barcode }} </span>
                                                                    <span class="space-line" *ngIf="dataItem.PosCode !== null && dataItem.PosCode !== ''">|</span> 
                                                                    <span class="code" [title]="dataItem.PosCode"> 
                                                                        {{ dataItem.PosCode }} </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>


                                                <!-- Col-2: Giá bán lẻ  -->
                                                <kendo-grid-column title="Giá bán lẻ"
                                                    headerClass="header-grid header-type" [width]="300" field="Price">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="col-2">
                                                            <span>{{ dataItem.Price | number:'1.0-0' }}</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>

                                                <!-- Col-3: Tình trạng -->
                                                <kendo-grid-column title="Tình trạng" [headerClass]="'header-status'"
                                                    class="col-status">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="box-status">
                                                            <span class="status-name" [innerHTML]="dataItem.StatusName | colorStatus: dataItem.StatusID : 4"></span>
                                                        </div>
                                                    </ng-template>


                                                </kendo-grid-column>

                                            </ng-container>

                                        </app-p-kendo-grid>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="symbol fst-italic mt-2">(*) Trường bắt buộc nhập.</p>
                </div>
            </div>

            <div *ngIf="isOpenDialogAddGift" class="custom-dialog">
                <app-p-kendo-dialog [title]="'THÊM QUÀ TẶNG'" [width]="1191" [dialogType]="3">
                    <div class="body-gift-adder">
                        <div class="filter-area">
                            <div class="input" [ngClass]="{'disabled': isDisabledPopup || isDisabledSelectChild}">
                                <kendo-svg-icon class="iconSearch" [icon]="icons.searchIcon"></kendo-svg-icon>
                                <input (keydown.enter)="handleSearch()" [(ngModel)]="searchKeyDialog"
                                    placeholder="Tìm theo barcode, postcode, tên quà tặng" />
                            </div>
                            <div (click)="handleSearch()" class="btn-search" [ngClass]="{'disabled': isDisabledPopup || isDisabledSelectChild}">
                                <kendo-svg-icon class="iconSearch" [icon]="icons.searchIcon"></kendo-svg-icon>
                                <span>Tìm</span>
                            </div>

                        </div>
                        <div class="grid-item">
                            <app-p-kendo-grid #myCustomGrid #grid class="grid scrollable grid-custom"
                                [loading]="isLoading" [pageSizes]="pageSizes" [scrollable]="'none'"
                                [data]="listProductTemp" [selectable]="selectable" [pageSize]="pageSize"
                                [sortable]="true" [sort]="gridState.sort" [onPageChangeCallback]="onPageChangeCallback"
                                [onSortChangeCallback]="onSortChangeCallback" [onSelectCallback]="onSelectCallbackPopup"
                                [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback" [hasShowColumnAction]="false"
                                [typeMasterDetail]="0" (getSelectedRowitem)="getSelectedRowitem($event)">

                                <ng-container>
                                    <!-- Col-1: Ảnh và tên sản phẩm -->
                                    <kendo-grid-column title="Quà tặng" headerClass="header-grid" [width]="200">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                <div class="col-info-gift">
                                                    <img class="image-product-parent" [src]="dataItem.ProductImage" alt="" (error)="onImageError($event)">
                                                    <span class="name" [title]="dataItem.ProductName">{{
                                                        dataItem.ProductName }}
                                                    </span>
                                                </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <!-- Col-2: Loại quà tặng -->
                                    <kendo-grid-column title="Mã quà tặng" headerClass="header-grid header-type"
                                        [width]="100">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <div class="col-bardcode" [attr.code-task]="dataItem.ProductBarcode">
                                                <div>
                                                    <span class="type-gift" [title]="dataItem.ProductBarcode">{{
                                                        dataItem.ProductBarcode }}
                                                    </span>
                                                </div>


                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                </ng-container>
                            </app-p-kendo-grid>
                        </div>
                        <div class="button-area">
                            <button (click)="closeDialog()" kendoButton class="btn-hachi hachi-primary hachi-secondary"
                                (click)="handleClosePopup()">đóng</button>
                                <button (click)="handleAddGift()" kendoButton [ngClass]="{'disabledBtn': listProductSelected.length == 0}"
                                class="btn-hachi hachi-primary">
                                THÊM QUÀ TẶNG
                            </button>

                        </div>
                    </div>
                </app-p-kendo-dialog>
            </div>

            <kendo-dialog #dialog id="deleteDialog" class="deleteDialog" title="Xóa {{ context[contextIndex] }}"
                [hidden]="!isDeleteDialogOpened" (close)="onCloseDeleteDialog()" [minWidth]="250">
                <p style="margin: 30px; text-align: center">
                    Bạn chắc chắn muốn xóa vĩnh viễn {{ context[contextIndex] }}&nbsp; "{{curPromotion.PromotionNo}}" &nbsp;này?
                </p>
                <div class="dialog-footer">
                    <button kendoButton class="btn-hachi hachi-secondary" (click)="onCloseDeleteDialog()" [icon]="'close'">
                        Không
                    </button>
                    <button kendoButton class="btn-hachi hachi-warning" (click)="delete()" [icon]="'trash'">
                        Có
                    </button>
                </div>
            </kendo-dialog>

            <kendo-dialog #dialog id="deleteDialog" class="deleteDialog" title="Xóa sản phẩm"
            [hidden]="!isComfirmDeleteGift" (close)="onCloseDeleteGift()" [minWidth]="250">
            <p style="margin: 30px; text-align: center">
                Bạn chắc chắn muốn xóa vĩnh viễn
                <ng-container *ngIf="itemGiftDelete.length === 1">
                    {{ itemGiftDelete[0].VNName }}
                </ng-container>
                <ng-container *ngIf="itemGiftDelete.length > 1">
                    những sản phẩm này
                </ng-container>?
            </p>
            <div class="dialog-footer">
                <button kendoButton class="btn-hachi hachi-secondary" (click)="onCloseDeleteGift()" [icon]="'close'">
                    Không
                </button>
                <button kendoButton class="btn-hachi hachi-warning" (click)="deleteGift()" [icon]="'trash'">
                    Có
                </button>
            </div>
        </kendo-dialog>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>

<app-import-popup [uploadEventHandlerCallback]="uploadEventHandlerCallback"></app-import-popup>
