<!-- Breadcumb and buttons -->
<div class="breadcrumb-container">
    <kendo-breadcrumb [collapseMode]="collapseMode" [items]="items" SetClassSVGIcon HamperBreadcrumb />
    <div class="button-group-field">
        <button *ngFor="let button of listButtonAvailable" type="button" HamperButtons
            [attr.data-type]="button.typeButton" (click)="onClickOptionButton(button.nameButton)">
            <kendo-svg-icon [icon]='button.svgClassIcon' />{{button.nameButton}}
        </button>
    </div>
</div>


<div class="hamper-body">


    <!-- Thông tin hamper -->
    <div class="hamper-detail" [ngClass]="{'disabled' : disableField(status)}">
        <div class="hamper-infor-title">
            <div>Thông tin hamper</div>
            <div [style.color]="status | statusColor">{{ status }}</div>
        </div>

        <div class="hamper-infor-container">
            <form class="grid-cols-3" [formGroup]="inforHamper">

                <div class="col-span-1">


                    <!-- Input Barcode -->
                    <div class="first-child"><kendo-label for="origin-barcode" text="Barcode" /><span Necessary></span>
                    </div>
                    <kendo-textbox class="disabled-input" (keydown)="onKeyDown($event)"
                         id="origin-barcode" type="text"
                        formControlName="originBarcode" />


                    <!-- Input tên tiếng việt -->
                    <div style="display: flex; gap: 5px;"><kendo-label for="nameVN" text="Tên tiếng Việt" /> <span
                            Necessary></span></div>
                    <kendo-textbox id="nameVN" type="text" (blur)="onInputNameTVBlur()" formControlName="nameVN"
                        (click)="onClickInput()" />


                    <!-- Input tên tiếng anh -->
                    <kendo-label for="nameENG" text="Tên tiếng Anh" />
                    <kendo-textbox id="nameENG" type="text" (blur)="onBlurValueHamperInfor()" formControlName="nameENG"
                        (click)="onClickInput()" />


                    <!-- Input tên tiếng nhật -->
                    <kendo-label for="nameJP" text="Tên tiếng Nhật" />
                    <kendo-textbox id="nameJP" type="text" (blur)="onBlurValueHamperInfor()" formControlName="nameJP"
                        (click)="onClickInput()" />


                </div>

                <div class="col-span-1">


                    <!-- Input xuất xứ -->
                    <kendo-label class="first-child" for="origin" text="Xuất xứ" />
                    <kendo-dropdownlist id="origin" [fillMode]="'outline'" iconClass="fa-solid fa-angle-down"
                        [data]="dataOrigin.dataMadeHameper" valueField="id" textField="made" #originDropdown [defaultItem]="defaultItem"/>


                    <!-- Input chất liệu tiếng việt -->
                    <kendo-label for="materialVN" text="Chất liệu tiếng Việt" />
                    <kendo-textbox id="materialVN" type="text" formControlName="materialVN" (click)="onClickInput()"
                        (blur)="onBlurValueHamperInfor()" />


                    <!-- Input chất liệu tiếng anh -->
                    <kendo-label for="materialENG" text="Chất liệu tiếng Anh" />
                    <kendo-textbox id="materialENG" type="text" formControlName="materialENG" (click)="onClickInput()"
                        (blur)="onBlurValueHamperInfor()" />


                    <!-- Input chất liệu tiếng nhật -->
                    <kendo-label for="materialJP" text="Chất liệu tiếng Nhật" />
                    <kendo-textbox id="materialJP" type="text" formControlName="materialJP" (click)="onClickInput()"
                        (blur)="onBlurValueHamperInfor()" />


                </div>

                <div class="col-span-1" style="justify-content: center; display: flex;">
                    <app-import-image [srcImage]="inforHamperBeforeChange.image"
                        (fileSelected)="onFileSelected($event)"></app-import-image>
                </div>

            </form>
        </div>
    </div>


    <!-- Thông tin đóng gói -->
    <div class="hamper-infor-package" [ngClass]="{'disabled' : disableField(status)}">
        <div class="hamper-infor-package_title">Thông tin đóng gói</div>
        <div class="hamper-infor-package_container">
            <div class="col-span-1">
                <kendo-label class="first-child" for="product-unit" text="Đơn vị sản phẩm (Base unit)" />
                <kendo-dropdownlist id="product-unit" [fillMode]="'outline'" iconClass="fa-solid fa-angle-down"
                    [data]="productUnit.DataUnitProduct" valueField="id" textField="text" [defaultItem]="defaultItemUnit" />

                <kendo-label for="size-product" text="Kích thước sản phẩm (dài x rộng x cao x cân nặng) (cm - g)" />
                <div class="group-size-product">
                    <kendo-textbox class="cd" type="text" />
                    <kendo-textbox class="cr" type="text" />
                    <kendo-textbox class="cc" type="text" />
                    <kendo-textbox class="cn" type="text" />
                </div>

                <kendo-label for="size-inner" text="Kích thước inner (dài x rộng x cao x cân nặng) (cm - g)" />
                <div class="group-size-inner">
                    <kendo-textbox class="cd" type="text" />
                    <kendo-textbox class="cr" type="text" />
                    <kendo-textbox class="cc" type="text" />
                    <kendo-textbox class="cn" type="text" />
                </div>

                <kendo-label for="size-carton" text="Kích thước carton (dài x rộng x cao x cân nặng) (cm - g)" />
                <div class="group-size-carton">
                    <kendo-textbox class="cd" type="text" />
                    <kendo-textbox class="cr" type="text" />
                    <kendo-textbox class="cc" type="text" />
                    <kendo-textbox class="cn" type="text" />
                </div>

                <kendo-label for="size-pallet" text="Kích thước pallet (dài x rộng x cao x cân nặng) (cm - g)" />
                <div class="group-size-pallet">
                    <kendo-textbox class="cd" type="text" />
                    <kendo-textbox class="cr" type="text" />
                    <kendo-textbox class="cc" type="text" />
                    <kendo-textbox class="cn" type="text" />
                </div>

            </div>

            <div class="col-span-1" style="width: 420px;">
                <kendo-label class="first-child" text="Quy đổi quy cách sản phẩm" />
                <div style="display: flex; flex-direction: column; gap: 5px;">
                    <div class="result-inner">
                        <div class="result-inner_left">Inner</div>
                        <div class="result-inner_right">
                            <div>=</div>
                            <div><kendo-textbox type="text" /></div>
                            <div>Base unit</div>
                        </div>
                    </div>

                    <div class="result-carton">
                        <div class="result-carton_left">Carton</div>
                        <div class="result-carton_right">
                            <div>=</div>
                            <div><kendo-textbox type="text" /></div>
                            <div>Base unit</div>
                        </div>
                    </div>

                    <div class="result-pallet">
                        <div class="result-pallet_left">Pallet</div>
                        <div class="result-pallet_right">
                            <div>=</div>
                            <div><kendo-textbox type="text" /></div>
                            <div>Base unit</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Thông tin khác -->
    <div class="hamper-other-infor" [ngClass]="{'disabled' : disableField(status)}">
        <div class="hamper-other-infor_title">Thông tin khác</div>
        <div class="hamper-other-infor_container">
            <div class="col-span-1">
                <kendo-label text="Thông số kĩ thuật" />
                <kendo-textbox type="text" />
            </div>
        </div>
    </div>


    <!-- Danh sách sản phẩm thuộc hamper -->
    <div class="hamper-list-product" [ngClass]="{'disabled' : disableField(status)}">
        <app-product-list [products]="hamperCrr.ProductList" [stateHamper]="hamperCrr.State"></app-product-list>
    </div>


    <!-- Công ty áp dụng -->
    <div class="hamper-list-company" [ngClass]="{'disabled' : disableField(status)}">

        <div class="hamper-list-company_title">Công ty áp dụng</div>

        <div class="hamper-list-company_container">
            <div class="grid-cols-3">

                <!-- Công ty HaChi -->
                <div class="col-span-1">
                    <app-item-company [setValue]="vietHaCom" (getValue)="getValueCompany1($event)" [important]="true"
                        [totalPrice]="200">></app-item-company>
                </div>

                <!-- Công ty Lập Sơn -->
                <div class="col-span-1">
                    <app-item-company [setValue]="motThanhCom" (getValue)="getValueCompany2($event)" [important]="true"
                        [totalPrice]="200">></app-item-company>
                </div>

                <!-- Công ty Kyn -->
                <div class="col-span-1">
                    <app-item-company [setValue]="PSCom" (getValue)="getValueCompany3($event)" [important]="true"
                        [totalPrice]="200">></app-item-company>
                </div>

            </div>
        </div>
    </div>


    <!-- Tag name -->
    <div class="tag-name">© Đỗ Quốc Thành</div>


</div>