.layout-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #EDEFF3;
    .left-container{
        max-width: 270px;
    }

    .right-container{
       min-width: calc(100vw - 270px);
       width: calc(100vw - 50px);
       padding-left: 7px;
       .content-area{
        padding-right: 7px;
        height: calc(100vh - 50px);
        overflow-y: auto;
        overflow: hidden;
       }
    }
}