@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  .app-mar019-discount-hamper {
    height: calc(100vh - #{$footer-height});
    padding: 0 15px 0px 20px;

    // height:100%;
    display: flex;
    flex-direction: column;
    

    .text-ellipsis {
      max-height: 1.4em;
      line-height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: normal;
    }

    .header {
      display: flex;
      column-gap: 20px !important;
      // padding: 9px 0;
      margin-bottom: 0;
      border-bottom: 1px solid rgba($gray-500, 0.4);
      // padding: 10px 15px 10px 20px !important;


      .effectiveTime{
        .title{
          color: $light-blue-gray;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 0 0 10px 0;
        }

        .effectiveTime-checkbox{
          display: flex;
          align-items: center;
          column-gap: 20px;
        }
      }

      &.header-1 {
        .k-dropdownlist {
          width: 300px;

          .k-input {
            column-gap: 5px;
          }
        }
      }

      .checkbox-btn-group {
        border-radius: 15px;
        height: fit-content;
        margin-top: auto;

        &:hover,
        &.active,
        &.k-state-active {
          border: 1px solid $dark-green;
          background-image: none;
          background-color: white;
          color: initial;

          .k-checkbox {
            background-color: $dark-green;
          }
        }

        .k-checkbox {
          margin-left: 8px;
          border-color: $dark-green;
        }
      }

      .label {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 13px;
        color: $gray-700;

        &.fake {
          visibility: hidden;
        }
      }

      .nav-btn {
        display: flex;
        align-items: center;
        flex-grow: 1;
      }
      .nav-filter {
        column-gap: 10px;
        flex-grow: 0;

        .filter-btn-group {
          &.clear-btn-group {
            .label {
              display: flex;
              align-items: center;
              color: $light-blue-gray;
            }
            .clear-filter-btn {
              color: $good-green;
              border: none;
              background: none;
              text-decoration: underline;
            }
          }

          &.search-btn-group {
            margin-right: 5px;

            .search-btn {
              position: relative;

              .k-i-search {
                position: absolute;
                height: 100%;
                width: 30px;
                z-index: 1;
              }
              .k-textbox {
                padding-left: 30px;
                min-width: fit-content;
                width: 272px;
              }
            }
          }
          &.date-btn-group {
            flex-grow: 1;
          }
        }

        .searchBtn {
          height: 31px;
          margin-top: auto;
          background-color: $dark-green !important;
          color: white;
          font-size: 11px;
          font-weight: bold;
        }
      }
      .nav-crud {
        flex-grow: 1;
        justify-content: flex-end;

        .onAddBtn {
          height: 32px;
          background-color: $dark-green !important;
          color: white;
          font-weight: bold;

          &.k-dropdownlist {
            width: fit-content;
            width: -mozfit-content;

            .k-dropdown-wrap {
              font-size: 11px;
              background-color: $dark-green;
              color: white;
              border: none;

              .k-input {
                height: 100%;
              }
            }

            .k-state-focused {
              width: 210px;
            }
          }
        }
        .border-center {
          margin: auto 0 1px 10px;
          border-right: 1px solid $gray-300;
          height: 31px;
        }
      }
      .nav-file {
        flex-grow: 0;
        margin-left: auto;

        .file-btn-group {
          background: white;
          box-shadow: 1px 3px 6px 1px rgba($gray-500, 0.2);
          border-radius: 3px;
          color: $gray-500;
          min-width: fit-content;
          height: 32px;
          display: flex;
          margin-top: auto;
          cursor: pointer;

          span.text {
            margin: auto;
            padding-right: 9px;
          }
          .onImportBtn {
            width: 64px;

            .excel-ic {
              width: 32px;
              height: 100%;
              margin-left: 2px;
            }
          }
          .border-center {
            align-self: center;
            height: 90%;
            border-right: 1px solid $gray-500;
          }

          .k-i-arrow-chevron-down {
            text-align: center;
            padding: 7px 0;
            width: 32px;
            height: 100%;

            &:before {
              font-size: 20px;
            }
          }
        }
      }
    }

    .main{
      // height: calc(100vh - 219px);
      // padding: 0 15px 0px 20px;
      overflow-y: scroll;
      overflow-x: hidden;

      .grid {
        &.scrollable {
          .k-grid {
            .k-grid-aria-root {
              overflow-x: auto;
            }
            table {
              // width: 1370px;
              width: 100%;
            }
            //đặt lại more action btn absolute theo table relative
            tr {
              position: initial;
  
              td,
              th {
                &:last-child {
                  // position: absolute;
                  top: initial;
                  margin-top: calc(1% - 10px);
                }
              }
            }
          }
        }
      }
  
      .k-grid {
        color: $gray-700 !important;
  
        .k-grid-header .k-header {
          color: $gray-700 !important;
        }
  
        thead tr {
          height: fit-content !important;
        }
  
        tr:not(.k-grouping-row) {
          td:first-child {
            padding-left: 10px !important;
          }
        }
  
        tr {
          color: $gray-700;
  
          .img_chuongtrinhkhuyenmai {
            // min-width: 362px;
            max-width: 380px;
            width: 380px;
  
            .img {
              position: relative;
              margin-bottom: 9px;
  
              img {
                max-width: 100%;
                border-radius: 3px;
              }
              .tenchuongtrinh {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                text-align: center;
                padding: 3px;
                font-weight: bold;
              }
  
              &:not(.noImg) {
                .tenchuongtrinh {
                  color: white;
                }
              }
            }
  
            .apdung {
              color: $light-blue-gray;
  
              &.green {
                color: $worse-green;
              }
              &.red {
                color: $bad-red;
              }
              &.yellow {
                color: $medium-yellow;
              }
            }
          }
  
          .phanloaichuongtrinh {
            .chuongtrinh {
              margin-bottom: 5px;
            }
          }
  
          .ngaybatdau,
          .ngayketthuc,.donviapdung {
            text-align: center;
  
            .k-link {
              justify-content: center;
            }
          }

  
          .mota {
            min-width: 200px;
  
            @media screen and (max-width: 1400px) {
              min-width: 0;
            }
  
            div {
              max-height: 59px;
            }
          }
  
          td {
            padding: 8px 12px;
  
            &.ngaybatdau,
            &.ngayketthuc {
              .conlai {
                font-weight: 500;
                color: white;
                background-color: $worse-red;
                min-height: 26px;
                min-width: 60px;
                width: fit-content;
                width: -moz-fit-content;
                border-radius: 3px;
                padding: 3px 0;
                margin: 2px auto 0;
              }
            }
            &.mota {
              white-space: normal !important;
              padding-right: 50px;
  
              // @media screen and (max-width: 1400px) {
              //   padding-right: 0;
              // }
            }
          }
        }
  
        .action{
          .btnCell{
            text-align: center;
          }
        }
      }
  
      .myCustomGrid.k-grid tr:not(.k-grouping-row) td:first-child {
        padding-left: 0;
      }
  
      .myCustomGrid {
        // height: calc(100vh - 227px) !important;
        .k-grid-aria-root {
          overflow-y: scroll !important;
        }
      }
    }
  }

  .dropdownDonVi_subitem {
    padding-left: 20px;
  }
}
