.hamper-container{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    
    .breadcumb_functions_container{
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid #BDC2D2;
        position: sticky;
        z-index: 99;
        background-color: #EDEFF3;
        top: 0;

        .breadcrumb{
            width: fit-content;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0px;
            margin-bottom: 0;
            background-color: transparent;
            user-select: none;
            
            .k-breadcrumb-root-link:focus{
                box-shadow: none;
            }

            .k-breadcrumb-link:focus{
                box-shadow: none;
            }
        }

        .button-function-block{
            display: flex;
            .func-button{
                height: 32px;
                padding-left: 10px;
                padding-right: 10px;
                margin-right: 10px;
            }
        }
    }

    .hamper-info-container{
        width: 100%;
        height: fit-content;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        .hamper-info-title-block{
            display: flex;
            align-items: center;
            height: 30px;
            gap: 1.5rem;

            .hamper-title-text{
                text-transform: uppercase;
                font-weight: 700;
                font-size: 16px;
            }
        }

        .hamper-info-content-block{
            width: 100%;
            height: calc(100% - 30px);
            background-color: #FFFFFF;
            overflow-y: hidden;
            overflow-x: auto;

            .info-block{
                display: flex;
                flex-direction: column;
                min-width: 377px;
                padding: 10px;
                padding-top: 5px;
                gap: 0.5rem;
                
                .input-group{
                    background-color: #FFFFFF;
                    display: flex;                   
                    gap: 0.5rem;
                    .label-group{
                        display: flex;
                        align-items: center;
                        height: fit-content;
                        gap: 0.5rem;
                        
                        .label-text{
                            color: #959DB3;
                            font-weight: 700;
                        }
                    }

                    .size-weight-block{                      
                        width: 100%;
                        gap: 0.5rem;
                    }

                    .input{
                        height: 35px;
                        border-width: 2px;
                        border-radius: 4px;
                    }

                    .unit-exchange-group{
                        .unit-exchange-block{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-right: 10px;

                            .unit-text{
                                text-align: right;
                            }
                        }
                    }
                }

                .img-group{
                    justify-content: center;
                }
                
                
            }
        }
    }
}