<div class="sidebar-container">
    <div class="sidebar-logo">
        <img src=".\assets\ha-logo.png" alt="">
        <div class="down-arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>

    <div class="sidebar-menu">
        <!-- chính sách start-->
        <div class="sidebar-menu-group"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : false}"
            (mouseenter)="isHovered = true"
            (mouseleave)="isHovered = false">
            <div class="sidebar-menu-group-logo" (click)="isDropdownOpen = !isDropdownOpen">
                <i class="far fa-copy icon-copy"></i>
                <div class="sidebar-menu-group-title">
                    <p>chính sách</p>
                </div>
                <i class="fas chevron-icon" [ngClass]="isDropdownOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>
            <div class="submenu" *ngIf="isDropdownOpen">
                <li *ngFor="let item of submenuItems">
                    <div class="submenu-item" [routerLink]="item.path">{{item.label}}</div>
                </li>
            </div>
        </div>
        <!-- chính sách end-->

        <!-- chức năng khác start -->
        <div class="menu-list">
            <li *ngFor="let item of menuList">
                <div class="menu-list-group">
                    <i class="far fa-copy"></i>
                <div class="item-of-list" [routerLink]="item.path">{{item.label}}</div>
                </div>
            </li>
        </div>
        <!-- chức năng khác end -->
    </div>
</div>