<div class="sidebar-container">
    <div class="sidebar-logo">
        <img src=".\assets\ha-logo.png" alt="">
        <div class="down-arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>

    <div class="sidebar-menu">
        <!-- chính sách start-->
        <div class="sidebar-menu-group">
            <div class="sidebar-menu-group-logo" [class.active]="activeGroup === 'chinh-sach' || clickedItem === 'chinh-sach'"
                (click)="toggleGroup('chinh-sach')">

                <i class="far fa-copy icon-copy"></i>

                <div class="sidebar-menu-group-title">
                    <p>chính sách</p>
                </div>

                <i class="fas chevron-icon"
                    [ngClass]="activeGroup === 'chinh-sach' ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </div>

            <div class="submenu" *ngIf="activeGroup === 'chinh-sach'">
                <li *ngFor="let item of submenuItems">
                    <div class="submenu-item" 
                    [routerLink]="item.path" 
                    [ngClass]="{
                    'active-submenu-item': activeSubmenuPath === item.path,
                    'clicked-submenu-item': clickedItem === item.path
                    }"
                    (click)="onItemClick(item.path)">
                        {{item.label}}</div>
                </li>
            </div>
        </div>
        <!-- chính sách end-->

        <!-- chức năng khác start -->
        <div class="menu-list">
            <li *ngFor="let item of menuList">
                <div class="menu-list-group">
                    <i class="far fa-copy"></i>
                    <div class="item-of-list" [routerLink]="item.path">{{item.label}}</div>
                </div>
            </li>
        </div>
        <!-- chức năng khác end -->
    </div>
</div>