.sidebar-container {
    height: 100%;
    position: relative;
    z-index: 998;
    kendo-drawer-container {
        height: 100%;

        .drawer {
            height: 100%;
            background-color: #5A6276;
            border: none;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            .modules-block {
                display: flex;
                height: 50px;
                width: 100%;
                align-items: center;
                color: #959DB3;
                user-select: none;

                &:hover {
                    color: #FFFFFF;

                    .icon-block>.expand-icon {
                        color: #FFFFFF;
                    }
                }

                &.active {
                    color: #FFFFFF;

                }

                &.parentActive{
                    >.status-bar{
                        &.spacefill{
                            display: block !important;
                            visibility: visible !important;
                        }                          
                   }
                }


                &.groupModule {
                    color: #959DB3;

                    &:hover {
                        color: #FFFFFF;
                    }

                    &.parentActive {
                        color: #FFFFFF;

                        .icon-block>.expand-icon {
                            color: #FFFFFF;
                        }

                       
                    }
                }

                .status-bar {
                    width: 5px;
                    height: 100%;
                    background-color: #FFFFFF;
                    display: none;

                    &.active {
                        display: block;
                    }

                    &.spacefill{
                        display: block;
                        visibility: hidden;
                    }
                }

                .icon-block {
                    display: flex;
                    width: 45px;
                    height: 100%;
                    align-items: center;
                    justify-content: center;

                    .module-icon {
                        width: 20px;
                        height: 20px;
                        padding: 0;
                        font-size: 20px;
                    }

                    .expand-icon {
                        width: 20px;
                        height: 20px;
                        color: #959DB3;

                        &.expanded {
                            transform: rotate(180deg);
                        }
                    }
                }

                .module-text {
                    text-align: center;
                    font-size: 13px;
                    font-weight: 700;
                    width: calc(100% - 95px);

                    &.parent {
                        text-transform: uppercase;
                    }
                }
            }

            .k-drawer-item {
                padding: 0;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    background-color: transparent;
                }
            }

            .k-drawer-wrapper {
                height: 100%;
            }

            .k-selected {
                background-color: transparent;
                color: none;
            }




        }

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            background-color: #FFFFFF;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            color: #1A6634;
            cursor: pointer;
            user-select: none;

            .icon-block {
                display: flex;
                width: 50px;
                align-items: center;
                justify-content: center;

                .company-icon {
                    width: 20px;
                    height: 20px;
                }

                .expand-icon {
                    width: 20px;
                    height: 20px;
                    color: #1A6634;
                }
            }


            .text-holder {
                width: calc(100% - 100px);
                text-align: center;

                .company-text {
                    font-size: 14px;
                    font-weight: 700;
                    overflow: hidden;
                }
            }



        }
    }

}