::ng-deep {
    app-sidebar {
        .sidebar-container {
            background-color: #5A6276;
            height: 100%;

            .sidebar-logo {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;

                img {
                    width: 140px;
                    height: 30px;
                    object-fit: cover;
                    padding-right: 10px;
                }

                .down-arrow {
                    padding-left: 50px;

                    i {
                        font-weight: bold;
                        color: #959DB3;
                    }
                }
            }

            .sidebar-menu {

                .sidebar-menu-group {
                    padding: 12px 15px;

                    .sidebar-menu-group-logo {
                        display: flex;
                        align-items: center;
                        padding: 10px 15px;
                        cursor: pointer;
                        transition: background-color 0.3s, box-shadow 0.3s;

                        &:hover,
                        &.active {
                        background-color: #2b3348;
                        box-shadow: inset 4px 0 0 white;

                        .icon-copy,
                        .chevron-icon,
                        .sidebar-menu-group-title p {
                            color: white;
                        }
                    }

                        .icon-copy {
                            font-size: 24px;
                            color: #959DB3;
                        }

                        .chevron-icon {
                            font-size: 16px;
                            color: #959DB3;
                            margin-left: 45px;
                        }

                        .sidebar-menu-group-title {
                            padding-left: 10px;
                            white-space: nowrap;

                            p {
                                font-size: 16px;
                                text-transform: uppercase;
                                margin: 0;
                                font-weight: bold;
                                color: #959DB3;
                            }
                        }
                    }

                    .submenu {
                        margin-left: 25px;
                        list-style: none;
                        padding-top: 10px;

                        li {
                            margin-bottom: 10px;
                        }

                        .submenu-item {
                            color: white;
                            font-size: 16px;
                            text-decoration: none;
                            text-transform: capitalize;
                            cursor: pointer;

                            &:hover,
                            &.hovered-submenu-item,
                            &.clicked-submenu-item {
                                background-color: #2b3348;
                                box-shadow: inset 4px 0 0 white;
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                }

                .menu-list {
                    list-style: none;

                    .menu-list-group {
                        display: flex;
                        align-items: center;
                        margin: 15px 0;
                        padding-left: 15px;
                        cursor: pointer;

                        i {
                            font-size: 32px;
                            color: #959DB3;
                        }

                        .item-of-list {
                            font-size: 16px;
                            text-transform: uppercase;
                            margin: 0;
                            font-weight: bold;
                            color: #959DB3;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}