<div class="app-mar015-common-questions-list">
    <!-- Header 1 -->
    <div class="header header-1">
        <app-p-kendo-breadcrumb (loadData)="resetFilter()"></app-p-kendo-breadcrumb>
        <!-- Button for status filter -->
        <ng-container *ngFor="let item of listStatusID.slice(0, 4); let  i = index">
            <button kendoButton class="k-button checkbox-btn-group" [togglable]="isFilterActive"
                [selected]="item.isChecked" (selectedChange)="selectedBtnChange($event, i)">
                {{item.status}}
                <input type="checkbox" class="k-checkbox" [checked]="item.isChecked" disabled>
            </button>
        </ng-container>

        <div class="nav-btn nav-crud" style="flex-grow: 1;">
            <button kendoButton class="k-button btn-hachi hachi-primary" [disabled]="!isFilterActive" [icon]="'plus'"
                *ngIf="isAllowedToCreate || isToanQuyen" (click)="openDetail(true)">
                TẠO MỚI
            </button>
        </div>
    </div>

    <!-- Header 2 -->
    <div class="header header-2">
        <div class="nav-filter nav-btn">
            <!-- Filter (column 1) -->
            <div class="filter-btn-group clear-btn-group">
                <div class="label">
                    <span class="k-icon k-i-filter"></span>Lọc dữ liệu
                </div>

                <button kendoButton class="k-button clear-filter-btn" (click)="resetFilter()">
                    Reset bộ lọc
                </button>
            </div>

            <!-- Search (column 2) -->
            <form [formGroup]="searchForm" style="display: flex;">
                <div class="filter-btn-group search-btn-group">
                    <div class="label">
                        Tìm kiếm
                    </div>

                    <div class="search-btn">
                        <span class="k-icon k-i-search"></span>

                        <kendo-textbox formControlName="SearchQuery" #SearchQuery type="text" class="k-textbox"
                            placeholder="Tìm theo câu hỏi, câu trả lời, người tạo" [clearButton]="true">
                        </kendo-textbox>
                    </div>
                </div>

                <button kendoButton class="k-button searchBtn" [icon]="'search'" (click)="search()"
                    [disabled]="!isFilterActive">
                    TÌM
                </button>
            </form>

            <!-- Dropdown (column 3) -->
            <div class="filter-btn-group">
                <div class="label">
                    Phân nhóm bài viết
                </div>

                <kendo-multiselect [checkboxes]="true" [autoClose]="false" [kendoMultiSelectSummaryTag]="2"
                    [data]="listFilterQuestionCategory" [placeholder]="'Chọn phân nhóm'" [textField]="'NewsCategory'"
                    [valueField]="'Code'" (valueChange)="selectedBtnChange()" [(ngModel)]="currentType"
                    [kendoDropDownFilter]="filterSettings"
                    [popupSettings]="{width: 'auto', appendTo: 'component', popupClass: 'popupClass'}"
                    style="margin-top: auto;width: 200px;" [filterable]="true" #multiSelect [loading]="loading">

                    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                        <span class="value">{{ dataItem.NewsCategory }}</span>
                    </ng-template>

                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <div class="category-container">
                            <!-- <input class="categoryCheckbox" type="checkbox"
                                [checked]="currentType != null && currentType.includes(dataItem)"
                                style="pointer-events: none;"> -->

                            <span class="template">
                                {{ dataItem.NewsCategory }}
                            </span>

                            <button kendoButton class="categoryBtn"
                                (click)="editCategoryDialog(dataItem);$event.stopPropagation()"
                                [icon]="'pencil'"></button>
                        </div>
                    </ng-template>
                    <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                        +{{ dataItems.length }}
                    </ng-template>
                </kendo-multiselect>
            </div>
        </div>
    </div>

    <div class="grip-wrapper">
        <app-p-kendo-grid class="grid scrollable" [data]="gridView | async" [scrollable]="'none'" [loading]="loading"
            [pageable]="true" [pageSizes]="pageSizes" [pageSize]="pageSize" [skip]="gridState.skip"
            [take]="gridState.take" [sortable]="true" [sort]="gridState.sort"
            [onPageChangeCallback]="onPageChangeCallback" [onSortChangeCallback]="onSortChangeCallback"
            [allowedMoreActionDropdown]="allowActionDropdown" [getActionDropdownCallback]="getActionDropdownCallback"
            [onActionDropdownClickCallback]="onActionDropdownClickCallback" [selectable]="selectable"
            [onSelectCallback]="onSelectCallback" [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback"
            [getSelectionPopupCallback]="getSelectionPopupCallback">

            <kendo-grid-column class="col_img_tensanpham_masanpham" title="Câu hỏi"
                headerClass="col_img_tensanpham_masanpham">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="img_tensanpham_masanpham">
                        <div class="tensanpham_masanpham">
                            <div class="tensanpham">
                                <b>{{ dataItem.TitleVN == ''? dataItem.TitleJP == '' ?
                                    dataItem.TitleEN : dataItem.TitleJP : dataItem.TitleVN }}
                                </b>
                            </div>

                            <div class="masanpham">
                                <b>Phân nhóm:</b> {{ dataItem.NewsCategoryName }}
                            </div>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column class="col_nguoiTao" title="Người khởi tạo">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div>{{ dataItem.CreateBy }}</div>
                    <div *ngIf="dataItem.CreateTime != null && dataItem.CreateTime != ''">
                        {{ dataItem.CreateTime | date: 'dd/MM/yyyy' }}</div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Thông tin phê duyệt" class="col_date">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div>{{ dataItem.LastModifiedBy }}</div>
                    <div *ngIf="dataItem.LastModifiedTime != null && dataItem.LastModifiedTime != ''">
                        {{ dataItem.LastModifiedTime | date: 'dd/MM/yyyy' }}</div>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column class="col_tinhTrang" field="StatusID" title="Tình trạng" headerClass="col_tinhTrang">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div [ngClass]="{'yellow': dataItem.StatusID == 1, 
                'green': dataItem.StatusID == 2, 'red': dataItem.StatusID == 3 || dataItem.StatusID == 4}">{{
                        dataItem.StatusName }}</div>
                </ng-template>
            </kendo-grid-column>
        </app-p-kendo-grid>
    </div>

    <kendo-dialog #dialog class="deleteDialog" title="Xóa Bài viết" [hidden]="!deleteDialogOpened"
        (close)="deleteDialogOpened = false" [minWidth]="250">
        <p style="margin: 30px; text-align: center;">
            Bạn chắc chắn muốn xóa vĩnh viễn câu hỏi <b>{{ Question.TitleVN == ''? Question.TitleJP == '' ?
                Question.TitleEN : Question.TitleJP : Question.TitleVN }}</b> ?</p>
        <div class="dialog-footer">
            <button kendoButton class="btn-hachi hachi-secondary" (click)="deleteDialogOpened = false"
                [icon]="'close'">Không</button>
            <button kendoButton class="btn-hachi hachi-warning" (click)="DeleteQuestion()" [icon]="'trash'">Có</button>
        </div>
    </kendo-dialog>

    <kendo-dialog #dialog class="deleteDialog" title="Xóa các Bài viết đã chọn" [hidden]="!deleteManyDialogOpened"
        [minWidth]="250" (close)="closeDeleteDialog()">
        <div style="margin: 30px; text-align: center;">
            {{ deleteList.length }} Bài viết bị xóa<br>
            sẽ <b><span style="color: #FD7676">KHÔNG</span></b> thể khôi phục lại
        </div>
        <div class="dialog-footer">
            <button kendoButton class="btn-hachi hachi-secondary" (click)="closeDeleteManyDialog()"
                [icon]="'close'">Không</button>
            <button kendoButton class="btn-hachi hachi-warning" (click)="deleteMany()" [icon]="'trash'">Có</button>
        </div>
    </kendo-dialog>

    <kendo-dialog #dialog class="editCategoryDialog" title="Chỉnh sửa chi tiết phân nhóm" [hidden]="!editCategory"
        [minWidth]="250" (close)="editCategory = false">
        <div class="category-name">
            <div class="label"><b>Phân nhóm</b></div>
            <input type="text" class="category-name input" [(ngModel)]="categoryName"
                style="width: 100%; padding: 5px;">
        </div>

        <div class="container">
            <div class="img-group">
                <div class="btn-group">
                    <div class="label item1_1">
                        <b>Hình đại diện</b>
                    </div>
                    <span class="k-icon k-i-export" (click)="onUploadImg()" style="cursor:pointer"></span>
                    <!-- <span class="k-icon k-i-trash" (click)="onRemoveImg()" style="cursor:pointer"></span> -->
                </div>

                <img loading="lazy" [src]="categoryImageThumb" [style.width.px]="140" [style.height.px]="100">
            </div>

            <div class="info-container">
                <div class="info">
                    <div class="label"><b>{{ total }} bài viết cùng phân nhóm</b></div>
                </div>
                <div class="action">
                    <button class="updateBtn" (click)="updateCategory()">
                        <b>CẬP NHẬT</b>
                    </button>

                    <button class="closeBtn" (click)="editCategory = false">
                        <b>ĐÓNG</b>
                    </button>
                </div>
            </div>
        </div>
    </kendo-dialog>

    <app-folder-popup style="z-index: 10001;" [pickFileCallback]="pickFileCallback"
        [GetFolderCallback]="GetFolderCallback">
    </app-folder-popup>
</div>