@import "../../../../../assets/scss/variable.scss";

::ng-deep {
    .app-mar015-common-questions-list {
        height: calc(100vh - #{$footer-height});
        padding: 0 15px 0 20px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;

        .header.header-2 .nav-btn {
            align-items: stretch;
            column-gap: 2%;

            .searchBtn {
                margin-top: auto;
            }
        }

        .myCustomGrid.k-grid tr td {
            white-space: normal;
        }

        .col_img_tensanpham_masanpham {
            width: 400px;
            max-width: 500px;

            .img_tensanpham_masanpham {
                display: flex;
                column-gap: 10px;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 80px;
                    min-width: 80px;
                }

                .tensanpham_masanpham {
                    height: 80px;

                    display: flex;
                    flex-direction: column;

                    justify-content: space-evenly;

                    .tomtatsanpham {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }

        // .k-window-content {
        //     display: flex;
        //     flex-direction: column;
        //     row-gap: 5px;

        //     .category-name {
        //         display: flex;
        //         flex-direction: column;
        //         row-gap: 5px;
        //     }
        //     .container {
        //         padding: 0;

        //         display: flex;
        //         column-gap: 10px;

        //         .img-group {
        //             width: auto;

        //             display: flex;
        //             flex-direction: column;
        //             row-gap: 5px;

        //             .btn-group {
        //                 display: flex;
        //                 column-gap: 5px;
        //                 align-items: center;
        //                 justify-content: flex-start;
        //             }
        //         }

        //         .info-container {
        //             height: 100%;

        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             justify-content: space-between;

        //             .action {
        //                 display: flex;
        //                 flex-direction: column;
        //                 row-gap: 10px;

        //                 .updateBtn {
        //                     background-color: #008000;
        //                     color: white;
        //                     padding: 10px;
        //                     border-radius: 5px;
        //                     border: none;
        //                     -webkit-border-radius: 5px;
        //                     -moz-border-radius: 5px;
        //                     -ms-border-radius: 5px;
        //                     -o-border-radius: 5px;
        //                 }
        //                 .closeBtn {
        //                     background-color: transparent;
        //                     color: #008000;
        //                     padding: 10px;
        //                     border-radius: 5px;
        //                     border: 2px solid #008000;
        //                     -webkit-border-radius: 5px;
        //                     -moz-border-radius: 5px;
        //                     -ms-border-radius: 5px;
        //                     -o-border-radius: 5px;
        //                 }
        //             }
        //         }
        //     }
        // }
        .red {
            color: red;
        }
        .yellow {
            color: rgb(255, 123, 0);
        }
        .green {
            color: green;
        }
    }
    .k-list-container .k-button:hover,
    .k-list-container .k-button {
        background-color: transparent;
    }
    .popupClass {
        .category-container {
            width: 100%;

            display: grid;
            grid-template-columns: auto 30px;
            align-items: center;
            padding-left: 4px;
        }
    }
}
