<div class="section condition-block-1 condition-apply" *ngIf="mode == 2 && curPromotion.Code != 0 && !isHiddenScope">
  <div class="d-flex align-items-center" (click)="toggleSection('isToggleBlockScope')">
    <div class="pr-2">
      <span class="k-icon k-i-arrow-chevron-down" *ngIf="isToggleBlockScope"></span>
      <span class="k-icon k-i-arrow-chevron-up" *ngIf="!isToggleBlockScope"></span>
    </div>
    <div class="title no-select cursor-pointer">PHẠM VI ÁP DỤNG <span class="symbol pl-1" title="Trường bắt buộc nhập">(*)</span></div>
  </div>

  <div class="section-grid">
    <div class="grid-item item1 classCustomItem1">
      <div class="label d-flex align-items-center">
        <div class="pr-1">Đơn vị áp dụng</div>
        <!-- <span class="symbol" title="Trường bắt buộc nhập">(*)</span> -->
      </div>

      <div *ngIf="!isToggleBlockScope">
        <div *ngFor="let d of listApplyScopeDeparment; let i = index">
          <div class="input_label" [ngClass]="{'subrow': d.WH != 7 && d.WH != -1}">
            <input type="checkbox" class="k-checkbox" id="cb_deparment_{{i}}" [(ngModel)]="d.IsSelected"
              (click)="clickCheckbox($event, 'WHName', d)" [disabled]="disabled || isLockAll || curPromotion.Code == 0 
              || curPromotion.Code != 0 && d.WH != -1 && curPromotion.IsAllApplied" />
            <label for="cb_deparment_{{i}}">{{ d.WHName }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item item2 classCustomItem2">
      <div class="label d-flex align-items-center">
        <div class="pr-1">Kênh thương mại điện tử</div>
        <!-- <span class="symbol" title="Trường bắt buộc nhập">(*)</span> -->
      </div>

      <div *ngIf="!isToggleBlockScope">
        <div *ngFor="let d of listApplyScopeChannel; let i = index">
          <div class="input_label" [ngClass]="{'subrow': d.WH != 7 && d.WH != -2}">
            <input type="checkbox" class="k-checkbox" id="cb_channel_{{i}}" [(ngModel)]="d.IsSelected"
              (click)="clickCheckbox($event, 'WHName', d)" [disabled]="disabled || isLockAll || curPromotion.Code == 0
              || curPromotion.Code != 0 && d.WH != -2 && curPromotion.IsAllChannelApplied" />
            <label for="cb_channel_{{i}}">{{ d.ChannelName }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item item3 classCustomItem3">
      <div class="label d-flex align-items-center">
        <div class="pr-1">Website chủ quản</div>
        <!-- <span class="symbol" title="Trường bắt buộc nhập">(*)</span> -->
      </div>

      <div *ngIf="!isToggleBlockScope">
        <div *ngFor="let d of listApplyScopeWeb; let i = index">
          <div class="input_label" [ngClass]="{'subrow': d.WH != 7 && d.WH != -1}">
            <input type="checkbox" class="k-checkbox" id="cb_adminweb_{{i}}" [(ngModel)]="d.IsSelected"
              (click)="clickCheckbox($event, 'WHName', d)"
              [disabled]="disabled || isLockAll || curPromotion.Code == 0" />
            <label for="cb_adminweb_{{i}}">{{ d.AdminName }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ĐIỂU KIỆN ÁP DỤNG  -->
<div class="section condition-block-2 condition-apply" *ngIf="mode == 2 && curPromotion.Code != 0 && !isHiddenCondition">
  <div class="d-flex align-items-center" (click)="toggleSection('isToggleBlockCondition')">
    <div class="pr-2">
      <span class="k-icon k-i-arrow-chevron-down" *ngIf="isToggleBlockCondition"></span>
      <span class="k-icon k-i-arrow-chevron-up" *ngIf="!isToggleBlockCondition"></span>
    </div>
    <div class="title no-select cursor-pointer">ĐIỂU KIỆN ÁP DỤNG</div>
  </div>

  <div class="section-grid grid-item d-flex">
    <div class="item2">
      <div *ngIf="!isToggleBlockScope && (curPromotion.Category == 16 || curPromotion.CategoryName == 'Quà tặng theo nhóm sản phẩm')">
        <kendo-label class="alignItemCenter DetermineGift_label" text="Cơ sở xác định quà tặng"></kendo-label>
        <div class="d-flex DetermineGift_radio">
          <div>
            <input type="radio" name="DetermineGift" id="f_rdo_1_DetermineGift" [value]="0"
              [(ngModel)]="curPromotion.DetermineGift" (ngModelChange)="onDetermineGiftChange()"
              [disabled]="disabled || isLockAll || curPromotion.Code == 0"  kendoRadioButton />
            <label for="f_rdo_1_DetermineGift" class="cursor-pointer pl-1">
              Số lượng sản phẩm mua
            </label>
          </div>
          <div>
            <input type="radio" name="DetermineGift" id="f_rdo_2_DetermineGift" [value]="1"
              [(ngModel)]="curPromotion.DetermineGift" (ngModelChange)="onDetermineGiftChange()"
              [disabled]="disabled || isLockAll || curPromotion.Code == 0" kendoRadioButton />
            <label for="f_rdo_2_DetermineGift" class="cursor-pointer pl-1">
              Giá trị nhóm sản phẩm
            </label>
          </div>
        </div>
      </div>
  
      <div class="classCustomItem2" [ngClass]="{'mt-5': curPromotion.Category == 16 || curPromotion.CategoryName == 'Quà tặng theo nhóm sản phẩm'}"
        *ngIf="curPromotion.PromotionType == 2 || curPromotion.PromotionType == 3">
        <div class="row">
          <div class="label d-flex align-items-center col-7 ">
            <div class="pr-1 text-nowrap">Nhóm thẻ áp dụng</div>
            <!-- <span class="symbol" *ngIf="curPromotion.PromotionType == 2 || curPromotion.PromotionType == 3"
              title="Trường bắt buộc nhập">(*)</span> -->
          </div>
  
          <div class="label d-flex align-items-center col-5 justify-content-center">
            <div class="pr-1 text-nowrap">Điểm tối thiểu</div>
            <!-- <span class="symbol" *ngIf="curPromotion.PromotionType == 2 || curPromotion.PromotionType == 3"
              title="Trường bắt buộc nhập">(*)</span> -->
          </div>
        </div>
  
        <div *ngIf="!isToggleBlockScope">
          <div class="row" *ngFor="let g of listGroupOfCard; let i = index">
            <div class="col-7">
              <input type="checkbox" class="k-checkbox flex-shrink-0" id="cb_groupcard_{{i}}"
                [disabled]="disabled || isGroupOfCardDisabled || isLockAll || curPromotion.Code == 0"
                [(ngModel)]="g.IsSelected" (click)="clickCheckbox($event, 'GroupName', g)" />
              <label for="cb_groupcard_{{i}}" class="text-nowrap">{{ g.GroupName }}</label>
            </div>
            <div class="col-5">
              <kendo-numerictextbox format="#,0" [min]="0" [(ngModel)]="g.Point"
                [disabled]="disabled || isGroupOfCardDisabled || isLockAll || curPromotion.Code == 0 || !g.IsSelected"
                (keydown.Enter)="$event.target.blur()" (blur)="onTextboxLoseFocus('Point', g)"
                (focus)="focusGroupOfCard(g)">
              </kendo-numerictextbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-item item3 classCustomItem3"
      *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4">
      <div class="row">
        <div class="col-4">
          <div class="label text-nowrap">Giờ vàng</div>
          <div class="d-flex align-items-center" *ngIf="!isToggleBlockCondition">
            <div class="sublabel pr-1 text-nowrap">Ngày trong tuần</div>
            <!-- <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span> -->
          </div>
        </div>
        <div class="col-4">
          <div class="label invisible text-nowrap">Từ (giờ)</div>
          <div class="d-flex align-items-center" *ngIf="!isToggleBlockCondition">
            <div class="sublabel pr-1">Từ (giờ)</div>
            <!-- <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span> -->
          </div>
        </div>
        <div class="col-4">
          <div class="label invisible text-nowrap">Đến (giờ)</div>
          <div class="d-flex align-items-center" *ngIf="!isToggleBlockCondition">
            <div class="sublabel pr-1">Đến (giờ)</div>
            <!-- <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span> -->
          </div>
        </div>
      </div>

      <div *ngIf="!isToggleBlockCondition">
        <div class="row" *ngFor="let d of listDayOfWeek; let i = index">
          <div class="col-4">
            <input type="checkbox" class="k-checkbox" id="cb_dayofweek_{{i}}"
              [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0"
              [(ngModel)]="d.IsSelected" (click)="clickCheckbox($event, 'DayOfWeek', d)" />
            <label for="cb_dayofweek_{{i}}">{{ d.DayOfWeek }}</label>
          </div>
          <div class="col-4">
            <kendo-timepicker #timemin format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}"
              placeholder="HH:mm"
              [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0 || !d.IsSelected"
              [(ngModel)]="d.From" (keydown.Enter)="$event.target.blur()" (focus)="focusTimePicker(d)"
              (blur)="onTimePickerChange('From', d)" [max]="d?.To">
            </kendo-timepicker>
          </div>
          <div class="col-4">
            <kendo-timepicker #timemax format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}"
              placeholder="HH:mm"
              [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0 || !d.IsSelected"
              [(ngModel)]="d.To" (keydown.Enter)="$event.target.blur()" (focus)="focusTimePicker(d)"
              (blur)="onTimePickerChange('To', d)" [min]="d?.From">
            </kendo-timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section condition-apply" *ngIf="mode == 1  && curPromotion.Code != 0 && !isHiddenCondition">
  <div class="title">ĐIỂU KIỆN ÁP DỤNG</div>

  <div class="section-grid">
    <div class="grid-item item1">
      <div class="label d-flex align-items-center">
        <div class="pr-1">Đơn vị áp dụng</div>
        <span class="symbol" title="Trường bắt buộc nhập">(*)</span>
      </div>

      <div *ngFor="let d of listWareHouse; let i = index">
        <div class="input_label" [ngClass]="{'subrow': d.WH != 7 && d.WH != -1}">
          <input type="checkbox" class="k-checkbox" id="cb_donviapdung_{{i}}" [(ngModel)]="d.IsSelected"
            (click)="clickCheckbox($event, 'WHName', d)" [disabled]="disabled || isLockAll || curPromotion.Code == 0" />
          <label for="cb_donviapdung_{{i}}">{{ d.WHName }}</label>
        </div>
      </div>
    </div>

    <div class="grid-item item2">
      <div class="row">
        <div class="label d-flex align-items-center col-8 ">
          <div class="pr-1">Nhóm thẻ áp dụng</div>
          <span class="symbol" *ngIf="curPromotion.PromotionType == 2 || curPromotion.PromotionType == 3"
            title="Trường bắt buộc nhập">(*)</span>
        </div>

        <div class="label d-flex align-items-center col-4 ">
          <div class="pr-1">Điểm tối thiểu</div>
          <span class="symbol" *ngIf="curPromotion.PromotionType == 2 || curPromotion.PromotionType == 3"
            title="Trường bắt buộc nhập">(*)</span>
        </div>
      </div>

      <div class="row" *ngFor="let g of listGroupOfCard; let i = index">
        <div class="col-8">
          <input type="checkbox" class="k-checkbox" id="cb_groupcard_{{i}}"
            [disabled]="disabled || isGroupOfCardDisabled || isLockAll || curPromotion.Code == 0"
            [(ngModel)]="g.IsSelected" (click)="clickCheckbox($event, 'GroupName', g)" />
          <label for="cb_groupcard_{{i}}">{{ g.GroupName }}</label>
        </div>
        <div class="col-4">
          <kendo-numerictextbox format="#,0" [min]="0" [(ngModel)]="g.Point"
            [disabled]="disabled || isGroupOfCardDisabled || isLockAll || curPromotion.Code == 0 || !g.IsSelected"
            (keydown.Enter)="$event.target.blur()" (blur)="onTextboxLoseFocus('Point', g)"
            (focus)="focusGroupOfCard(g)">
          </kendo-numerictextbox>
        </div>
      </div>
    </div>

    <div class="grid-item item3">
      <div class="row">
        <div class="col-4">
          <div class="label">Giờ vàng</div>
          <div class="d-flex align-items-center">
            <div class="sublabel pr-1">Ngày trong tuần</div>
            <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span>
          </div>
        </div>
        <div class="col-4">
          <div class="label invisible">Từ (giờ)</div>
          <div class="d-flex align-items-center">
            <div class="sublabel pr-1">Từ (giờ)</div>
            <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span>
          </div>
        </div>
        <div class="col-4">
          <div class="label invisible">Đến (giờ)</div>
          <div class="d-flex align-items-center">
            <div class="sublabel pr-1">Đến (giờ)</div>
            <span class="symbol" *ngIf="curPromotion.PromotionType == 3 || curPromotion.PromotionType == 4"
              title="Trường bắt buộc nhập">(*)</span>
          </div>
        </div>
      </div>

      <div class="row" *ngFor="let d of listDayOfWeek; let i = index">
        <div class="col-4">
          <input type="checkbox" class="k-checkbox" id="cb_dayofweek_{{i}}"
            [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0"
            [(ngModel)]="d.IsSelected" (click)="clickCheckbox($event, 'DayOfWeek', d)" />
          <label for="cb_dayofweek_{{i}}">{{ d.DayOfWeek }}</label>
        </div>
        <div class="col-4">
          <kendo-timepicker #timemin format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}" placeholder="HH:mm"
            [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0 || !d.IsSelected"
            [(ngModel)]="d.From" (keydown.Enter)="$event.target.blur()" (focus)="focusTimePicker(d)"
            (blur)="onTimePickerChange('From', d)" [max]="d?.To">
          </kendo-timepicker>
        </div>
        <div class="col-4">
          <kendo-timepicker #timemax format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}" placeholder="HH:mm"
            [disabled]="disabled || isGoldenHourDisabled || isLockAll || curPromotion.Code == 0 || !d.IsSelected"
            [(ngModel)]="d.To" (keydown.Enter)="$event.target.blur()" (focus)="focusTimePicker(d)"
            (blur)="onTimePickerChange('To', d)" [min]="d?.From">
          </kendo-timepicker>
        </div>
      </div>
    </div>
  </div>
</div>