@import "../../../../../assets/scss/variable.scss";

::ng-deep {
    .app-mar012-policy-list
    {
        height: calc(100vh - #{$footer-height});
        padding: 0 15px 0 20px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;

        .header.header-2 
        {
            align-items: stretch;
            column-gap: 2%;

            .searchBtn
            {
                margin-top: auto;
            }
            .k-multiselect
            {
                height: fit-content;
                
                border: 1px solid rgba(0, 0, 0, 0.08);
                border-radius: 2px;
                background-color: white;

                cursor: pointer;
                
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -o-border-radius: 2px;
                
                .k-multiselect-wrap
                {
                    width: 100%;
                    height: 100%;
                    padding: 2px 5px;

                    border: none;

                    li.k-button
                    {
                        padding: 2px 5px;
                    }
                }
                .k-searchbar
                {
                    pointer-events: none;
                }
                .k-clear-value
                {
                    height: 100%;
                    margin-right: 25px;
                }
                
            } 
        }
        
        .myCustomGrid.k-grid tr td {
            white-space: normal;
        }
        .tieudechinhsach {
            width: 300px;
            max-width: 600px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .k-window-content
        {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            
            .category-name
            {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
            }
            .container
            {
                padding: 0;
                
                display: flex;
                column-gap: 10px;
                
                .img-group
                {
                    width: auto;

                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
        
                    .btn-group
                    {
                        display: flex;
                        column-gap: 5px;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }

                .info-container
                {
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .action
                    {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;

                        .updateBtn, .closeBtn
                        {
                            background-color: #008000;
                            color: white;
                            padding: 10px 20px;
                            border: none;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;
                        }
                        .closeBtn
                        {
                            background-color: transparent;
                            color: #008000;
                            border: 2px solid #008000;
                        }
                    }
                }
            }
        }
        .red
        {
            color: red
        }
        .yellow
        {
            color: rgb(255, 123, 0)
        }
        .green
        {
            color: green
        }
        .k-list-container .k-button:hover, .k-list-container .k-button
        {
            background-color: transparent;
        }
    }
    .popupClass
    {
        .category-container
        {
            width: 100%;
            
            display: grid;
            grid-template-columns: auto 30px;
            align-items: center;
            padding-left: 4px;
            
            input[type='checkbox']
            {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}