::ng-deep {
    app-purchase-detail-c006 {
        .sales-restriction-container {
            margin: 18px;

            .sales-restriction-title {
                left: 0;
                margin-bottom: 15px;

                h1 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    color: #26282E;
                }
            }

            .sales-restriction-check-container {
                background-color: white;
                padding: 20px;

                .non-business-container {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .non-sale-onl {
                        input[type="checkbox"] {
                            accent-color: #008000;
                        }

                        label {
                            font-size: 13px;
                            color: #26282E;
                            font-weight: bold;
                        }
                    }

                    .non-sale-store {
                        input[type="checkbox"] {
                            accent-color: #008000;
                        }

                        label {
                            font-size: 13px;
                            color: #26282E;
                            font-weight: bold;
                        }
                    }
                }

                .store-checkboxes {
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 80px;
                    padding: 10px 0;
                    align-items: flex-start;
                    overflow-x: auto;
                    white-space: nowrap;
                    width: auto;

                    .store-all {
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        margin: 0 80px;


                        label {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-size: 13px;
                            font-weight: 600;
                            color: #26282E;
                            min-width: auto;

                            input[type="checkbox"] {
                                accent-color: #008000;
                            }
                        }
                    }

                    .store-items {
                        display: grid;
                        // flex-wrap: wrap;
                        // width: 1140px;
                        min-width: 1000px;
                        gap: 20px 120px;
                        margin-left: 20px;
                        grid-template-columns: repeat(3, 220px);
                        grid-template-rows: repeat(2, auto);

                        label {
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #26282E;
                            width: 220px;
                            border-color: #999999;

                            input[type="checkbox"] {
                                accent-color: #008000;
                            }
                        }
                    }
                }
            }
        }
    }
}