<div class="sales-restriction-container">
    <div class="sales-restriction-title">
        <h1>thông tin hạn chế bán hàng</h1>
    </div>

    <div class="sales-restriction-check-container">
        <div class="non-business-container">
            <div class="non-sale-onl">
                <label>
                    <input type="checkbox" [(ngModel)]="dtoSale.businessOnline" />
                    Không kinh doanh online
                </label>
            </div>
            <div class="non-sale-store">
                <label>
                    <input type="checkbox" [(ngModel)]="noBusinessStore" />
                    Không kinh doanh cửa hàng
                </label>
            </div>
        </div>

        <div class="store-checkboxes">
            <div class="store-all">
                <label>
                    <input type="checkbox" [(ngModel)]="dtoSale.businessStore.all" (change)="toggleAllStores()" />
                    <span>Tất cả</span>
                </label>
            </div>

            <div class="store-items">
                <label *ngFor="let key of storeKeys">
                    <input type="checkbox" [(ngModel)]="businessStoreMap[key]" (change)="onStoreItemChange()"/>
                    <span>{{ storeLabels[key] || key }}</span>
                </label>
            </div>
        </div>
    </div>
</div>