    <kendo-numerictextbox
            #numericTextbox
            class="customized-input"
            [style.width.px]="width"
            [(ngModel)]="input"
            [title]="title"
            (ngModelChange)="onInputValueChange($event)"
            [disabled]="disabled"
            [readonly]="readonly"
            [spinners]="spinners"
            [format]="format" 
            [placeholder]="placeHolder"
            [decimals]="decimals"
            [step]="step"
            [min]="min" 
            [max]="max" 
            [autoCorrect]="autoCorrect"
            (blur)="onBlur($event)"
            (keydown.Enter)="$event.target.blur();onKeyDownEnter($event)"
            (focus)="onFocus()"
            (dblclick)="onDblClick()"
            >
    </kendo-numerictextbox>