@import "../../../../../assets/scss/variable.scss";

::ng-deep {
  .app-mar020-seo {
    padding: 0 15px 0 20px;

    td {
      white-space: normal !important;
      word-break: break-all;
    }
  }
}
