<div class="app-drawer-container" id="mar002-discount-combo-detail">
  <mat-drawer-container [hasBackdrop]="true">
    <!-- center content -->
    <mat-drawer-content>
      <div class="mar002-discount-combo-detail">
        <div class="header header-1">
          <div class="nav-btn nav-breadcrumb">
            <div class="breadcrumb-item">
              <!-- (click)="gotoOnlineOrderList()" -->
              KHUYẾN MÃI
            </div>
            <div class="breadcrumb-chevron">
              <span class="k-icon k-i-arrow-chevron-right"></span>
            </div>
            <div class="breadcrumb-item">
              COMBO-GIFTSET
            </div>
            <div class="breadcrumb-chevron">
              <span class="k-icon k-i-arrow-chevron-right"></span>
            </div>
            <div class="breadcrumb-item chitiet_chuongtrinh" (click)="viewDetailPromotion()">
              {{ isAdd ? 'TẠO MỚI ' : 'CHI TIẾT ' }}CHƯƠNG TRÌNH
            </div>
            <!-- isedit ? -->
            <div class="breadcrumb-chevron" [hidden]="!isEditCombo">
              <span class="k-icon k-i-arrow-chevron-right"></span>
            </div>
            <div class="breadcrumb-item" [hidden]="!isEditCombo">
              {{ curCombo.Code == 0 ? 'TẠO MỚI' : 'CHI TIẾT' }}
              &nbsp;COMBO-GIFTSET
              <!-- {{ curPromotion.PromotionType == 2 ? 'COMBO' : curPromotion.PromotionType == 3 ? 'GIFTSET' : '' }} -->
            </div>
          </div>

          <div class="nav-file nav-btn" [hidden]="isEditCombo">
            <div class="file-btn-group">
              <button kendoButton id="onPrintBtn" class="k-button" [icon]="'print'" [disabled]="isLockAll || isAdd"
                title="In Chi tiết Chương trình" (click)="print()"></button>
            </div>
          </div>

          <div class="nav-btn nav-crud">
            <button kendoButton class="k-button btn-hachi hachi-primary"
              *ngIf="!isEditCombo && !isAdd && curPromotion.StatusID == 0" [icon]="'redo'"
              (click)="updatePromotionStatus(1)">
              GỬI DUYỆT
            </button>

            <button kendoButton class="k-button btn-hachi hachi-primary"
              *ngIf="!isEditCombo && !isAdd && (curPromotion.StatusID == 1 || curPromotion.StatusID == 3)"
              [icon]="'check-outline'" (click)="updatePromotionStatus(2)">
              PHÊ DUYỆT
            </button>

            <button kendoButton class="k-button btn-hachi hachi-warning hachi-secondary"
              *ngIf="!isEditCombo && !isAdd && (curPromotion.StatusID == 1 || curPromotion.StatusID == 3)"
              [icon]="'undo'" (click)="updatePromotionStatus(0)">
              TRẢ VỀ
            </button>

            <button kendoButton class="k-button btn-hachi hachi-warning"
              *ngIf="!isEditCombo && !isAdd && curPromotion.StatusID == 2" [icon]="'minus-outline'"
              (click)="updatePromotionStatus(3)">
              NGƯNG HIỂN THỊ
            </button>

            <button kendoButton class="k-button btn-hachi hachi-warning" [icon]="'trash'"
              *ngIf="isEditCombo ? curCombo.Code != 0 && curPromotion.StatusID == 0 && !isAdd : curPromotion.Code > 0 && curPromotion.StatusID == 0 && !isAdd"
              (click)="onDeletePromotion()">
              XÓA {{ isEditCombo ? 'COMBO' : 'CHƯƠNG TRÌNH' }}
            </button>

            <!-- <kendo-dropdownlist [data]="listTaoMoi" [value]="defaultTaoMoi" [defaultItem]="defaultTaoMoi"
              [textField]="'text'" [valueField]="'value'" (valueChange)="onHeaderDropdownlistClick($event)"
              class="onAddBtn" [hidden]="isEditCombo">
              <ng-template kendoDropDownListValueTemplate let-dataItem>
                <span class="k-icon k-i-plus"></span>
                <span class="value">{{ dataItem.text }}</span>
              </ng-template>
              <ng-template kendoDropDownListItemTemplate let-dataItem>
                <span class="value" *ngIf="dataItem.value != -1" style="font-size: 11px !important;">
                  {{ dataItem.text }}</span>
              </ng-template>
            </kendo-dropdownlist> -->

            <button kendoButton class="k-button btn-hachi hachi-primary" (click)="createNewPromotion()"
              [hidden]="isEditCombo">
              TẠO CHƯƠNG TRÌNH</button>

            <button kendoButton class="k-button btn-hachi hachi-primary" (click)="createNewPromotionCombo()"
              [hidden]="!isEditCombo">
              TẠO COMBO</button>
          </div>
        </div>
        <!-- START CHƯƠNG TRÌNH -->
        <div class="body" [hidden]="isEditCombo">
          <div class="sections">
            <div class="section" id="thongtinchuongtrinhcombogiftsetTbl">
              <div class="title">THÔNG TIN CHƯƠNG TRÌNH COMBO-GIFTSET
                <span class="type green">{{curPromotion.CategoryName}}</span>

                <span class="languages">
                  <span class="borderRight vietnamese" [ngClass]="{'active': curLanguage == 1 }"
                    (click)="changeLanguage(1)">Tiếng Việt</span>
                  <span class="borderRight japanese" [ngClass]="{'active': curLanguage == 2 }"
                    (click)="changeLanguage(2)">日本語</span>
                  <span class="english" [ngClass]="{'active': curLanguage == 3 }"
                    (click)="changeLanguage(3)">English</span>
                </span>
              </div>

              <div class="section-grid">
                <div class="grid-item item1">
                  <div class="label">Mã khuyến mãi</div>
                  <kendo-textbox type="text" class="k-textbox" [(ngModel)]="curPromotion.PromotionNo" [disabled]="true">
                  </kendo-textbox>
                </div>

                <div class="grid-item item2">
                  <div class="label">Phân loại chương trình</div>
                  <kendo-dropdownlist [data]="listPromotionType" [itemDisabled]="isItemDisabled"
                    (valueChange)="onDropdownlistClick($event, 'PromotionType')" [disabled]="isLockAll"
                    [value]="curPromotionType != null ? curPromotionType : defaultPhanNhom"
                    [textField]="'PromotionType'" [valueField]="'Code'" [defaultItem]="defaultPhanNhom"
                    [popupSettings]="{appendTo:'component'}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                      <span class="value" [ngStyle]="{'color': dataItem.Code == -1 ? '#73818f' : 'initial'}">
                        {{ dataItem.PromotionType }}</span>
                    </ng-template>
                  </kendo-dropdownlist>
                </div>

                <div class="grid-item item3">
                  <div class="label">Thời gian hiệu lực</div>

                  <div class="d-flex">
                    <kendo-datepicker [format]="'dd/MM/yyyy'" placeholder="dd/mm/yyyy" [(ngModel)]="StartDate"
                      [formatPlaceholder]="{ year: 'yyyy', month: 'MM', day: 'dd' }" [disabled]="isLockAll"
                      (keydown.Enter)="$event.target.blur()" (blur)="onDatepickerChange('StartDate', $event)"
                      [max]="EndDate">
                    </kendo-datepicker>

                    <kendo-datepicker [format]="'dd/MM/yyyy'" placeholder="dd/mm/yyyy" [(ngModel)]="EndDate"
                      [formatPlaceholder]="{ year: 'yyyy', month: 'MM', day: 'dd' }" [disabled]="isLockAll"
                      (keydown.Enter)="$event.target.blur()" (blur)="onDatepickerChange('EndDate', $event)"
                      [min]="StartDate">
                    </kendo-datepicker>
                  </div>
                </div>

                <div class="grid-item item4">
                  <div class="label">Tình trạng</div>
                  <b class="d-flex tinhtrang"
                    [ngClass]="{'yellow': curPromotion.StatusID == 1, 
                  'green': curPromotion.StatusID == 2, 'red': curPromotion.StatusID == 3 || curPromotion.StatusID == 4 }">
                    {{ curPromotion.StatusName }}
                  </b>
                </div>

                <div class="grid-item item5">
                  <div class="label">Tên chương trình</div>
                  <kendo-textbox type="text" class="k-textbox" [disabled]="isLockAll"
                    (keydown.Enter)="$event.target.blur()"
                    [ngModel]="curLanguage == 1 ? curPromotion.VNPromotion : curLanguage == 2 ? curPromotion.JPPromotion : curPromotion.ENPromotion"
                    (ngModelChange)="curLanguage == 1 ? curPromotion.VNPromotion=$event : curLanguage == 2 ? curPromotion.JPPromotion=$event : curPromotion.ENPromotion=$event"
                    (blur)="onTextboxLoseFocus(curLanguage == 1 ? 'VNPromotion' : curLanguage == 2 ? 'JPPromotion' : 'ENPromotion')">
                  </kendo-textbox>
                </div>

                <div class="grid-item item6">
                  <div class="label">Mô tả chương trình</div>
                  <textarea [disabled]="isLockAll"
                    [ngModel]="curLanguage == 1 ? curPromotion.VNSummary : curLanguage == 2 ? curPromotion.JPSummary : curPromotion.ENSummary"
                    (ngModelChange)="curLanguage == 1 ? curPromotion.VNSummary=$event : curLanguage == 2 ? curPromotion.JPSummary=$event : curPromotion.ENSummary=$event"
                    (blur)="onTextboxLoseFocus(curLanguage == 1 ? 'VNSummary' : curLanguage == 2 ? 'JPSummary' : 'ENSummary')"></textarea>
                </div>

                <div class="grid-item item7">
                  <div class="label">Ghi chú</div>
                  <textarea [disabled]="isLockAll"
                    [ngModel]="curLanguage == 1 ? curPromotion.VNDescription : curLanguage == 2 ? curPromotion.JPDescription : curPromotion.ENDescription"
                    (ngModelChange)="curLanguage == 1 ? curPromotion.VNDescription=$event : curLanguage == 2 ? curPromotion.JPDescription=$event : curPromotion.ENDescription=$event"
                    (blur)="onTextboxLoseFocus(curLanguage == 1 ? 'VNDescription' : curLanguage == 2 ? 'JPDescription' : 'ENDescription')"></textarea>
                </div>

                <div class="grid-item item8">
                  <div class="label">Hình ảnh</div>

                  <div class="row">
                    <div class="col-6">
                      <img loading="lazy" [src]="curPromotion.ImageSetting1" alt="" class="w-100">
                      <div class="d-flex">Ảnh nhỏ:
                        <button kendoButton icon="export" [disabled]="isLockAll" (click)="onUploadFile(1)"></button>
                        <button kendoButton icon="trash" [disabled]="isLockAll" (click)="deleteFile(1)"></button>
                      </div>
                    </div>
                    <div class="col-6">
                      <img loading="lazy" [src]="curPromotion.ImageSetting2" alt="" class="w-100">
                      <div class="d-flex">Ảnh lớn:
                        <button kendoButton icon="export" [disabled]="isLockAll" (click)="onUploadFile(2)"></button>
                        <button kendoButton icon="trash" [disabled]="isLockAll" (click)="deleteFile(2)"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="section" id="dieukienapdungTbl">
              <div class="title">ĐIỂU KIỆN ÁP DỤNG</div>

              <div class="section-grid">
                <div class="grid-item item1">
                  <div class="label">Đơn vị áp dụng</div>

                  <div *ngFor="let d of listWareHouse; let i = index">
                    <div class="input_label" [ngClass]="{'subrow': d.WH != 7 && d.WH != -1}">
                      <input type="checkbox" class="k-checkbox" id="cb_donviapdung_{{i}}" [(ngModel)]="d.IsSelected"
                        (click)="clickCheckbox($event, 'WHName', d)" [disabled]="isLockAll || isAdd" />
                      <label for="cb_donviapdung_{{i}}">{{ d.WHName }}</label>
                    </div>
                  </div>
                </div>

                <div class="grid-item item2">
                  <div class="row">
                    <div class="col-8 label">Nhóm thẻ áp dụng</div>
                    <div class="col-4 label">Điểm tối thiểu</div>
                  </div>

                  <div class="row" *ngFor="let g of listGroupOfCard; let i = index">
                    <div class="col-8">
                      <input type="checkbox" class="k-checkbox" id="cb_groupcard_{{i}}"
                        [disabled]="isNhomtheDisable || isLockAll || isAdd" [(ngModel)]="g.IsSelected"
                        (click)="clickCheckbox($event, 'GroupName', g)" />
                      <label for="cb_groupcard_{{i}}">{{ g.GroupName }}</label>
                    </div>
                    <div class="col-4">
                      <kendo-numerictextbox format="#,0" [min]="0" [(ngModel)]="g.Point"
                        [disabled]="isNhomtheDisable || isLockAll || isAdd" (keydown.Enter)="$event.target.blur()"
                        (blur)="onTextboxLoseFocus('Point', g)">
                      </kendo-numerictextbox>
                    </div>
                  </div>
                </div>

                <div class="grid-item item3">
                  <div class="row">
                    <div class="col-4">
                      <div class="label">Giờ vàng</div>
                      <div class="sublabel">Ngày trong tuần</div>
                    </div>
                    <div class="col-4">
                      <div class="label invisible">Từ (giờ)</div>
                      <div class="sublabel">Từ (giờ)</div>
                    </div>
                    <div class="col-4">
                      <div class="label invisible">Đến (giờ)</div>
                      <div class="sublabel">Đến (giờ)</div>
                    </div>
                  </div>

                  <div class="row" *ngFor="let d of listDayOfWeek; let i = index">
                    <div class="col-4">
                      <input type="checkbox" class="k-checkbox" id="cb_dayofweek_{{i}}"
                        [disabled]="isGiovangDisable || isLockAll || isAdd" [(ngModel)]="d.IsSelected"
                        (click)="clickCheckbox($event, 'DayOfWeek', d)" />
                      <label for="cb_dayofweek_{{i}}">{{ d.DayOfWeek }}</label>
                    </div>
                    <div class="col-4">
                      <kendo-timepicker format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}"
                        placeholder="HH:mm" [disabled]="isGiovangDisable || isLockAll || isAdd" [(ngModel)]="d.From"
                        (keydown.Enter)="$event.target.blur()" (blur)="onDatepickerChange('From', d)">
                      </kendo-timepicker>
                    </div>
                    <div class="col-4">
                      <kendo-timepicker format="HH:mm" [formatPlaceholder]="{hour: 'HH', minute: 'mm'}"
                        placeholder="HH:mm" [disabled]="isGiovangDisable || isLockAll || isAdd" [(ngModel)]="d.To"
                        (keydown.Enter)="$event.target.blur()" (blur)="onDatepickerChange('To', d)">
                      </kendo-timepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END CHƯƠNG TRÌNH -->
        <!-- START DANH SÁCH COMBO  -->
        <div class="header header-2" [hidden]="isEditCombo">
          <div class="title">DANH SÁCH COMBO-GIFTSET</div>

          <div class="nav-filter nav-btn">
            <form style="display: flex; flex-grow: 1;" [formGroup]="searchForm">
              <div class="filter-btn-group search-btn-group">
                <div class="search-btn">
                  <span class="k-icon k-i-search"></span>
                  <kendo-textbox formControlName="SearchQuery" type="text" class="k-textbox"
                    placeholder="Tìm theo mã, tên combo">
                  </kendo-textbox>
                </div>
              </div>

              <button kendoButton class="k-button searchBtn" [icon]="'search'" [disabled]="!isFilterActive || isAdd"
                (click)="search()">TÌM</button>
            </form>
          </div>

          <div class="nav-file nav-btn" *ngIf="!isLockAll">
            <div class="file-btn-group" *ngIf="!isAdd">
              <button kendoButton id="onUploadBtn" class="k-button" [icon]="'export'" (click)="onImportExcel()"
                [disabled]="!isFilterActive || isAdd"></button>
            </div>

            <div class="file-btn-group">
              <button kendoButton id="onDownloadBtn" class="k-button" [icon]="'import'"
                (click)="downloadExcel('ListComboGiftsetDetailsTemplate.xlsx')"
                [disabled]="!isFilterActive || isAdd">Template</button>
            </div>
          </div>

          <div class="nav-btn nav-crud" *ngIf="!isLockAll">
            <button kendoButton class="k-button onAddBtn" [icon]="'plus'" (click)="onAddCombo()"
              [disabled]="!isFilterActive || isAdd">
              THÊM MỚI</button>
          </div>
        </div>

        <div class="body" [hidden]="isEditCombo">
          <div class="sections">
            <div class="section grid-wrapper" id="danhsachcomboTbl">
              <app-p-kendo-grid class="grid" [data]="gridViewCombo | async" [scrollable]="'none'" [loading]="loading"
                [pageable]="true" [pageSizes]="pageSizesCombo" [pageSize]="pageSizeCombo" [skip]="gridStateCombo.skip"
                [take]="gridStateCombo.take" [onPageChangeCallback]="onPageChangeCallback" [sortable]="true"
                [sort]="gridStateCombo.sort" [onSortChangeCallback]="onSortChangeCallback"
                [allowedMoreActionDropdown]="allowActionDropdown"
                [getActionDropdownCallback]="getActionDropdownCallback"
                [onActionDropdownClickCallback]="onActionDropdownClickCallback" [selectable]="selectable"
                [onSelectCallback]="onSelectCallback" [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback"
                [getSelectionPopupCallback]="getSelectionPopupCallback" [ngClass]="{'scroll5': curPromotion.Category == 5, 
                'scroll6': curPromotion.Category == 6, 'scrollable': curPromotion.Category != 7}"
                [rowClass]="rowCallback">

                <kendo-grid-column field="VNName" title="Tên combo" class="col_img_tensanpham_masanpham"
                  headerClass="col_img_tensanpham_masanpham">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="img_tensanpham_masanpham main_combo">
                      <div class="img">
                        <img loading="lazy" [src]="dataItem.ImageSetting" alt="">
                      </div>
                      <div class="tensanpham_masanpham d-flex">
                        <div class="tensanpham">{{ dataItem.VNName }}</div>
                        <div class="masanpham">
                          <b>{{ dataItem.Barcode }}
                            <span *ngIf="dataItem.ListProductInCombo && dataItem.ListProductInCombo.length > 0">
                              |&nbsp;
                              <a (click)="toggleComboDetail(dataItem)">{{ dataItem['ShowCombo'] == true ?
                                'Thu gọn' : 'Xem chi tiết' }}</a>
                            </span>
                          </b>
                        </div>
                      </div>
                    </div>

                    <div class="chitiet_combo" *ngFor="let cItem of dataItem.ListProductInCombo; let i = index">
                      <div class="d-flex">
                        <div class="combo_item_index">{{ i + 1 }}.</div>
                        <div class="img">
                          <img loading="lazy" src="{{cItem.ImageSetting}}" alt="">
                        </div>
                        <div class="tensanpham_masanpham d-flex">
                          <div class="tensanpham">{{ cItem.VNName }}</div>
                          <div class="masanpham"><b>{{ cItem.Barcode }}</b></div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Quantity" title="Số lượng" class="hanmucmua">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="soluong main_combo">
                      <div class="sl">SKU:
                        <span>{{ dataItem.ListProductInCombo != null && dataItem.ListProductInCombo.length > 0 ?
                          (dataItem.ListProductInCombo.length | number: '1.0-0') : 0 }}</span>
                      </div>
                      <div class="sl">Sản phẩm:
                        <span>{{ dataItem.ListProductInCombo != null && dataItem.ListProductInCombo.length > 0 ?
                          (getSumQuan(dataItem.ListProductInCombo) | number: '1.0-0') : 0 }}</span>
                      </div>
                    </div>

                    <div class="chitiet_combo" *ngFor="let cItem of dataItem.ListProductInCombo; let i = index">
                      <div class="soluong">
                        <div class="sl">Trong combo:
                          <span>{{ cItem.Quantity | number: '1.0-0' }}</span>
                        </div>
                        <div class="sl" style="visibility: hidden;">Trong combo }}
                          <span>{{ cItem.Quantity | number: '1.0-0' }}</span>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Price" title="Giá combo" class="giakhuyenmai">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="unitprice_baseprice main_combo">
                      <div class="unitprice">{{ dataItem.PriceDiscount | number: '1.0-0' }}</div>
                      <div class="baseprice" [ngClass]="{'d-none': curPromotion.Category == 7}">{{ dataItem.Price |
                        number: '1.0-0' }}
                      </div>
                    </div>

                    <div class="chitiet_combo" *ngFor="let cItem of dataItem.ListProductInCombo; let i = index">
                      <div class="unitprice_baseprice">
                        <div class="unitprice">{{ cItem.PriceDiscount | number: '1.0-0' }}</div>
                        <div class="baseprice" [ngClass]="{'d-none': curPromotion.Category == 7}">{{ cItem.Price |
                          number: '1.0-0' }}
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="DiscountAmount" title="Chiết khẩu" class="chietkhau">
                  <ng-template kendoGridHeaderTemplate let-dataItem>
                    <div class="chietkhau">Chiết khẩu</div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="amount_percent main_combo">
                      <div class="amount">{{ dataItem.DiscountAmount | number: '1.0-0' }}</div>
                      <div class="percent">{{ dataItem.DiscountPercent | number: '1.0-0' }}&nbsp;%</div>
                    </div>

                    <div class="chitiet_combo" *ngFor="let cItem of dataItem.ListProductInCombo; let i = index">
                      <div class="amount_percent">
                        <div class="amount">{{ cItem.DiscountAmount | number: '1.0-0' }}</div>
                        <div class="percent">{{ cItem.DiscountPercent | number: '1.0-0' }}&nbsp;%</div>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="StatusID" title="Tình trạng" class="tinhtrang">
                  <ng-template kendoGridHeaderTemplate let-dataItem>
                    <div class="tinhtrang">Tình trạng</div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="tentinhtrang main_combo" [ngClass]="{'yellow': dataItem.StatusID == 1, 'green': dataItem.StatusID == 2, 
                      'red': dataItem.StatusID == 3 || dataItem.StatusID == 4 }">{{ dataItem.StatusName }}</div>

                    <div class="chitiet_combo" *ngFor="let cItem of dataItem.ListProductInCombo; let i = index">
                      <div class="tentinhtrang" [ngClass]="{'yellow': dataItem.StatusID == 1, 'green': dataItem.StatusID == 2, 
                      'red': dataItem.StatusID == 3 || dataItem.StatusID == 4 }" style="visibility: hidden;">{{
                        cItem.StatusName }}</div>
                    </div>
                  </ng-template>
                </kendo-grid-column>
              </app-p-kendo-grid>
            </div>
          </div>
        </div>
        <!-- END DANH SÁCH COMBO  -->
        <!-- START COMBO  -->
        <div class="body" [hidden]="!isEditCombo">
          <div class="sections">
            <div class="section" id="thongtincomboTbl">
              <div class="title">THÔNG TIN COMBO
                <span class="type green">{{curPromotion.CategoryName}}</span>

                <span class="languages">
                  <span class="borderRight vietnamese" [ngClass]="{'active': curLanguage == 1 }"
                    (click)="changeLanguage(1)">Tiếng Việt</span>
                  <span class="borderRight japanese" [ngClass]="{'active': curLanguage == 2 }"
                    (click)="changeLanguage(2)">日本語</span>
                  <span class="english" [ngClass]="{'active': curLanguage == 3 }"
                    (click)="changeLanguage(3)">English</span>
                </span>
              </div>

              <div class="section-grid">
                <div class="grid-item item1">
                  <div class="label">Mã combo
                    <b class="d-flex" [ngClass]="{'gray': curCombo.StatusID == 0, 
                  'green': curCombo.StatusID == 1, 'red': curCombo.StatusID == 2}">
                      {{ curCombo.StatusName }}
                    </b>
                  </div>
                  <!-- <kendo-textbox type="text" class="k-textbox" [(ngModel)]="curCombo.Barcode"
                    (blur)="onTextboxLoseFocus('Barcode')" (keydown.Enter)="$event.target.blur()"
                    [disabled]="isLockAll">
                  </kendo-textbox> -->
                  <kendo-textbox type="text" class="k-textbox" [ngModel]="curCombo.Barcode" [disabled]="true">
                  </kendo-textbox>
                </div>

                <div class="grid-item item2">
                  <div class="label">Là Hachi3h</div>
                  <div class="input_label">
                    <input type="checkbox" class="k-checkbox" id="cb_isHachi24" [(ngModel)]="curCombo.IsHachi24h"
                      (click)="clickCheckbox($event, 'IsHachi24h', null)" [disabled]="isLockAll || isAdd" />
                    <label for="cb_isHachi24"><img loading="lazy" src="assets\img\logo\hachi3h.svg" height="14"></label>
                  </div>

                  <div class="item1_4">
                    <div class="label">Giá combo</div>
                    <div>
                      <div>
                        <span class="unitprice">{{curCombo.PriceDiscount | number: '1.0-0'}}</span>
                        <span class="discountpercent">&nbsp;(-{{curCombo.DiscountPercent}} %)</span>
                      </div>
                      <div class="baseprice">{{curCombo.Price | number: '1.0-0'}}</div>
                    </div>
                  </div>

                  <div class="item1_3">
                    <div class="label mt-2">Hình ảnh
                      <button kendoButton icon="export" [disabled]="isLockAll" (click)="onUploadComboImg(0)"></button>
                    </div>
                    <img loading="lazy" [src]="getRes(curImgItem.path)" class="w-100 bigImg">
                    <!-- TODO IvyCarouselModule NOT SUPPORTED -->
                    <carousel height="40" cellWidth="45" cellsToShow="4" cellsToScroll="4" arrowsTheme="'dark'"
                      arrows="true" freeScroll="true">
                      <div class="carousel-cell" width="45" *ngFor="let img of images">
                        <img loading="lazy" [src]="getRes(img.path)" (click)="viewImage(img)">
                        <!-- <span class="k-icon k-i-minus-outline"></span> -->
                      </div>
                    </carousel>
                  </div>

                  <div class="label mt-2">Banner Card
                    <button kendoButton icon="export" [disabled]="isLockAll" (click)="onUploadComboImg(-1)"></button>
                  </div>
                  <img loading="lazy" [src]="getRes(curCombo.BannerCard)" class="w-100 bigImg">
                </div>

                <!-- <div class="grid-item item3">
                  <div class="label">Hình ảnh
                    <button kendoButton icon="export" [disabled]="isLockAll" (click)="onUploadComboImg()"></button>
                  </div>
                  <img loading="lazy" [src]="getRes(curImgItem.path)" class="w-100 bigImg">
                  TODO IvyCarouselModule NOT SUPPORTED
                  <carousel height="40" cellWidth="45" cellsToShow="4" cellsToScroll="4" arrowsTheme="'dark'"
                    arrows="true" freeScroll="true">
                    <div class="carousel-cell" width="45" *ngFor="let img of images">
                      <img loading="lazy" [src]="getRes(img.path)" (click)="viewImage(img)">
                    </div>
                  </carousel>
                </div> -->

                <!-- <div class="grid-item item4">
                  <div class="label">Giá combo</div>
                  <div>
                    <div>
                      <span class="unitprice">{{curCombo.PriceDiscount | number: '1.0-0'}}</span>
                      <span class="discountpercent">&nbsp;(-{{curCombo.DiscountPercent}} %)</span>
                    </div>
                    <div class="baseprice">{{curCombo.Price | number: '1.0-0'}}</div>
                  </div>
                </div> -->

                <div class="grid-item item5">
                  <div class="label">Tên combo</div>
                  <kendo-textbox type="text" class="k-textbox" [disabled]="isLockAll"
                    (keydown.Enter)="$event.target.blur()"
                    [ngModel]="curLanguage == 1 ? curCombo.VNName : curLanguage == 2 ? curCombo.JPName : curCombo.ENName"
                    (ngModelChange)="curLanguage == 1 ? curCombo.VNName=$event : curLanguage == 2 ? curCombo.JPName=$event : curCombo.ENName=$event"
                    (blur)="onTextboxLoseFocus(curLanguage == 1 ? 'VNName' : curLanguage == 2 ? 'JPName' : 'ENName')">
                  </kendo-textbox>
                </div>

                <div class="grid-item item6" id="editor" style="position: 'relative';">
                  <div class="label">Mô tả combo</div>
                  <!-- [content]="curLanguage == 0 ? Blog.ContentVN : curLanguage == 1 ? Blog.ContentJP : Blog.ContentEN"
                  (valueChange)="onValueChange('Content', $event)" (saveEvent)="onSaveInput('Content', $event)" -->
                  <app-p-kendo-editor style="height: 100%;" [readonly]="isLockAll"
                    [(ngModel)]="curLanguage == 1 ? curCombo.WebContentVN : curLanguage == 2 ? curCombo.WebContentJP : curCombo.WebContentEN"
                    (ngModelChange)="onEditorValueChange($event)" (saveEvent)="saveWebContent()"
                    (toggleFolderDialog)="onUploadImg()">
                  </app-p-kendo-editor>

                    <div class="label mt-2">Ghi chú</div>
                    <textarea [readonly]="isLockAll" class="w-100"
                    [ngModel]="curLanguage == 1 ? curCombo.WebUsesVN : curLanguage == 2 ? curCombo.WebUsesJP : curCombo.WebUsesEN"
                    (ngModelChange)="curLanguage == 1 ? curCombo.WebUsesVN=$event : curLanguage == 2 ? curCombo.WebUsesJP=$event : curCombo.WebUsesEN=$event"
                    (blur)="onTextboxLoseFocus(curLanguage == 1 ? 'WebUsesVN' : curLanguage == 2 ? 'WebUsesJP' : 'WebUsesEN')"></textarea>
                </div>

                <!-- <div class="grid-item item7">
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="header header-2" [hidden]="!isEditCombo">
          <div class="title">DS SẢN PHẨM TRONG COMBO-GIFTSET</div>

          <div class="nav-filter nav-btn">
            <form style="display: flex; flex-grow: 1;" [formGroup]="searchForm2">
              <div class="filter-btn-group search-btn-group">
                <div class="search-btn">
                  <span class="k-icon k-i-search"></span>
                  <kendo-textbox formControlName="SearchQuery" type="text" class="k-textbox"
                    placeholder="Tìm theo barcode, poscode, tên sản phẩm">
                  </kendo-textbox>
                </div>
              </div>

              <button kendoButton class="k-button searchBtn" [icon]="'search'" [disabled]="!isFilterActive || isAdd"
                (click)="search2()">TÌM</button>
            </form>
          </div>

          <div class="nav-file nav-btn" *ngIf="!isLockAll">
            <div class="file-btn-group" *ngIf="!isAdd">
              <button kendoButton id="onUploadBtn" class="k-button" [icon]="'export'" (click)="onImportExcel()"
                [disabled]="!isFilterActive || isAdd"></button>
            </div>

            <div class="file-btn-group">
              <button kendoButton id="onDownloadBtn" class="k-button" [icon]="'import'"
                (click)="downloadExcel('ComboGiftsetDetailsTemplate.xlsx')"
                [disabled]="!isFilterActive || isAdd">Template</button>
            </div>
          </div>

          <div class="nav-btn nav-crud" *ngIf="!isLockAll">
            <button kendoButton class="k-button onAddBtn" [icon]="'plus'" (click)="isEditCombo ? onAdd() : onAddCombo()"
              [disabled]="!isFilterActive || isAdd">
              THÊM MỚI</button>
          </div>
        </div>

        <div class="body" [hidden]="!isEditCombo">
          <div class="sections">
            <div class="section grid-wrapper" id="danhsachsanphamtrongcomboTbl">
              <app-p-kendo-grid class="grid" [data]="gridDSView | async" [scrollable]="'none'" [loading]="loading"
                [pageable]="true" [pageSizes]="pageSizes" [pageSize]="pageSize" [skip]="gridDSState.skip"
                [take]="gridDSState.take" [onPageChangeCallback]="onPageChangeCallback" [sortable]="true"
                [sort]="gridDSState.sort" [onSortChangeCallback]="onSortChangeCallback"
                [allowedMoreActionDropdown]="allowActionDropdown"
                [getActionDropdownCallback]="getActionDropdownCallback"
                [onActionDropdownClickCallback]="onActionDropdownClickCallback" [selectable]="selectable"
                [onSelectCallback]="onSelectCallback" [onSelectedPopupBtnCallback]="onSelectedPopupBtnCallback"
                [getSelectionPopupCallback]="getSelectionPopupCallback" [ngClass]="{'scroll5': curPromotion.Category == 5, 
                'scroll6': curPromotion.Category == 6, 'scrollable': curPromotion.Category != 7}">

                <kendo-grid-column field="VNName" title="Tên sản phẩm" class="col_img_tensanpham_masanpham"
                  headerClass="col_img_tensanpham_masanpham">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="img_tensanpham_masanpham">
                      <div class="img">
                        <img loading="lazy" [src]="dataItem.ImageSetting" alt="">
                      </div>
                      <div class="tensanpham_masanpham d-flex">
                        <div class="tensanpham">{{ dataItem.VNName }}</div>
                        <div class="masanpham">
                          <b>{{ dataItem.Barcode }}</b>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Quantity" title="SL trong combo" class="hanmucmua sltrongcombo">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="soluong">
                      <div class="sl">
                        <!-- SL trong combo -->
                        <span>{{ dataItem.Quantity | number: '1.0-0' }}</span>
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Price" class="giakhuyenmai">
                  <ng-template kendoGridHeaderTemplate let-dataItem>
                    <div class="giakhuyenmai">Giá&nbsp;
                      {{ curPromotion.Category == 6 ? 'thanh lý' : curPromotion.Category == 5 ? 'khuyến mãi' : 'bán' }}
                    </div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="unitprice_baseprice">
                      <div class="unitprice">{{ dataItem.PriceDiscount | number: '1.0-0' }}</div>
                      <div class="baseprice" [ngClass]="{'d-none': curPromotion.Category == 7}">{{ dataItem.Price |
                        number: '1.0-0' }}
                      </div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="DiscountAmount" title="Chiết khẩu" class="chietkhau">
                  <ng-template kendoGridHeaderTemplate let-dataItem>
                    <div class="chietkhau">Chiết khẩu</div>
                  </ng-template>
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="amount_percent">
                      <div class="amount">{{ dataItem.DiscountAmount | number: '1.0-0' }}</div>
                      <div class="percent">{{ dataItem.DiscountPercent | number: '1.0-0' }}&nbsp;%</div>
                    </div>
                  </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="Remark" title="Ghi chú" class="ghichu">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <div>{{ dataItem.Remark }}</div>
                  </ng-template>
                </kendo-grid-column>
              </app-p-kendo-grid>
            </div>
          </div>
        </div>
        <!-- END COMBO -->
      </div>
    </mat-drawer-content>
    <!-- DRAWER -->
    <mat-drawer #drawer [mode]="'over'" position="end" opened="false">
      <!-- SẢN PHẨM CON -->
      <form class="formSanpham k-form" [formGroup]="form" (keydown.Enter)="keydownEnter($event)">
        <fieldset>
          <legend>SẢN PHẨM KHUYẾN MÃI</legend>

          <div class="masanpham_img d-flex">
            <kendo-formfield>
              <kendo-label text="Nhập mã sản phẩm" [for]="Barcode">
                <span class="symbol">(*)</span>
              </kendo-label>
              <kendo-textbox formControlName="Barcode" #Barcode (keydown.Enter)="$event.target.blur()"
                (inputBlur)="onTextboxLoseFocus('Barcode')" [(value)]="curPromotionDetail.Barcode"
                [disabled]="!isAddDetail || isLockAll">
              </kendo-textbox>
            </kendo-formfield>

            <div class="img w-50">
              <img loading="lazy" [src]="curPromotionDetail.ImageSetting" alt="" class="w-100">
            </div>
          </div>

          <div class="tensanpham">
            <kendo-label text="Tên sản phẩm">
              <b>{{ curPromotionDetail.PosCode }}</b>
              <b class="tbarcode" [hidden]="curPromotionDetail.TBarcode == null || curPromotionDetail.TBarcode == ''">
                {{ curPromotionDetail.TBarcode }}</b>
            </kendo-label>
            <div class="VNName">{{ curPromotionDetail.VNName }}</div>
          </div>

          <div class="formfield-grid">
            <kendo-formfield class="formfield-col item1" *ngIf="curPromotion.Category == 6">
              <kendo-label [for]="LastDate" text="Date sản phẩm"></kendo-label>
              <kendo-datepicker #LastDate formControlName="LastDate" [format]="'dd/MM/yyyy'" placeholder="dd/mm/yyyy"
                [formatPlaceholder]="{ year: 'yyyy', month: 'MM', day: 'dd' }" [min]="today"
                (valueChange)="onDatepickerChange('LastDate')" [(value)]="lastDate" [disabled]="isLockAll">
              </kendo-datepicker>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item2" *ngIf="curPromotion.Category == 6">
              <kendo-label text="Số lượng thanh lý" [for]="StockQty">
                <span class="symbol">(*)</span>
              </kendo-label>
              <kendo-numerictextbox formControlName="StockQty" #StockQty format="#,0"
                [(value)]="curPromotionDetail.StockQty" [min]="0" [disabled]="isLockAll">
              </kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item3" *ngIf="curPromotion.Category == 6">
              <kendo-label text="." class="invisible"></kendo-label>
              <kendo-textbox formControlName="SellQty" #SellQty
                value="{{ curPromotionDetail.SellQty | number: '1.0-0' }}&nbsp;sp đã bán">
              </kendo-textbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item4">
              <kendo-label text="Số lượng trong combo:" [for]="Quantity">
                <span class="symbol">(*)</span>
                <!-- <i>&nbsp;(Tối thiểu - tối đa)</i><span class="symbol">(*)</span> -->
              </kendo-label>
              <kendo-numerictextbox formControlName="Quantity" [min]="0" #Quantity format="#,0"
                [(value)]="curPromotionDetail.Quantity" [disabled]="isLockAll">
              </kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item5" style="visibility: hidden;">
              <kendo-label text="Hạn" [for]="MaxQuantity" class="invisible">
              </kendo-label>
              <kendo-numerictextbox formControlName="MaxQuantity" #MaxQuantity format="#,0" [min]="0"
                [(value)]="curPromotionDetail.MaxQuantity" [disabled]="isLockAll">
              </kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item6">
              <kendo-label text="Giá khuyến mãi" [for]="PriceDiscount">
                <span class="symbol">(*)</span>
              </kendo-label>
              <kendo-numerictextbox formControlName="PriceDiscount" #PriceDiscount format="#,0"
                [disabled]="curPromotion.Category == 7" [(value)]="curPromotionDetail.PriceDiscount"
                (valueChange)="calculateDiscountOnForm($event)" [disabled]="isLockAll">
              </kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item7" [ngClass]="{'d-none': curPromotion.Category == 7}">
              <kendo-label text="." [for]="Price" class="invisible"></kendo-label>
              <kendo-textbox formControlName="Price" #Price class="red-color"
                value="{{curPromotionDetail.Price | number: '1.0-0'}}">
              </kendo-textbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item8" [ngClass]="{'d-none': curPromotion.Category == 7}">
              <kendo-label text="Chiết khấu" [for]="DiscountAmount"></kendo-label>
              <kendo-textbox formControlName="DiscountAmount" #DiscountAmount
                value="{{curPromotionDetail.DiscountAmount | number: '1.0-0'}}">
              </kendo-textbox>
            </kendo-formfield>

            <kendo-formfield class="formfield-item item9" [ngClass]="{'d-none': curPromotion.Category == 7}">
              <kendo-label text="Chiết khấu" [for]="DiscountPercent" class="invisible"></kendo-label>
              <kendo-textbox formControlName="DiscountPercent" #DiscountPercent
                value="{{curPromotionDetail.DiscountPercent | number: '1.0-0'}}&nbsp;%">
              </kendo-textbox>
            </kendo-formfield>
          </div>

          <kendo-formfield>
            <kendo-label text="Ghi chú" [for]="Remark"></kendo-label>
            <textarea formControlName="Remark" #Remark [(ngModel)]="curPromotionDetail.Remark"
              [attr.disabled]="isLockAll ? '' : null"></textarea>
          </kendo-formfield>

          <kendo-formerror>(*) Trường bắt buộc nhập.</kendo-formerror>

          <div class="k-form-buttons">
            <button kendoButton class="k-button closeBtn" (click)="closeForm()">Đóng</button>
            <button kendoButton class="k-button updateBtn" (click)="onSubmit()" *ngIf="!isLockAll">
              {{ isAddDetail ? 'THÊM MỚI' : 'CẬP NHẬT' }}
            </button>
          </div>
        </fieldset>
      </form>
      <!-- END SẢN PHẨM CON -->
    </mat-drawer>
    <!-- END DRAWER SẢN PHẨM CON -->
  </mat-drawer-container>
  <!-- popup confirm delete -->
  <kendo-dialog #dialog id="deleteDialog" class="deleteDialog" title="Xóa {{context[contextIndex]}}"
    [hidden]="!deleteDialogOpened" (close)="closeDeleteDialog()" [minWidth]="250">
    <p style="margin: 30px; text-align: center;">
      Bạn chắc chắn muốn xóa vĩnh viễn {{context[contextIndex]}}&nbsp;
      "{{ contextIndex == 2 ? curCombo.Barcode : contextIndex == 0 ? curPromotion.PromotionNo :
      curPromotionDetail.VNName }}"
      &nbsp;này?</p>
    <div class="dialog-footer">
      <button kendoButton class="btn-hachi hachi-secondary" (click)="closeDeleteDialog()"
        [icon]="'close'">Không</button>
      <button kendoButton class="btn-hachi hachi-warning" (click)="delete()" [icon]="'trash'">Có</button>
    </div>
  </kendo-dialog>
</div>

<app-folder-popup [pickFileCallback]="pickFileCallback" [GetFolderCallback]="GetFolderCallback"
  [canResize]="isEditCombo"></app-folder-popup>

<app-import-popup [uploadEventHandlerCallback]="uploadEventHandlerCallback"></app-import-popup>
