<div class="app-p-dropdownlist">
    <kendo-dropdownlist #dropdownlist class="k-dropdown dropdownlistCustom" [data]="filterable ? source : data"
        [(ngModel)]="selectedValue" [defaultItem]="defaultItem" [textField]="textField" [valueField]="valueField"
        [valuePrimitive]="valuePrimitive" [filterable]="filterable" [itemDisabled]="itemDisabled" [disabled]="disabled"
        (valueChange)="onValueChange($event)" (selectionChange)="onSelectionChange($event)"
        (filterChange)="handleFilter($event)" (open)="onOpen()" (opened)="onOpened()" (close)="onClose()"
        (closed)="onClosed()" (blur)="onBlur($event)" (focus)="onFocus()" [popupSettings]="_popupSettings"
        [loading]="loading">
        <ng-template kendoDropDownListHeaderTemplate let-dataItem let-index="index">
            <ng-container *ngIf="customHeaderTemplate">
                <ng-container
                    *ngTemplateOutlet="customHeaderTemplate; context: { $implicit: dataItem, index: index }"></ng-container>
            </ng-container>
        </ng-template>

        <ng-template kendoDropDownListValueTemplate let-dataItem let-index="index">
            <ng-container *ngIf="customValueTemplate else defaultValueTemplate">
                <ng-container
                    *ngTemplateOutlet="customValueTemplate; context: { $implicit: dataItem, index: index }"></ng-container>
            </ng-container>
            <ng-template #defaultValueTemplate>
                <span *ngIf="!!dataItem">{{dataItem[textField]}}</span>
            </ng-template>
        </ng-template>

        <ng-template kendoDropDownListItemTemplate let-dataItem let-index="index">
            <ng-container *ngIf="customItemTemplate; else defaultItemTemplate">
                <ng-container *ngTemplateOutlet="customItemTemplate; context: { $implicit: dataItem, index: index }"></ng-container>
            </ng-container>
             <ng-template #defaultItemTemplate>
                <div class="d-flex justify-content-between align-items-center col-gap-10 customContentDropdown">
                    <span [class]="icon" *ngIf="hasIcon && dataItem[valueField] != null"></span>
                    <span class="templateContentBeforeTextField" *ngIf="contentBeforeTextField">{{ contentBeforeTextField
                        }}</span>
                    <span>{{ dataItem[textField] }}</span>
                    <span class="templateContentAfterTextField" *ngIf="contentAfterTextField">{{ contentAfterTextField
                        }}</span>
                </div>
             </ng-template>   
        </ng-template>

    </kendo-dropdownlist>

</div>