::ng-deep .hamberCustom {
  .header-hamber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid rgba(143, 155, 166, 0.4);
    overflow-x: auto;
    .k-breadcrumb {
      margin: 0;
      //   padding: 13px 0;
    }
    .btnFunction {
      .btn {
        padding: 10px;
      }
      .btn:hover {
        opacity: 90%;
      }
    }
  }
  .hamberDetails {
    padding: 15px 0px;
    overflow-y: auto;

    .hamber-title {
      display: flex;
      gap: 40px;
      padding-bottom: 5px;
      .hamber-title-text {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .hamber-title-status {
        font-size: 13px;
        font-weight: 600;
        color: #1a6634;
      }
    }
    .hamber-form {
      background-color: white;
      display: block;
      width: 100%;
      padding-bottom: 20px;
      .hamberDetails-form {
        background-color: white;
        overflow-x: auto;
        .import-image {
          display: flex;
          justify-content: center;
          padding-top: 30px;
          min-width: 377px;
        }
        .hamberDetails-form-grid {
          padding: 10px;
          gap: 20px;
          .hamberDetails-col {
            .grid-item {
              padding-bottom: 10px;
              .k-form-field-wrap {
                .k-focus {
                  outline: 1px solid #1a6634 !important;
                }
              }
            }
            .k-form-field {
              .k-form-label {
                font-size: 13px;
                font-weight: 600;
                color: #959db3;
                padding-bottom: 7px;
              }
              .require-label {
                font-size: 13px;
                font-weight: 600;
                color: red;
                padding-left: 10px;
              }
              .k-form-field-wrap {
                .k-dropdownlist {
                  background-color: transparent;
                  height: 33px;
                  border-radius: 3px;
                  outline: 1px solid #00000014;

                  &:hover {
                    outline: 1px solid #1a6634;
                  }
                }
                padding-bottom: 7px;

                .k-input {
                  height: 33px;
                  outline: 1px solid #00000014;
                  border-radius: 3px;
                  min-width: 377px;
                  &:hover {
                    outline: 1px solid #1a6634;
                  }
                }
              }
            }
          }
        }
      }
    }
    .hamberPack-form {
      padding-top: 13px;
      text-wrap: nowrap;

      .hamberPackDetails-form {
        background-color: white;
        padding: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #959db3;
        overflow-x: auto;

        .col-group-form {
          min-width: 337px;
          .k-form-field-wrap {
            .k-focus {
              outline: 1px solid #1a6634;
            }
          }
        }

        .k-input {
          height: 33px;
          outline: 1px solid #00000014;
          border-radius: 3px;
          .k-input-inner {
            text-align: center;
          }
          &:hover {
            outline: 1px solid #1a6634;
          }
        }
        .k-dropdownlist {
          background-color: transparent;
          height: 33px;
          border-radius: 3px;
          outline: 1px solid #00000014;

          &:hover {
            outline: 1px solid #1a6634;
          }
          &:focus {
            outline: 1px solid #1a6634;
          }
        }
        padding-bottom: 7px;
        .k-form-field-wrap {
          padding-bottom: 7px;
        }
        .k-label {
          padding-bottom: 7px;
        }
        gap: 25px;
        .hamberPack-form-group {
          display: flex;
          gap: 10px;
        }

        .small-textbox {
          height: 33px;
          // width: 18%;
        }
        .big-textbox {
          height: 33px;
          width: 70%;
        }
      }
      .baseUnit {
        .baseUnit-grid {
          gap: 10px;
        }
        .k-form-field-wrap {
          .baseUnit-labelGroup {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
    .hamberOthers-form {
      padding-top: 13px;
      text-wrap: nowrap;
      .hamberOthersDetails-form {
        background-color: white;
        overflow-x: auto;
        padding: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #959db3;
        .grid-item {
          gap: 20px;
          min-width: 337px;
          .k-form-field-wrap {
            .k-focus {
              outline: 1px solid #1a6634;
            }
          }
        }
        .k-input {
          height: 33px;
          outline: 1px solid #00000014;
          border-radius: 3px;
          &:hover {
            outline: 1px solid #1a6634;
          }
        }
        .k-label {
          padding-bottom: 7px;
        }
      }
    }
  }
  .hamerApply {
    padding-bottom: 20px;
    .hamberForm-content {
      padding: 10px;
      gap: 20px;
      background-color: white;
      overflow-x: auto;
      .col-span-1 {
        min-width: 337px;
      }
    }
    .hamber-title {
      display: flex;
      gap: 40px;
      padding-bottom: 5px;
      .hamber-title-text {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #f8f9fa;
  .footer-name {
    padding-right: 16px;
  }
}

.main {
  overflow-y: auto;
  height: 85vh;
}
